<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <form [formGroup]="form" (submit)="filterAepsSettlement()">
                    <div class="row">
                        <div class=" "  [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()"
                                formControlName="selectdate" [bsConfig]="bsCustConfg">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputChanged)='getServerResponse($event)' (inputCleared)="searchCleared()"
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [isLoading]="isLoadingResult" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='id'> SNo</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='serialnumber'> Ref
                                    No</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='mobile'>
                                    mobile</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='utr'> Bank RRN</label>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>&nbsp;</label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --
                                    </option>
                                    <option value="3">Failed</option>
                                    <option value="1">Success</option>
                                    <option value="2">Initiated</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit">
                        &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
                style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered non-hover dataTable" datatable [dtOptions]="dtOptionscr"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">SNO</th>
                            <th scope="col">UserName</th>
                            <th scope="col">bankName</th>
                            <th scope="col">bankiiin</th>
                            <th scope="col">ackno</th>
                            <th scope="col">transfertype</th>
                            <th scope="col">fpTransactionId</th>
                            <th scope="col">last_aadhar</th>
                            <th scope="col">lat</th>
                            <th scope="col">longt</th>
                            <th scope="col">mobile</th>
                            <th scope="col">status</th>
                            <th scope="col">serialnumber</th> 
                            <th scope="col">Dateadded</th>
                            <th scope="col">accessmode</th>
                             <th scope="col">UTR</th> 
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let balanceenqry of billpayment; let i = index">
                            <td>{{balanceenqry.id}}</td>
                            <td>{{balanceenqry.username   |showNullResult}}</td>
                            <td>{{balanceenqry.bankName |showNullResult}}</td>
                            <td>{{balanceenqry.bankiiin |showNullResult}}</td>
                            <td>{{balanceenqry.ackno |showNullResult}}</td>
                            <td>{{balanceenqry.transfertype |showNullResult}}</td>
                            <td>{{balanceenqry.fpTransactionId |showNullResult}}</td>
                            <td>{{balanceenqry.last_aadhar  |showNullResult}}</td>
                            <td>{{balanceenqry.lat |showNullResult}}</td>
                            <td>{{balanceenqry.longt |showNullResult}}</td>
                            <td>{{ balanceenqry.mobile  |showNullResult}}</td>
                            <td>{{balanceenqry.status |showNullResult}}</td>
                            <td>{{balanceenqry.serialnumber |showNullResult}}</td>
                            <td>{{ balanceenqry.dateadded  |showNullResult}}</td>
                            <td>{{balanceenqry.accessmode |showNullResult}}</td>
                            <td>{{balanceenqry.utr |showNullResult}}</td>
                            <td>{{ balanceenqry.remarks |showNullResult }}</td> 
                        </tr>
                    </tbody>

                    <tbody *ngIf="billpayment?.length == 0">
                        <tr>
                            <td colspan="10" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>