<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <label for="">Amount</label>
                        <div class="input-group">
                            <input type="number" #amt ngModel value="" class="form-control form-control-sm"
                                placeholder="Enter Amount" aria-label="Amount" aria-describedby="button-addon2">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="walletTfr(amt.value)"
                            [disabled]="amt.value === ''" type="button" id="button-addon2">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>