<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <table class="table table-striped">
                    <tbody>
                        <!-- <tr *ngFor="let item of credentialData | keyvalue"
    [ngStyle]="{'display':item.name === 'userid'? 'none':'' }
    [ngStyle]="{'display':item.key === 'userid'? 'none':'' }"> -->
                        <tr *ngFor="let item of credentialData">
                            <th scope="row">{{item.name | replace : '_' : ' ' | uppercase}}
                            </th>
                            <td>{{item.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>