.btn-style {
    font-size: 16px;
    text-align: center;
    color: #fff !important;
    width: 100%;
    padding: 10px;
    background: #0032a1;
    border-radius: 20px !important;
    font-weight: 700;
    border-radius: 6px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.padding-right {
    margin-right: 8px!important;
}

.padding-right a {
    font-size: 0.899rem;
    font-weight: 500;
}


/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #0032a1;
}

.mylinks a {
    /* Fit all your links nicely in one line*/
    margin: 0 50px !important;
    /* Give them to the left and right a little room to breathe */
    /* You can adjust the space by modifying the 5px value, */
    /* the 0 modifies the top/bottom spacing */
}

.mylinks a {
    color: white;
    font-weight: 500;
    /* fancy red color for your links*/
}


/* Custom page CSS
-------------------------------------------------- */

small {
    font-size: 55% !important;
    font-weight: 600 !important;
}

.theme-color {
    color: #0032a1!important;
}

.font-w {
    font-weight: 700;
}

footer {
    position: fixed !important;
}

.navicon {
    padding: 0.0rem 1rem!important;
}

.footer {
    background: #1b32a1;
    padding: 10px 15px;
    margin-top: 15px;
}

.footerlinks ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footerlinks li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 15px;
    text-transform: uppercase;
}

.footerlinks li a {
    color: #fff;
    text-decoration: none;
}

.footerlinks li a:hover {
    color: #0076ac;
}

.latest-news {
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}