<div class="card-body px-md-5 py-5">
    <div class="mb-5">
        <h5 class="h3">Login</h5>
        <p class="text-muted mb-0">Sign in to your account to continue.</p>
 
    </div>
    <form class="login-signup-form" [formGroup]="logindata" (submit)="login()">
        <div class="form-group">
            <label class="pb-1">Username</label>
            <div class="input-group input-group-merge">
                <div class="input-icon">
                    <span class="ti-user color-primary"></span>
                </div>
                <input type="text" name="username"
                    [ngClass]="{ 'is-invalid': f.username.touched && f.username.invalid }" formControlName="username"
                    class="form-control" placeholder="Enter username">
            </div>
            <div *ngIf="f.username.touched && f.username.invalid" class="alert-error">
                <div *ngIf="f.username.errors.required"><small><b>UserName is
                            required.</b></small></div>
                <div *ngIf="f.username.errors.minlength"><small><b>Name should be 6
                            character.</b></small></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="pb-1">Password</label>
                </div>
                <div class="col-auto">
                    <a href="javascript:void(0)" routerLink="/forgot-password" class="form-text small text-muted">
                        Forgot password?
                    </a>
                </div>
            </div>
            <div class="input-group input-group-merge">
                <div class="input-icon">
                    <span class="ti-lock color-primary"></span>
                </div>
                <input type="password" class="form-control"
                    [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid }" name="password"
                    formControlName="password" placeholder="Enter your password">
            </div>
            <div *ngIf="f.password.touched && f.password.invalid" class="alert-error">
                <div *ngIf="f.password.errors.required"><small><b>Password is
                            required.</b></small></div>
                <div *ngIf="f.password.errors.minlength"><small><b>Password should be 6
                            character.</b></small></div>
            </div>
        </div>
        <button class="btn btn-primary btn-block" [disabled]="!logindata.valid">
            Sign in
        </button>

    </form>
</div>



<div class="modal" id="myModal" [style.display]="showModal==false?'none' : 'block'">
    <div class="modal-dialog">
        <div class="modal-content model-center">
            <div class="modal-header center">
                <h6 class="modal-title ">Enter OTP TO Verify</h6>
            </div>
            <div class="modal-body">
                <div class="row box-center">
                    <input type="number" tabindex="1" class="form-control ml-2 " appOtpVerification maxlength="1"
                        [(ngModel)]="otp.input1" (keyup)="moveFocus()" />
                    <input type="number" class="form-control ml-2" appOtpVerification maxlength="1"
                        [(ngModel)]="otp.input2" (keyup)="moveFocus()" />
                    <input type="number" class="form-control ml-2" appOtpVerification maxlength="1"
                        [(ngModel)]="otp.input3" (keyup)="moveFocus()" />
                    <input type="number" class="form-control ml-2" appOtpVerification maxlength="1"
                        [(ngModel)]="otp.input4" (keyup)="moveFocus()" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="card-footer bg-transparent border-top"><small>Didn't get the OTP ?</small>
                    <a href="javascript:void(0)" (click)="resend_otp()" class="small"> Resend</a>
                </div>
            </div>

        </div>
    </div>
</div>