
     input[type=number] {
         height: 45px;
         width: 45px;
         font-size: 25px;
         text-align: center;
         padding: 0;
     }
     
     input[type=number]::-webkit-inner-spin-button,
     input[type=number]::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
     }
     
     .model-center {
         margin-top: 194px !important;
     }
     
     .box-center {
         margin-left: 95px !important;
     }
     
     .showModal {
         display: block;
     }
     