
<nav id="sidebar">
    <app-common-sidebar></app-common-sidebar>
    <ul class="list-unstyled menu-categories" id="accordionExample">
        <li class="menu">
            <a routerLink="/dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </div>
            </a>
        </li>

        <!-- User -->
        <li class="menu">
            <a href="#user" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-user-friends"></i>
                    <span>User</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu   list-unstyled" id="user" data-parent="#accordionExample">

                <li class="sub-sub-submenu-list">
                    <a href="#staff" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>Staff</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="staff">
                        <li><a routerLink="/add-staff">Add</a></li>
                        <li><a routerLink="/list-staff">View</a></li>

                    </ul>
                </li>
                <li class="sub-sub-submenu-list">
                    <a href="#account" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>Account</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="account">
                        <li><a routerLink="/add-account">Add</a></li>
                        <li><a routerLink="/list-account">View</a></li>

                    </ul>
                </li>
                <li class="sub-sub-submenu-list">
                    <a href="#asm" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>ASM</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="asm">
                        <li><a routerLink="/add-asm">Add ASM</a></li>
                        <li><a routerLink="/list-asm">View ASM</a></li>
                    </ul>
                </li>
                <li class="sub-sub-submenu-list">
                    <a href="#apipartner" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>API Partner</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="apipartner">
                        <li><a routerLink="/create-apipartner">Add</a></li>
                        <li><a routerLink="/list-apipartner">List</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- Funding -->
        <!-- <li class="menu">
            <a routerLink="/Add-Fund" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-rupee-sign"></i>
                    <span>Add Fund Admin</span>
                </div>
            </a>
        </li> -->
        <li class="menu">
            <a href="#funding" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-rupee-sign"></i>
                    <span>Funding</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="funding" data-parent="#accordionExample">
                <li *ngIf="details.is_approver =='1' || details.is_admin =='1'"><a routerLink="/approve-funding">Approve
                    </a></li>
                <li><a
                        routerLink="/authorize-funding">Authorize</a></li>
                <li><a routerLink="/allRequest-funding">All Requests</a></li>
                <li><a routerLink="user/userlist">User List</a></li>
                <li><a routerLink="/Add-Fund">Add Fund Admin</a></li>
            </ul>

        </li>
        <!-- Company Bank -->
        <li class="menu">
            <a href="#components" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-building"></i>
                    <span>Company bank</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="components" data-parent="#accordionExample">
                <li><a routerLink="/add-company-bank">Add</a></li>
                <li><a routerLink="/list-company-bank">List</a></li>
                <li><a routerLink="/bank-transfer">Transfer</a></li>
                <li><a routerLink="/bank-statement">Statement</a></li>
            </ul>
        </li>
        <!-- Operarator -->
        <li class="menu">
            <a href="#Operator" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-mobile-alt"></i>
                    <span>Operator</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu   list-unstyled" id="Operator" data-parent="#accordionExample">

                <li class="sub-sub-submenu-list">
                    <a href="#Bill" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>Bill</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="Bill">
                        <li><a routerLink="/add-operator-bill">Add</a></li>
                        <li><a routerLink="/list-operator-bill">List</a></li>
                    </ul>
                </li>
                <li class="sub-sub-submenu-list">
                    <a href="#Recharge" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>Recharge</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="Recharge">
                        <li><a routerLink="/add-operator-recharge">Add </a></li>
                        <li><a routerLink="/list-operator-recharge">View List</a></li>


                    </ul>
                </li>
            </ul>
        </li>
        <!-- Permission -->
        <li class="menu">
            <a href="#permissionmanager" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-user-lock"></i>
                    <span>Permission</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="permissionmanager" data-parent="#accordionExample">
                <li><a routerLink="/user-permission">User</a></li>
                <li><a routerLink="/staff-permission">Staff</a></li>
            </ul>
        </li>
        <!-- Commission -->
        <li class="menu">
            <a href="#commission" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-percentage"></i>
                    <span>Commission</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="commission" data-parent="#accordionExample">
                <li><a routerLink="commission/aeps"> AEPS</a></li>
                <li><a routerLink="commission/dmt"> DMT</a></li>
                <li><a routerLink="commission/recharge"> Recharge</a></li>
                <li><a routerLink="commission/paymentgateway"> Payment Gateway</a></li>
                <li><a routerLink="commission/othercomm"> Other Commissions</a></li>
            </ul>
        </li>
        <!-- Credential -->
        <li class="menu">
            <a href="#credentials" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-user-lock"></i>
                    <span>Credential</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="credentials" data-parent="#accordionExample">
                <li><a routerLink="/create-credentials">Create</a></li>
                <li><a routerLink="/updateip"> Update Ip</a></li>
                <li><a routerLink="/update-virtual-account"> Update Virtual Account</a></li>
                <li><a routerLink="/gencredential">Generate Credential</a></li>
            </ul>
        </li>
        <!-- Statement  -->
        <li class="menu">
            <a href="#Statement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Statement</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu   list-unstyled" id="Statement" data-parent="#accordionExample">
                <li><a routerLink="/credit-ledger"> Credit Ledger</a></li>
                <li><a routerLink="/debit-ledger"> Debit Ledger</a></li>
                <li class="sub-sub-submenu-list">
                    <a href="#aeps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>AEPS</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="aeps">
                        <li><a routerLink="/Aadhaar-Pay">Aadhaar Pay</a></li>
                        <li><a routerLink="/Aeps-cash-withdrawal">Cash Withdrawal</a></li>
                        <li><a routerLink="/Aeps-balance-enquiry">Balance Enquiry</a></li> 
                        <li><a routerLink="/aepsministatement">Mini Statement</a></li>
                        <li><a routerLink="/Aeps-settlement">Settlement</a></li>
                        <li><a routerLink="/merchant-onboard-Statement">Merchant Onboard</a></li>
                        <li><a routerLink="/Cash-Deposit-Statement"> Cash Deposit</a></li>
                    </ul>
                </li> 
                <li class="sub-sub-submenu-list">
                    <a href="#dmt" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>DMT</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="dmt">
                        <li><a routerLink="/dmt-Statement">ALL</a></li>
                        <li><a routerLink="/dmt-Statement/parked">In Process </a></li>
                        <li><a routerLink="/dmt-Statement/hold">Hold</a></li> 
                        <li><a routerLink="/dmt-Statement/transfer-to-bank">TSF To Bank</a></li> 
                    </ul>
                </li>
                <li><a routerLink="/recharge-Statement">Recharge</a></li>
                <li><a routerLink="/Bill-Payment-Statement">Bill Payment</a></li>
                <li><a routerLink="/pg-transaction">PG Transaction</a></li>
                <li><a routerLink="/Wallet-Upload">Wallet</a></li>
            </ul>
        </li>
        <!-- Control -->
        <li class="menu" *ngIf="details.controlmanager =='1'">
            <a routerLink="/Controls" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-crosshairs"></i>
                    <span>Controls</span>
                </div>
            </a>
        </li>

        <li class="menu version"><span>Version : {{ version }}</span></li>
    </ul>

</nav>