<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
            <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Admin Type</th>
                        <th scope="col">Add Date</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of AccountList; let i = index">
                        <td>{{list.name}}</td>
                        <td>{{list.username}}</td>
                        <td>{{list.email}}</td>
                        <td>{{list.phone}}</td>
                        <td>{{list.is_approver === '0' ? 'Authoriser' : 'Approver'}}</td>
                        <td>{{list.addeddate}}</td>
                        <td> <button class="btn btn-outline-primary btn-sm" (click)="editaccount(modalopen,list)"> <i
                                    class="fas fa-edit"></i>Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
       </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalopen let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">EDIT ACCOUNT DETAILS</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editAccounts" (submit)="edit_accounts()">
            <div class="form-row">
                <div class="col-md-6 mb-4">
                    <label for="validationDefault01">Name</label>
                    <input type="text" class="form-control " formControlName="name" autocomplete="off"
                        placeholder="Name">
                    <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                        <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <label for="validationDefault05">Enter Email</label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Enter Email"
                        formControlName="email">
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert-error">
                        <div *ngIf="f.email.errors.required"><small><b>Email is required.</b></small></div>
                        <div *ngIf="f.email.errors.pattern"><small><b> Please input a valid email.</b></small></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="validationDefault05">Enter Phone</label>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Enter Phone"
                        formControlName="phoneNo">
                    <div *ngIf="f.phoneNo.touched && f.phoneNo.invalid" class="alert-error">
                        <div *ngIf="f.phoneNo.errors.required"><small><b>Phone Number is required.</b></small></div>
                        <div *ngIf="f.phoneNo.errors.pattern"><small><b> Please input 10 digit phone Number Only Digits
                                    are allowed!.</b></small></div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        <label> Status: <span class="alert-error">*</span></label><br>
                        <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                formControlName="activestatus" value="1"> Active </label>&nbsp;&nbsp;&nbsp;
                        <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                formControlName="activestatus" value="0"> Deactive</label>
                        <div *ngIf="f.activestatus.touched && f.activestatus.invalid" class="alert-error">
                            <div *ngIf="f.activestatus.errors.required"><small><b>Status is required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Admin Type: <span class="alert-error">*</span></label><br>
                        <label><input type="radio" [(ngModel)]="admintype" name="admintype" formControlName="admintype"
                                value="1"> Approver </label>&nbsp;&nbsp;&nbsp;
                        <label><input type="radio" [(ngModel)]="admintype" name="admintype" formControlName="admintype"
                                value="0">Authoriser</label>
                        <div *ngIf="f.admintype.touched && f.admintype.invalid" class="alert-error">
                            <div *ngIf="f.admintype.errors.required"><small><b>Admin Type is required.</b></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="validationDefault05">Enter Remarks</label>
                    <textarea cols="50" rows="7" formControlName="remarks"></textarea>
                    <div *ngIf="f.remarks.touched && f.remarks.invalid" class="alert-error">
                        <div *ngIf="f.remarks.errors.required"><small><b>Remarks is required.</b></small></div>
                    </div>
                </div>
                <div class="col-md-3 mb-4"></div>
                <div class="col-md-5 mb-4 remarks" [innerHTML]="remark">

                </div>
            </div>
            <div class="clear"></div>
            <button class="mt-4 btn btn-primary" type="submit" [disabled]="!editAccounts.valid">Submit</button>
        </form>
    </div> 
</ng-template>