<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row" *ngIf="userId === ''">
                    <div class="col-md-6 mx-auto">
                        <label>Select Users</label>
                        <div class="form-group">


                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="showErrorMesg !== null" class="alert alert-danger" role="alert">
                    {{showErrorMesg}}
                </div>
                <div class="form_blk container" *ngIf="showData">
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="updateIp" (submit)="OnUpdate_ip()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Enter Ip: <span class="alert-error">*</span></label>
                                            <input type="text"
                                                [ngClass]="{ 'is-invalid':  f.ip.touched && f.ip.invalid }"
                                                class="form-control" autocomplete="off" placeholder="Enter Allowed Ip"
                                                formControlName="ip">
                                            <div *ngIf="f.ip.touched && f.ip.invalid" class="alert-error">
                                                <div *ngIf="f.ip.errors.required"><small><b>Ip is
                                                            required.</b></small></div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Status: <span class="alert-error">*</span></label><br>
                                            <label><input type="radio" name="activestatus"
                                                    formControlName="activestatus" value="1">
                                                Active </label>&nbsp;&nbsp;&nbsp;
                                            <label><input type="radio" name="activestatus"
                                                    formControlName="activestatus" value="0">
                                                Deactive</label>
                                            <div *ngIf="f.activestatus.touched && f.activestatus.invalid"
                                                class="alert-error">
                                                <div *ngIf="f.activestatus.errors.required"><small><b>Status is
                                                            required.</b></small></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-danger" [disabled]="!updateIp.valid"
                                        value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>