<div class="layout-px-spacing">
    <div class="row layout-spacing">
        <div class="col-xl-12 layout-top-spacing">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table   non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">SNo</th>
                                <th>txnid</th>
                                <th style="width: 15%;" >benename</th>
                                <th>acno</th>
                                <th style="width: 15%;">bank</th>
                                <th>mobile</th>
                                <th>amount</th>   
                                <th>type</th>
                                <th>date</th>
                                <th>ifsccode</th>
                                <th>apitype</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of parkedList">
                                <td>{{item.id}}</td>
                                <td>{{item. txnid}}</td>
                                <td>{{item. benename}}</td>
                                <td>{{item. acno}}</td>
                                <td>{{item. bankname}}</td>
                                <td>{{item. mobile}}</td>
                                <td>{{item. amount}}</td>  
                                <td>{{item. transfertype}}</td>
                                <td>{{item. date}}</td>
                                <td>{{item. ifsccode}}</td>
                                <td>{{item. apitype}}</td> 
                                <td>  <span *ngIf="item.is_process == 1"><a href="javascript:void(0)" target="_blank"  [routerLink]="['/dmt-Statement/process/',item.id]"   class="btn btn-success btn-sm">Process</a></span> &nbsp; </td> 
                            </tr>

                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div>