.positive {
    background-color: #d4edda;
    border-color : #c3e6cb;
    }
    
    .negative {
    background-color: #f8d7da;
    border-color : #f5c6cb;
    }
    
    h3 {
    color : #7e8299 !important;
    display: inline-block !important;
    }
    
    .inputBox {
    text-align : center;
    padding : 10px;
    border-radius: 10px;
    box-shadow : 2px 3px 4px black;
    }
    
    
    .inputBox.positive {
    background-color: #d4edda;
    border-color : #c3e6cb;
    
    }
    
    .inputBox.negative {
    background-color: #f8d7da;
    border-color : #f5c6cb;
    }
    
    .ng-autocomplete {
    min-width: 200px !important;
    max-width: 600px !important;
    width : auto !important;
    }
    
    
    
    
    
    .note-container.note-grid .note-item .note-inner-content {
    min-height: 100px !important;
    }
    
    .new-control.new-radio>input:not(:checked)~span.new-control-indicator {
    border: 1px solid #666;
    }
    
    .note-container.note-grid .note-item {
    width : unset !important;
    min-width : 180px !important;
    margin-right: 10px !important;
    max-width : max-content !important;
    }
    
    
    @media (max-width: 2132px) {
    .note-container.note-grid .note-item {
    width : unset !important;
    min-width: 180px !important;
    }
    }
    
    @media (max-width: 480px) {
    .note-container.note-grid .note-item {
    width : unset !important;
    max-width: unset !important;
    min-width: 100% !important;
    }
    }