<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row" *ngIf="userId === ''">
                    <div class="col-md-6 mx-auto">
                        <label>Select Users</label>
                        <div class="form-group">
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>



                <div *ngIf="showData">
                    <div *ngFor="let itme of updatedData; let i=index" class="mb-3">
                        <div *ngIf="(itme.heading !== 'userid' && itme.heading !== 'is_editable')">
                            <h3>{{itme.heading}}</h3>
                            <div class="note-container note-grid mt-2">

                                <div class="note-item all-notes note-work"
                                    *ngFor="let subItem of itme.items; let j=index;">
                                    <div class="note-inner-content">
                                        <div class="note-content">
                                            <input type="radio" name="hiddenRd"
                                                (click)="handleChange(subItem.name,$event, i , j)" hidden
                                                value="{{subItem.value}}" />

                                            <p class="note-title" data-notetitle="Meeting with Kelly">{{subItem.name |
                                                replace :
                                                '_' :
                                                ' '| replace : '-' : ' '| titlecase }}</p>

                                            <div class="note-description-content">
                                                <div class="mt-2" *ngIf="itme.heading !== 'SETTLEMENT'">
                                                    <div class="n-chk" *ngIf="subItem.name !== 'SMS-GATEWAY'">
                                                        <label class="new-control new-radio radio-success">
                                                            <input type="radio" class="new-control-input"
                                                                appRadioControl name="{{subItem.name}}"
                                                                [checked]="(subItem.value === '1') ? true : false"
                                                                value="1">
                                                            <span class="new-control-indicator"></span>Yes
                                                        </label>

                                                        <label class="new-control new-radio radio-danger">
                                                            <input type="radio" class="new-control-input"
                                                                appRadioControl name="{{subItem.name}}"
                                                                [checked]="(subItem.value === '0') ? true : false"
                                                                value="0">
                                                            <span class="new-control-indicator"></span>No
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="text-center mt-3">
                        <button type="button" [disabled]="!isAnyChanges" (click)="onSubmit(updatedData)"
                            class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>