<div class="container-fluid">
    <div class="white_bg">
        <!-- <ul class="nav nav-tabs side_nav" role="tablist">
            <li *ngFor="let wallet of coinwallet; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li" [class.active]="selectedwallet===wallet">
              <a (click)="selectedwallet = wallet" class="btn btn-default" aria-controls="one" role="tab" data-toggle="tab">{{wallet}}</a>
            </li>
          </ul>
          
          <div class="tab-content">
         
             <div *ngIf="selectedwallet === coinwallet[0]" role="tabpanel" class="tab-pane active" id="one">wallet 1 content</div>
            <div *ngIf="selectedwallet === coinwallet[1]" role="tabpanel" class="tab-pane active" id="two">wallet 2 content</div> 
          </div> -->
        <h1>Recharge</h1>
        <form [formGroup]="RechargeForm" (ngSubmit)="doRecharge()">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <label>Select Category</label>
                    <div class="form-group">
                        <select class="form-control" [ngClass]="{ 'is-invalid':  f.cateogry.touched && f.cateogry.invalid }" (change)="getOprator(usr.value)" #usr  formControlName="cateogry">
                            <option value="" selected="selected" disabled="disabled">-- select one --</option>
                            <option *ngFor="let cat of catName;" value="{{cat.catName}}">
                                {{cat.catName}}</option>
                        </select>
                    </div>
                    <div *ngIf="f.cateogry.touched && f.cateogry.invalid" class="alert-error">
                        <div *ngIf="f.cateogry.errors.required"><small><b>Cateogry is required.</b></small></div> 
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="showData">
                <div class="col-md-6 mx-auto">
                    <label>Select Operator</label>
                    <div class="form-group">
                        <select class="form-control" [ngClass]="{ 'is-invalid':  f.Operator.touched && f.Operator.invalid }" (change)="getmobile(usr1.value)" #usr1  formControlName="Operator">
                            <option value="" selected="selected" disabled="disabled">-- select one --</option>
                            <option *ngFor="let data of searchdata;" value="{{data.id}}">
                                {{data.name}}</option>
                        </select>
                    </div>
                    <div *ngIf="f.Operator.touched && f.Operator.invalid" class="alert-error">
                        <div *ngIf="f.Operator.errors.required"><small><b>Operator is required.</b></small></div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto" *ngIf="showD">
                    <div class="form-group">
                        <label>Mobile Number (+91)</label>
                        <input type="number" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid':  f.mobile.touched && f.mobile.invalid }" placeholder="Mobile Number (+91)"  formControlName="mobile">
                        <div *ngIf="f.mobile.touched && f.mobile.invalid" class="alert-error">
                            <div *ngIf="f.mobile.errors.required"><small><b>Mobile is required.</b></small></div> 
                            <div *ngIf="f.mobile.errors.pattern"><small><b> Please input 10 digit phone Number Only Digits are allowed!.</b></small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="showD">
                <div class="col-md-6 mx-auto">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" class="form-control" [ngClass]="{ 'is-invalid':  f.amount.touched && f.amount.invalid }" placeholder="Amount"  formControlName="amount">
                    </div>
                    <div *ngIf="f.amount.touched && f.amount.invalid" class="alert-error">
                        <div *ngIf="f.amount.errors.required"><small><b>Amount is required.</b></small></div> 
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row mx-auto">
                <div class="col text-center">
                    <button type="submit" value="submit"  [disabled]="!RechargeForm.valid" class="btn btn-danger">Submit</button>
                  </div> 
            </div>
        </form>
    </div>
</div>