.showValBox {
    position: relative;
}

@media(min-width: 768px) {
    .showValBoxList {
        position          : absolute;
        background-color  : #fff;
        width             : 100%;
        top               : 30px;
        right             : 104%;
        top               : 20px;
        padding           : 10px;
        border-radius     : 15px 0 15px 15px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow   : 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow        : 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        min-width         : 420px;
    }
}