<div class="card-body px-md-5 py-5">
    <div class="mb-5">
        <h5 class="h3">Change Password</h5>
    </div>

    <!--login form-->
    <form class="login-signup-form" [formGroup]="changePass" (submit)="Change_password()">
        <div class="form-group showValBox">
            <label class="pb-1">New Password</label>
            <div class="input-group input-group-merge">
                <div class="input-icon">
                    <span class="ti-lock color-primary"></span>
                </div>
                <input type="password" class="form-control" placeholder="Enter New Password"
                    [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid}" formControlName="password"
                    (focus)="showErrorBox = true;" (focusout)="showErrorBox=false" />
            </div>
            <!-- <div *ngIf="f.password.touched && f.password.invalid" class="alert-error">
    <div *ngIf="f.password.errors.required"><b>New Password is required.</b></div>
    </div> -->
            <div *ngIf="showErrorBox || (f.password.touched && f.password.invalid)"
                class="showValBoxList alert-error mt-3">
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('minlength') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must be at least 8 characters!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasNumber') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 number!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasCapitalCase') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 in Capital Case!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasSmallCase') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 Letter in Small Case!
                </label>
                <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
    changePass.controls['password'].hasError('hasSpecialCharacters') ? 'far fa-times-circle' :
    'far fa-check-circle'"></i>
                    Must contain at least 1 Special Character!
                </label>
            </div>
        </div>
        <!-- Password -->
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="pb-1">Confirm Password</label>
                </div>
            </div>
            <div class="input-group input-group-merge">
                <div class="input-icon">
                    <span class="ti-lock color-primary"></span>
                </div>
                <input type="password" class="form-control"
                    [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.invalid }"
                    name="confirmPassword" formControlName="confirmPassword" placeholder="Enter Confirm Password">
            </div>
            <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert-error">
                <div *ngIf="changePass.controls['confirmPassword'].hasError('required')">
                    <small><b> Confirm Password is
                            required.</b></small>
                </div>
                <div *ngIf="changePass.controls['confirmPassword'].hasError('NoPassswordMatch')">
                    <small><b>Password do not match</b></small>
                </div>
            </div>

        </div>

        <!-- Submit -->
        <button class="btn btn-primary btn-block" [disabled]="!changePass.valid">
            Change Password
        </button>

    </form>
</div>