<div class="layout-px-spacing">
    <div class="row layout-spacing">
        <div class="col-xl-12 layout-top-spacing">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered   non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Acno</th>
                                <th>Amount</th>
                                <th>Benename</th>
                                <th>Ifsccode</th>
                                <th>Mobile</th>
                                <th>remarks</th>
                                <th>status</th>
                                <th>txnid</th>
                                <th>utr</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th> {{queryList.acno | showNullResult}}</th>
                                <td> {{queryList.amount | showNullResult}} </td>
                                <td> {{queryList.benename | showNullResult}} </td>
                                <td> {{queryList.ifsccode | showNullResult}} </td>
                                <td> {{queryList.mobile | showNullResult}} </td>
                                <td> {{queryList.remarks | showNullResult}} </td>
                                <td> {{queryList.status | showNullResult}} </td>
                                <td> {{queryList.txnid | showNullResult}} </td>
                                <td> {{queryList.utr | showNullResult}} </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <textarea readonly [(ngModel)]="myTextarea" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>