<div class="container">
    <h1>Onboarding Process</h1>
    <div class="form_blk">
        <form [formGroup]="formDt" (ngSubmit)="submit()">
            <div [ngSwitch]="_expression">
                <div *ngSwitchCase="1">
                    <div>
                        <h3 class="text-center">Mobile Number Verification</h3>
                        <div class="row mt-4">
                            
                        </div>
                        <div class="text-right">
                            <input type="button" *ngIf="f.mobile.dirty" [disabled]="f.mobile.invalid" class="btn btn-primary" value="Next" (click)="_expression = 2">
                        </div>
                    </div>
                </div>  
                <div *ngSwitchCase="2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>PAN</label>
                                <input type="text" [ngClass]="{'is-invalid': f.pan.touched && f.pan.invalid}" (keyup)="verifyPan(pan.value)" #pan class="form-control" formControlName="pan" maxlength="10" />
                                <div *ngIf="f.pan.touched && f.pan.invalid" class="alert-error">
                                    <div *ngIf="f.pan.errors?.required"><small><b>PAN is required.</b></small></div>
                                    <div *ngIf="f.pan.errors?.pattern && !f.pan.errors?.minLength"><small><b>Enter Valid
                                                PAN
                                                Number.</b></small>
                                        <!-- <div *ngIf="f.pan.errors?.pattern"><small><b>Enter Valid Mobile Number.</b></small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isPanValid">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Name</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-sm-4">
                                <label>Date of Birth</label>
                                <input type="text" class="form-control" formControlName="dob">
                            </div>
                            <div class="col-sm-4">
                                <label>Father's Name</label>
                                <input type="text" class="form-control" formControlName="fname">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form_blk">
                                    <div class="form-group">
                                        <label>Upload PAN</label>
                                        <input type="file" (change)="onFileSelect($event, 'panFile')" formControlName="panFile" class="form-control">
                                    </div>
                                    <div class="mt-4"><img [src]="panFiles" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                                </div>
                            </div>

                        </div>



                    </div>
                    <div class="d-flex justify-content-between">

                        <input type="button" class="btn btn-primary" value="Back" (click)="_expression = 1">
                        <input type="button" *ngIf="f.pan.dirty" [disabled]="f.pan.invalid" class="btn btn-primary" value="Next" (click)="_expression = 3">
                    </div>
                </div>
                <div *ngSwitchCase="3">
                    <div class="col-sm-4">
                        <div class="form_blk">
                            <div class="form-group">
                                <label>Upload Aadhaar Front</label>
                                <input type="file" (change)="onFileSelect($event, 'aadhaarFrontFl')" formControlName="aadhaarFrontFl" class="form-control">
                                <input type="hidden" formControlName="hpanFile" class="form-control">
                            </div>
                        </div>
                        <div class="mt-4"><img [src]="aadhaarFrontFls" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form_blk">
                            <div class="form-group">
                                <label>Upload Aadhaar Back</label>
                                <input type="file" (change)="onFileSelect($event, 'aadhaarBackFl')" formControlName="aadhaarBackFl" class="form-control">
                            </div>
                        </div>
                        <div class="mt-4"><img [src]="aadhaarBackFls" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="button" class="btn btn-primary" value="Back" (click)="_expression = 2">
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" value="Submit">
                        </div>
                    </div>
                    <!-- <input type="button" *ngIf="f.pan.dirty" [disabled]="f.pan.invalid" class="btn btn-primary"
                        value="Next" (click)="_expression = 3"> -->
                </div>

                <div *ngSwitchDefault>..Default..</div>
            </div>



        </form>
    </div>
</div>