<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <form [formGroup]="form" (ngSubmit)="dmtSearch()">
                    
                    <div class="row">
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-3">
                            <div class="form-group m-0">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='id'> S.No</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='txnid'> TxnId </label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='refid'> RefId</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='utr'> UTR</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='mobile'> Mobile</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='acno'>Account No</label>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Type Search Value </label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="0">Refunded</option>
                                    <option value="1">Success</option>
                                    <option value="2">Inprocess</option>
                                    <option value="3">Transfer to bank</option>
                                    <option value="4">Hold</option>
                                    <option value="5">Failed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Transfer Type</label>
                                <select class="form-control" name="transfertype" formControlName="transfertype">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="NEFT">NEFT</option>
                                    <option value="IMPS">IMPS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>From Bank</label>
                                <select class="form-control" name="frombank" formControlName="frombank">
                                    <option value="" selected="selected">-- select one --</option>
                                    <option value="FINO"> BANK1</option>
                                    <option value="AIRTEL">BANK2</option>
                                    <option value="PAYTM">BANK3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit"> &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
            style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions"
                    style="width:100%">

                    <thead>
                        <tr>
                            <th scope="col" style="min-width: 90px;">TxnId</th>
                            <th scope="col" style="min-width: 90px;">Sno</th>
                            <th scope="col" style="min-width: 90px;">RefId.</th>
                            <th scope="col" style="min-width: 90px;">UserName</th>
                            <th scope="col" style="min-width: 90px;" style="min-width: 180px;">BankName</th>
                            <th scope="col" style="min-width: 90px;">AcountNo</th>
                            <th scope="col" style="min-width: 110px;">IFSCCode</th>
                            <th scope="col" style="min-width: 90px;" style="min-width: 210px;">BeneName</th>
                            <th scope="col" style="min-width: 90px;">Mobile</th>
                            <th scope="col" style="min-width: 90px;">Amount</th>
                            <th scope="col" style="min-width: 90px;">Charges</th>
                            <th scope="col" style="min-width: 90px;">UTR</th>
                            <th scope="col" style="min-width: 90px;">Status</th>
                            <th scope="col" *ngIf="usertype ==0" style="min-width: 180px;">Action</th> 
                            <th scope="col" style="min-width: 160px;">Remarks</th>
                            <th scope="col" style="min-width: 90px;">TransferType</th>
                            <th scope="col" style="min-width: 90px;">Date</th>
                            <th scope="col" style="min-width: 90px;">APIType</th>
                            <th scope="col" style="min-width: 90px;">Refunded</th>
                            <th scope="col" style="min-width: 90px;">CUST.CHARGE</th>
                            <th scope="col" style="min-width: 90px;">GST</th>
                            <th scope="col" style="min-width: 90px;">Discount</th>
                            <th scope="col" style="min-width: 90px;">TDS</th>
                            <th scope="col" style="min-width: 90px;">Net.Comm</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="dmt_stmt?.length != 0">
                        <tr *ngFor="let dmtlist of dmt_stmt">
                            <td>{{dmtlist.id}}</td>
                            <td>{{dmtlist.txnid}}</td>
                            <td>{{dmtlist.reference}}</td>
                            <td>{{dmtlist.username}}</td>
                            <td>{{dmtlist.bankname | showNullResult}}</td>
                            <td>{{dmtlist.acno}}</td>
                            <td>{{dmtlist.ifsccode}}</td>
                            <td>{{dmtlist.benename }}</td>
                            <td>{{dmtlist.mobile}}</td>
                            <td>{{dmtlist.amount}}</td>
                            <td>{{dmtlist.charges}}</td>
                            <td>{{dmtlist.utr | showNullResult}}</td>
                            <td>{{dmtlist.status}}</td>
                            <td *ngIf="usertype ==0" >
                                <span *ngIf="dmtlist.is_query == 1">&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" target="_blank" [routerLink]="['/dmt-Statement/query/',dmtlist.id]"  class="btn btn-warning btn-sm">Query</a></span> &nbsp;
                                <span *ngIf="dmtlist.is_process == 1"><a href="javascript:void(0)" target="_blank"  [routerLink]="['/dmt-Statement/process/',dmtlist.id]"   class="btn btn-success btn-sm">Process</a></span> &nbsp;
                                <span *ngIf="dmtlist.is_refund == 1"><a href="javascript:void(0)"   (click)="showrefund(modalopen,dmtlist.id)" class="btn btn-danger btn-sm">Refund</a></span> &nbsp;
                              </td> 
                            <td>{{dmtlist.remarks | showNullResult}}</td>
                            <td>{{dmtlist.transfertype}}</td>
                            <td>{{dmtlist.date}}</td>
                            <td>{{dmtlist.apitype}}</td>
                            <td>{{dmtlist.refunded | showNullResult}}</td>
                            <td>{{dmtlist.customercharge | showNullResult}}</td>
                            <td>{{dmtlist.gst | showNullResult}}</td>
                            <td>{{dmtlist.discount | showNullResult}}</td>
                            <td>{{dmtlist.tds | showNullResult}}</td>
                            <td>{{dmtlist.netcommission | showNullResult}}</td>

                        </tr>
                    </tbody>
                    <tbody *ngIf="dmt_stmt?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #modalopen let-modal>
    <div class="modal-header"> 
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="refund"  (submit)="request_refund()">
            <div class="row">
                <div class="col-md-12 col-12 mx-auto">
                    <div class="form-group">
                        <label>Authcode : <span class="alert-error">*</span></label>
                        <input type="text"  [ngClass]="{ 'is-invalid':  r.authcode.touched && r.authcode.invalid }"   class="form-control" formControlName="authcode" autocomplete="off" placeholder="Enter Authcode">
                        <div *ngIf="r.authcode.touched && r.authcode.invalid" class="alert-error">
                            <div *ngIf="r.authcode.errors.required"><small><b>Authcode is required.</b></small></div>
                            <div *ngIf="r.authcode.errors.pattern"><small><b>Only Number allowed.</b></small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit"  class="mt-4 btn btn-primary center-block" [disabled]="!refund.valid" style="text-align: center;">Submit</button> 
            </div>
        </form>
    </div>  
</ng-template>