<div class="container-fluid">
  <div class="white_bg">
      <h1>Payment Gateway</h1>
      <div class="form_blk">
        <form class="aeps_form" [formGroup]="addPg" (ngSubmit)="submitPg()">
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-5"><label><img src="https://partner.rnfi.in/asset/images/_default/aeps/mpos.png"> Please Select Mode :</label></div>
                  <div class="col-sm-7 ">
                    <label><input type="radio" name="mode" value="DC" class="device-radio mode" formControlName="mode" (change)="handleChange($event)" [(ngModel)]="is_value"> Debit Card</label>
                    <label><input type="radio" name="mode" value="CC" class="device-radio mode" formControlName="mode" (change)="handleChange($event)" [(ngModel)]="is_value"> Credit Card</label>
                    <label><input type="radio" name="mode" value="NB" class="device-radio mode" formControlName="mode" (change)="handleChange($event)" [(ngModel)]="is_value"> Net Banking</label>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-5"><label><img src="https://partner.rnfi.in/asset/images/_default/aeps/money.png"> Please Enter Amount:</label></div>
                  <div class="col-sm-7">
                    <div class="mobile_blk_wrap">
                      <div class="mobile_blk"><img src="https://partner.rnfi.in/asset/images/_default/aeps/money_icon.png"> Rs.</div>
                      <input type="text" [ngClass]="{ 'is-invalid':  f.amount.touched && f.amount.invalid }" class="form-control" id="amount" name="amount" formControlName="amount">
                      <div *ngIf="f.amount.touched && f.amount.invalid" class="alert-error">
                        <div *ngIf="f.amount.errors.required"><small><b>Amount Is Required</b></small></div>
                      </div>
                      <div *ngIf="f.amount.errors?.amountInvalid && f.amount.dirty" class="alert-error"><small><b>Amount must be greater than 99</b></small></div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-5"><label><img src="https://partner.rnfi.in/asset/images/_default/aeps/mobile.png"> Please Enter Mobile Number:</label></div>
                  <div class="col-sm-7">
                    <div class="mobile_blk_wrap">
                          <div class="mobile_blk"><img src="https://partner.rnfi.in/asset/images/_default/aeps/flag.jpg"> +91 </div>
                          <input type="text" [ngClass]="{ 'is-invalid':  f.mobile.touched && f.mobile.invalid }" name="mobile" id="mobile" class="form-control" minlength="10" maxlength="10" required="" formControlName="mobile">
                          <div *ngIf="f.mobile.touched && f.mobile.invalid" class="alert-error">
                            <div *ngIf="f.mobile.errors.required"><small><b>Mobile Number Is Required</b></small></div>
                            <div *ngIf="f.mobile.errors.pattern"><small><b>Invalid Mobile Number</b></small></div>
                          </div>
                      </div>
                   </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-5"><label><img src="https://partner.rnfi.in/asset/images/_default/aeps/envelope.png"> Please Enter Email Address:</label></div>
                  <div class="col-sm-7">
                    <div class="mobile_blk_wrap">
                          <div class="mobile_blk"><img src="https://partner.rnfi.in/asset/images/_default/aeps/envelope.jpg"></div>
                          <input type="email" [ngClass]="{ 'is-invalid':  f.email.touched && f.email.invalid }" name="email" id="email" class="form-control" formControlName="email">
                          <div *ngIf="f.email.touched && f.email.invalid" class="alert-error">
                            <div *ngIf="f.email.errors.required"><small><b>Email Id Is Required</b></small></div>
                            <div *ngIf="f.email.errors.pattern"><small><b>Invalid Email Id</b></small></div>
                          </div>
                      </div>
                   </div>
              </div>
          </div>
          <div *ngIf="is_active">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5"><label><img src="https://partner.rnfi.in/asset/images/_default/aeps/card.png"> Please Enter Last 4-Digit of Card:</label></div>
                    <div class="col-sm-7">
                      <div class="mobile_blk_wrap">
                            <div class="mobile_blk"><img src="https://partner.rnfi.in/asset/images/_default/aeps/card.jpg"></div>
                            <input type="text" [ngClass]="{ 'is-invalid':  f.card.touched && f.card.invalid }" name="card" id="card" class="form-control isvalid" required="required" formControlName="card">
                            <div *ngIf="f.card.touched && f.card.invalid" class="alert-error">
                              <div *ngIf="f.card.errors.required"><small><b>Crad Is Required</b></small></div>
                              <div *ngIf="f.card.errors.pattern"><small><b>Invalid Card</b></small></div>
                              <div *ngIf="f.card.errors.maxlength"><small><b>Invalid Card Length</b></small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5"><label><img src="https://partner.rnfi.in/asset/images/_default/aeps/user.png"> Please Enter Card Holder Name:</label></div>
                    <div class="col-sm-7">
                      <div class="mobile_blk_wrap">
                            <div class="mobile_blk"><img src="https://partner.rnfi.in/asset/images/_default/aeps/user.jpg"></div>
                            <input type="text" [ngClass]="{ 'is-invalid':  f.name.touched && f.name.invalid }" name="name" id="name" class="form-control isvalid" required="required" formControlName="name">
                            <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                              <div *ngIf="f.name.errors.required"><small><b>Name Is Required</b></small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group">
                  <div class="row">
                  <div class="col-sm-7 col-sm-offset-5">
                     <input type="submit" [disabled]="!addPg.valid && !submitted" class="subsubmit btn btn-success" value="Submit">
                  </div>
              </div>
          </div>
          </form>
      </div>
  </div>
</div>
