.aeps_form .form-group {
  padding: 15px 0;
  border-bottom: 1px solid #efecec;
  margin-bottom: 0;
}
.aeps_form .form-group label img {
  margin-right: 10px;
}
.aeps_form .form-group label, .aeps_form .form-group p {
  font-weight: bold;
  font-size: 13px;
}

.aeps_form .form-group label, .aeps_form .form-group .cus_radio label {
  margin-right: 15px;
}

.mobile_blk_wrap .mobile_blk {
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 17px;
  border-right: 1px solid #efecec;
  padding: 0 25px;
}
.aeps_form .form-group .mobile_blk_wrap input {
  padding-left: 105px;
}


.spinner.loading {
  display: none;
  padding: 50px;
  text-align: center;
}

.loading-text {
  width: 90px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 45px);
  text-align: center;
}

.spinner.loading:before {
  content: "";
  height: 90px;
  width: 90px;
  margin: -15px auto auto -15px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border-width: 8px;
  border-style: solid;
  border-color: #2180c0 #ccc #ccc;
  border-radius: 100%;
  animation: rotation .7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

