<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand">
                <img src="../../../assets/img/logo-white.png" alt="logo" class="img-fluid" />
            </a>
        </div>
    </nav>
</header>
<div class="form-container">
    <section class="hero-section hero-bg-2 ptb-100 full-screen">
        <div class="container">
            <div class="row align-items-top justify-content-between pt-5 pt-sm-5 pt-md-5">
                <div class="d-none d-md-inline col-5 mx-auto mobile-slider">
                    <div class="hero-content-left text-white">
                        <h4 class="text-white text-center">Unified Open API Platform</h4>
                    </div>
                    <div id="style1" class="carousel slide style-custom-1" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#style1" data-slide-to="0" class="active"></li>
                            <li data-target="#style1" data-slide-to="1" class=""></li>
                            <li data-target="#style1" data-slide-to="2" class=""></li>
                            <li data-target="#style1" data-slide-to="3" class=""></li>
                            <li data-target="#style1" data-slide-to="4" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block slide-image" src="../../../assets/slider/1.png" alt="First slide">
                                <h6 class="text-white text-center">An Open Platform that Brings All the
                                    Solutions Seamlessly Together</h6>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block slide-image" src="../../../assets/slider/2.png" alt="Second slide">
                                <h6 class="text-white text-center"><br>Paperless Onboarding</h6>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block slide-image" src="../../../assets/slider/3.png" alt="Third slide">
                                <h6 class="text-white text-center"><br>Choose Your Preferred Bank</h6>
                            </div>
                            <div class="carousel-item ">
                                <img class="d-block slide-image" src="../../../assets/slider/4.png" alt="Third slide">
                                <h6 class="text-white text-center">Common Wallet for all Transactions, Checks,
                                    and Balances:</h6>
                            </div>
                            <div class="carousel-item ">
                                <img class="d-block slide-image" src="../../../assets/slider/5.png" alt="Third slide">
                                <h6 class="text-white text-center"><br>Wide-Ranging Features on a Single
                                    Dashboard</h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-10 mx-auto col-md-6 col-lg-5 mobile-s">
                    <div class="card login-signup-card shadow-lg mb-0">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>