
.wave {
    position: fixed;
    bottom  : 0;
    left    : 198px;
    height  : 100%;
}

.card-footer {
    padding         : 0 !important;
    background-color: #fff !important;
    border-top      : 0px !important;
}

.hero-bg-2:before {
    position  : absolute;
    content   : '';
    background: url(https://gamma-server.paysprint.in/assets/img/slider-bg-1.png)no-repeat center bottom / cover;
    width     : 100%;
    height    : 100%;
    top       : 0;
    left      : 0;
    right     : 0;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.full-screen {
    min-height     : 100vh;
    position       : relative;
    width          : 100%;
    z-index        : 1;
    overflow       : hidden;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.hero-bg-1,
.hero-bg-2 {
    position: relative;
    display : block;
    width   : 100%;
}

.ptb-100 {
    padding: 100px 0;
}

p {
    color: #ffffff !important;
}

.style-custom-1 .carousel-inner img {
    margin-left : auto;
    margin-right: auto;
}

.style-custom-1 .carousel-inner h6 {
    font-weight: 600;
}

.hero-content-left>h4 {
    font-size  : 33px;
    font-weight: 700;
}

.carousel-indicators {
    right: 0 !important;
    left : 0 !important;
}

.carousel-item img {
    max-width: 100%;
}

.navbar-brand {
    width: 115px;
}