<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="mainBox mx-auto" [formGroup]="form">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Select Transaction Type</label>
                            <select class="form-control" formControlName="requesttype">
                                <option value="" selected="selected" disabled="disabled">-- select Type --</option>
                                <!-- <option value="Gas">Gas</option> -->
                                <option *ngFor="let item of tranLst| keyvalue" [value]="item.key">{{item.value}}
                                </option>
                            </select>
                            <div *ngIf="form.get('requesttype')?.touched && form.get('requesttype')?.invalid"
                                class="alert-error">
                                <div *ngIf="form.get('requesttype')?.errors?.required"><small><b>Transaction Type is
                                            required.</b></small></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="">Amount</label>
                            <input (keyup)="onKey($event)" type="number" class="form-control form-control-sm"
                                placeholder="Enter Amount" formControlName="amount" autocomplete="off" value="" />
                            <div *ngIf="form.get('amount')?.touched && form.get('amount')?.invalid" class="alert-error">
                                <div *ngIf="form.get('amount')?.errors?.required"><small><b>Amount is
                                            required.</b></small></div>
                            </div>
                            <div *ngIf="f.amount.errors?.amountInvalid && f.amount.dirty" class="alert-error">
                                <small><b>Amount
                                        must be greater than 1000</b></small>
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="isshow">
                                <span>{{ amount }} Only</span>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Transaction Id</label>
                            <input type="text" oninput="this.value = this.value.toUpperCase()"
                                class="form-control form-control-sm" placeholder="Enter Transaction Id"
                                formControlName="transactionid" autocomplete="off" value="" />
                            <div *ngIf="form.get('transactionid')?.touched && form.get('transactionid')?.invalid"
                                class="alert-error">
                                <div *ngIf="form.get('transactionid')?.errors?.required"><small><b>Transaction Id is
                                            required.</b></small></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="">Deposited Date</label>
                            <!-- <input type="date" class="form-control form-control-sm" formControlName="depositeddate"
                        autocomplete="off" value="" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                        (click)="d.toggle()" /> -->

                            <input class="form-control" formControlName="depositeddate" placeholder="yyyy-mm-dd"
                                [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker
                                [(bsValue)]="depositeddt">

                            <div *ngIf="form.get('depositeddate')?.touched && form.get('depositeddate')?.invalid"
                                class="alert-error">
                                <div *ngIf="form.get('depositeddate')?.errors?.required"><small><b>Deposited Date is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="">Bank Id</label>
                            <!-- <select class="form-control" formControlName="bankid">
                        <option value="" selected="selected" disabled="disabled">-- select Bank Type --</option> 
                        <option *ngFor="let item of CompanyBankList" [value]="item.id">{{item.name}} | {{item.accno}} |
                            {{item.branch}}</option>
                    </select> -->
                            <ng-select2 formControlName="bankid" width="100%" placeholder='Please select Bank...'
                                [data]="exampleData">
                            </ng-select2>


                            <div *ngIf="form.get('bankid')?.touched && form.get('bankid')?.invalid" class="alert-error">
                                <div *ngIf="form.get('bankid')?.errors?.required"><small><b>Transaction Type is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <input #fileUploader type="file" (change)="onFileSelect($event)">
                    </div>
                    <!-- <img width="100%" *ngIf="imageUrl" [src]="imageUrl" class="image"> -->
                    <div class="text-center mt-5">
                        <button type="button" [disabled]="!form.valid" (click)="onSubmit()"
                            class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>