<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <form [formGroup]="form" (submit)="filterDebitLedger()">
                    <div class="row">
                        <div class="col-xs-12 col-12 col-md-6 form-group mx-auto">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                            [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small></div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>From Date</label>
                                <input type="text" formControlName="startdate"
                                    [ngClass]="{ 'is-invalid': f.startdate.touched && f.startdate.invalid }"
                                    placeholder="yyyy-mm-dd" class="form-control form-control-sm" [minDate]="minDate"
                                    [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="fromDt" />

                                <div *ngIf="f.startdate.touched && f.startdate.invalid" class="alert-error">
                                    <div *ngIf="f.startdate.errors?.required"><small><b>From Date is
                                                required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">Select End Date</label>
                            <input type="text" formControlName="enddate"
                                [ngClass]="{ 'is-invalid': f.enddate.touched && f.enddate.invalid }" required
                                placeholder="yyyy-mm-dd" bsDatepicker [minDate]="minDate" [maxDate]="maxDate"
                                #dp="bsDatepicker" bsDatepicker [(bsValue)]="toDt" class="form-control form-control-sm"
                                autocomplete="off" />
                            <div *ngIf="f.enddate.touched && f.enddate.invalid" class="alert-error">
                                <div *ngIf="f.enddate.errors?.required"><small><b>To Date is required.</b></small>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6" *ngIf="usertype==0"> 
                                <label>Search By User</label><br>
                              <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword" [debounceTime]="600"
                                  (selected)='selectEvent($event)'(inputChanged)='getServerResponse($event)' (inputCleared)="searchCleared()"
                                  [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                  [isLoading]="isLoadingResult" [minQueryLength]="5"
                                  placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>
                  
                                <ng-template #userItemTemplate let-item>
                                  <a [innerHTML]="item.name"></a>
                                </ng-template>
                  
                                <ng-template #userNotFoundTemplate let-notFound>
                                  <div [innerHTML]="notFound"></div>
                                </ng-template>
                              </div>     
                        </div> 
                    </div> <br>
                    <div class=""  [ngClass]="{'form-group':usertype == 0,'form-group text-c':usertype != 0}">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit"> &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
    <div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
                style="float: right;">Export</button>
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered non-hover dataTable" datatable
                        [dtOptions]="dtOptionscr" style="width:100%"> 
                        <thead>
                            <tr> 
                                <th scope="col">Txnid</th>
                                <th scope="col">UserName</th> 
                                <th scope="col">Date</th>
                                <th scope="col">opening</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Comm</th>
                                <th scope="col">closing</th> 
                                <th scope="col">Gst</th>  
                                <th scope="col">tds</th>  
                                <th scope="col">Type</th>
                                <th scope="col">Txntype</th>
                                <th scope="col">Remarks</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let debitledger of billpayment; let i = index"> 
                                <td>{{debitledger.id}}</td>
                                <td>{{debitledger.username}}</td> 
                                <td>{{debitledger.dateadded}}</td>
                                <td>{{debitledger.cd_opening}}</td>
                                <td>{{debitledger.amount}}</td>
                                <td>{{debitledger.comm | showNullResult}}</td>  
                                <td>{{debitledger.cd_closing}}</td> 
                                <td>{{debitledger.gst | showNullResult }}</td> 
                                <td>{{debitledger.tds | showNullResult}}</td> 
                                <td>{{debitledger.utype}}</td>
                                <td>{{debitledger.transactiontype }}</td>
                                <td>{{debitledger.narration}}</td>  
                            </tr>
                        </tbody>
                        <tbody *ngIf="billpayment?.length == 0">
                            <tr>
                                <td colspan="10" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

