<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <form [formGroup]="form" (ngSubmit)="OnSearchPgTransaction()">
                    <div class="row">
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg"  #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-2">
                            <label>Search By</label><br>
                            <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                    (click)="radiocheck($event)" value='id'>S.No.</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                    (click)="radiocheck($event)" value='txnid'> Txn Id </label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                    (click)="radiocheck($event)" value='refid'>Ref Id
                            </label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                    (click)="radiocheck($event)" value='utr'> UTR </label>&nbsp;&nbsp;&nbsp;
                            <!-- <label *ngIf="details === '1' || details === '0'"><input type="radio"
                                    name="searchbyradio" formControlName="searchbyradio"
                                    (click)="radiocheck($event)" value='partnerid'> Partner Id </label> -->
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="0">Failed</option>
                                    <option value="1">Success</option>
                                    <option value="2">Process</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="usertype==0">
                            <div class="form-group">
                                <label>Transfer Type</label>
                                <select class="form-control" name="transfertype" formControlName="transfertype">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="CC">CREDIT CARD</option>
                                    <option value="DC">DEBIT CARD</option>
                                    <option value="NB">NETNBANKING</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="usertype==0">
                            <div class="form-group">
                                <label>Transfer From</label>
                                <select class="form-control" name="frombank" formControlName="frombank">
                                    <option value="" selected="selected" disabled="disabled">-- select one --
                                    </option>
                                    <option value="CASHF">Cashfree</option>
                                    <option value="RAZOR">Razorpay</option>
                                    <option value="PAYTM">Paytm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit">
                        &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
                style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions"
                    style="width:100%">

                    <thead>
                        <tr>
                            <th scope="col">sno</th>
                            <th scope="col">TxnId</th>
                            <th scope="col">RefId</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Charge</th>
                            <th scope="col">transfertype</th>
                            <th scope="col">APIType</th>
                            <th scope="col">MobileNo.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Card</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Remarks</th>
                            <th scope="col">UTR</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="pgTransaction?.length != 0">
                        <tr *ngFor="let pgtxnlist of pgTransaction">
                            <td>{{pgtxnlist.id }}</td>
                            <td>{{pgtxnlist.txnid| showNullResult}}</td>
                            <td>{{pgtxnlist.refid }}</td>
                            <td>{{pgtxnlist.username}}</td>
                            <td>{{pgtxnlist.amount}}</td>
                            <td>{{pgtxnlist.charge| showNullResult}}</td>
                            <td>{{pgtxnlist.transfertype| showNullResult}}</td>
                            <td>{{pgtxnlist.api}}</td>
                            <td>{{pgtxnlist.mobile}}</td>
                            <td>{{pgtxnlist.name}}</td>
                            <td>{{pgtxnlist.card}}</td>
                            <td>{{pgtxnlist.status}}</td>
                            <td>{{pgtxnlist.dateadded}}</td>
                            <td>{{pgtxnlist.remarks| showNullResult}}</td>
                            <td>{{pgtxnlist.utr| showNullResult}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="pgTransaction?.length == 0">
                        <tr>
                            <td colspan="13" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>