<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <form [formGroup]="form" (ngSubmit)="OnSearchRechargeStmt()">
                    <div class="row">
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div> 
                      
                    </div>
                   <br>
                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='id'>
                                    S.No.</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='txnid'>Txn Id</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='refid'> Ref Id.</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='canumber'> CA No. </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label></label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="0">Failed</option>
                                    <option value="1">Success</option>
                                    <!-- <option value="2">Initiated</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>API Type</label>
                                <select class="form-control" name="transfertype" formControlName="transfertype">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="SS">Specific Step</option>
                                    <option value="JRI">JRI</option>
                                    <option value="INDI">Indicore</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit">
                        &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
            style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions"
                    style="width:100%">

                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Ref. Id</th>
                            <th scope="col">TxnId</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Operator</th>
                            <th scope="col">CA No.</th>
                            <th scope="col">Amount</th>
                            <th scope="col">OperatorId</th>
                            <th scope="col">Commission</th>
                            <th scope="col">TDS</th>
                            <th scope="col">Status</th>
                            <th scope="col">APIType</th>
                            <th scope="col">Date</th>
                            <th scope="col">Refund</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="Rechargestmt?.length != 0">
                        <tr *ngFor="let rechargelist of Rechargestmt">
                            <td>{{rechargelist.id}}</td>
                            <td>{{rechargelist.refid}}</td>
                            <td>{{rechargelist.txnid}}</td>
                            <td>{{rechargelist.username}}</td>
                            <td>{{rechargelist.operatorname }}</td>
                            <td>{{rechargelist.canumber}}</td>
                            <td>{{rechargelist.amount}}</td>
                            <td>{{rechargelist.operatorid | showNullResult}}</td>
                            <td>{{rechargelist.comm}}</td>
                            <td>{{rechargelist.tds}}</td>
                            <td>{{rechargelist.status}}</td>
                            <td>{{rechargelist.apitype}}</td>
                            <td>{{rechargelist.addeddate}}</td>
                            <td>{{rechargelist.refunded |showNullResult}}</td>

                        </tr>
                    </tbody>
                    <tbody *ngIf="Rechargestmt?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>