<div class="container">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered   non-hover dataTable" id="statementtabl"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Opening</th>
                                <th scope="col">Closing</th>
                                <th scope="col">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bank of statement; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{bank.name}}</td>
                                <td>{{bank.amount | currency:"INR"}}</td>
                                <td>{{bank.opening |currency:"INR"}}</td>
                                <td>{{bank.closing | currency:"INR"}}</td>
                                <td>{{bank.remarks}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>