<div class="container">
    <div class="white_bg">
    <h1>Privacy Policy</h1>
    <div class="form_blk  p-3">
        <p>PaysPrint is committed to appreciating and respecting the choice and privacy of its user base and the business
            associates when they use our website and services. The statement here highlights and gives information about
            the privacy practices employed and used by us in relation to the personal information we hold of our
            business associates and users.</p>
        <p><strong>Definition and Description</strong></p>
        <p>For the purposes of the privacy policy, personal information and data include the data and information that
            can be identified or linked to specific users. This information may include address, name, mailing address,
            email id, telephone number, debit/credit card details, name of the cardholder, expiration, date of the card,
            mobile phone number related information, data card, DTH service information, electricity connection data and
            any other data, information, and details that are provided by the users and associates voluntarily while
            availing the services of the website of PaysPrint.</p>
        <p>Exception to PaysPrint Privacy Policy: Data and information provided by the users/business associates in the
            public forums and environments, live chat room, blog, album, social networking sites, discussion boards,
            classifieds, community and the likes (without limitation), are not deemed to be confidential and hence are
            not considered as personal/sensitive information and data, according to PaysPrint privacy policy. Such
            information is therefore not protected under our privacy policy.</p>
        <p><strong>Use of Personal Information and Data</strong></p>
        <p>PaysPrint uses the personal data and information given by the users/business associates to provide them and with
            specific services that have been explicitly requested by a user/associate. The personal information is
            required and used by PaysPrint to troubleshoot concerns, resolve disputes, collect money, promote safe and secure
            services, inform the users and associates about our services/offers/updates, assess the interest of users
            and associates in our services, and prevent us in committing errors. The information may also be used for
            preventing criminal activity and fraud, and for enforcing terms and conditions, among other uses.</p>
        <p><strong>Disclosure of Information Data</strong></p>
        <p> PaysPrint shares sensitive or private confidential data or information with an external organization only when it
            is necessary to enable us to provide the services to business associates and users. We may also share the
            information when it is necessary for us to do so for completing a legitimate transaction, for reporting
            purposes (required or necessary under the terms and conditions applicable to the information), and/or
            because of the applicability of the law. In no other scenario shall we share the confidential and personal
            data and information of our users and business associates. The information of the business associates and
            users will be shared when it is required or permitted by law.</p>
        <p><strong>Observation and Implementation of Reasonable Security Practices</strong></p>
        <p>PaysPrint undertakes the necessary and reasonable precautions for maintaining the confidentiality and privacy of
            data and information of our users as well as business associates. For the purpose, we provide restricted
            access to persons who may be required to assess the data and information (on a need to know basis). We also
            provide the necessary training to our employees for ensuring safe and proper handling of data.</p>
        <p><strong>Links to Other Websites</strong></p>
        <p>The PaysPrint&nbsp; website also has links to other websites. Users should know and understand that when they
            click on any of the links, they enter into another website. We assume no responsibility for these websites.
            We encourage the users to read and understand the privacy statements of these websites, which may be
            different from the privacy policy of PaysPrint. The users/associates are solely responsible for ensuring the
            security and secrecy of their membership accounts, and their passwords.</p>
        <p><strong>Privacy Policy Updates</strong></p>
        <p>PaysPrint has the full rights to make changes to the data privacy practices it uses/employs, and to update the
            privacy statement whenever a need arises. The same updates and changes will be made available on our
            website.</p>
    </div>
    </div>
</div>