<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <form [formGroup]="form" (ngSubmit)="OnCallApesCashWithdrawal()">
                    <div class="row"> 
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div> 
                    </div> 
                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='id'>
                                    S.No.</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='txnid'>Txn Id</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='mobile'> Mobile</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='refid'> Ref Id </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label></label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="0">Failed</option>
                                    <option value="1">Success</option>
                                    <option value="2">Initiated</option>
                                    <option value="3">Processed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>API Type</label>
                                <select class="form-control" name="apitype" formControlName="apitype">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="PAYTM">PAYTM</option>
                                    <option value="MBIK">MobiKwik</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit">
                            &nbsp;&nbsp;
                            <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
            style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">TxnId</th>
                            <th scope="col">RefId.</th>
                            <th scope="col">UserName</th>
                            <th scope="col">MobileNo.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Comm</th>
                            <th scope="col">TDS</th>
                            <th scope="col">Status</th>
                            <th scope="col">APIType</th>
                            <th scope="col">Date</th>
                            <th scope="col">Refunded</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="walletstatement?.length != 0">
                        <tr *ngFor="let walletlist of walletstatement">
                            <td>{{walletlist.id}}</td>
                            <td>{{walletlist.txnid}}</td>
                            <td>{{walletlist.refid}}</td>
                            <td>{{walletlist.username}}</td>
                            <td>{{walletlist.mobile }}</td>
                            <td>{{walletlist.name}}</td>
                            <td>{{walletlist.amount}}</td>
                            <td>{{walletlist.comm}}</td>
                            <td>{{walletlist.tds}}</td>
                            <td>{{walletlist.status}}</td>
                            <td>{{walletlist.apitype}}</td>
                            <td>{{walletlist.dateadded}}</td>
                            <td>{{walletlist.refunded}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="walletstatement?.length == 0">
                        <tr>
                            <td colspan="15" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>