<div class="profile-info">
    <figure class="user-cover-image"></figure>
    <div class="user-info">
        <img src="../../../assets/img/user.png" alt="avatar">
        <h6 class="" *ngIf="details?.firmname">{{details?.firmname }}</h6>
        <h6 class="" *ngIf="!details?.firmname">{{details?.name }}</h6>
        <p class="">{{details?.show_usertype }}</p>
    </div>
</div>
<div class="shadow-bottom"></div>