 

.user-info {
    height: auto !important;
    }
    
    .user-info h6 {
    padding : 0 10px !important;
    width : 100% !important;
    white-space : normal !important;
    margin : 0 auto !important;
    display : -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow : hidden !important;
    }