.mainSection {
    margin-top   : 30px;
    border       : 1px solid #ff3b3b;
    padding      : 20px 20px;
    border-radius: 15px;
    box-shadow   : 2px 10px 18px #d6c3c3;
}

.mainSection label {
    color: #212529c2;
}

input[type="number"] {
    max-width: 100px
}

.ng-autocomplete {
    min-width: 200px !important;
    max-width: 600px !important;
    width    : auto !important;
}