<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <form [formGroup]="addOprRecharge" (submit)="onAddOperatorRech()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>API <span class="alert-error">*</span></label>
                                <input type="text" class="form-control"
                                    [ngClass]="{'is-invalid': f.api.touched && f.api.invalid}" formControlName="api"
                                    autocomplete="off" placeholder="API">
                                <div *ngIf="f.api.touched && f.api.invalid" class="alert-error">
                                    <div *ngIf="f.api.errors.required"><small><b>Operator Id is required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Operator Id <span class="alert-error">*</span></label>
                                <input type="text" class="form-control"
                                    [ngClass]="{'is-invalid': f.op_id.touched && f.op_id.invalid}"
                                    formControlName="op_id" autocomplete="off" placeholder="Name">
                                <div *ngIf="f.op_id.touched && f.op_id.invalid" class="alert-error">
                                    <div *ngIf="f.op_id.errors.required"><small><b>Operator Id is required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Operator Name <span class="alert-error">*</span></label>
                                <input type="text" class="form-control"
                                    [ngClass]="{'is-invalid': f.name.touched && f.name.invalid}" formControlName="name"
                                    autocomplete="off" placeholder="Name">
                                <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                                    <div *ngIf="f.name.errors.required"><small><b>Operator Name is required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Category <span class="alert-error">*</span></label>
                            <div class="form-group">
                                <select class="form-control"
                                    [ngClass]="{ 'is-invalid':  f.category.touched && f.category.invalid }"
                                    (change)="gettype(usr.value)" #usr formControlName="category">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option *ngFor="let cat of catName;" value="{{cat.catName}}">
                                        {{cat.catName}}</option>
                                </select>
                            </div>
                            <div *ngIf="f.category.touched && f.category.invalid" class="alert-error">
                                <div *ngIf="f.category.errors.required"><small><b>Cateogry is required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Operator Type <span class="alert-error">*</span></label>
                                <input type="text" readonly class="form-control" [(ngModel)]='type'
                                    [ngClass]="{'is-invalid': f.type.touched && f.type.invalid}" autocomplete="off"
                                    placeholder="type" formControlName="type">
                                <div *ngIf="f.type.touched && f.type.invalid" class="alert-error">
                                    <div *ngIf="f.type.errors.required"><small><b>Operator Type Id is
                                                required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Commission <span class="alert-error">*</span></label>
                                <input type="text" class="form-control"
                                    [ngClass]="{'is-invalid': f.comm.touched && f.comm.invalid}" autocomplete="off"
                                    placeholder="Commission" formControlName="comm">
                                <div *ngIf="f.comm.touched && f.comm.invalid" class="alert-error">
                                    <div *ngIf="f.comm.errors.required"><small><b>Commission is required.</b></small>
                                    </div>
                                    <div *ngIf="f.comm.errors.pattern"><small><b>Only Number allowed.</b></small></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status <span class="alert-error">*</span></label><br>
                                <label><input type="radio" value='1' formControlName="status"> Active</label>
                                &nbsp;&nbsp;
                                <label><input type="radio" value='0' formControlName="status"> Inactive</label>
                                <div *ngIf="f.status.touched && f.status.invalid" class="alert-error">
                                    <div *ngIf="f.status.errors.required"><small><b>Status is
                                                required.</b></small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!addOprRecharge.valid" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>