<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <img src="../../assets/img/Login-Vector-01.png" class="login-back img-fluid bg-img" alt="Login"><br>
                    <a href="javascript:void(0)" class="btn btn-primary mb-4 mr-2 btn-lg mt-3" (click)="goBack()">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
