<nav id="sidebar">
    <app-common-sidebar></app-common-sidebar>
    <ul class="list-unstyled menu-categories" id="accordionExample">
        <li class="menu">
            <a routerLink="/dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </div>
            </a>
        </li>
        <!-- funding -->
        <li class="menu">
            <a href="#funding" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-rupee-sign"></i>
                    <span>Funding</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="funding" data-parent="#accordionExample">
                <li *ngIf="details.is_approver =='1' || details.is_admin =='1'"><a routerLink="/approve-funding">Approve
                    </a></li>
                <li *ngIf="details.is_approver =='0' || details.is_admin =='1'"><a
                        routerLink="/authorize-funding">Authorize</a></li>
                <li><a routerLink="/allRequest-funding">All Requests</a></li>
                <li><a routerLink="user/userlist">User List</a></li>
            </ul>

        </li>
        <!-- Operation -->
        <!-- <li class="menu" *ngIf="details.is_approver =='1'">
            <a href="#Operation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                    <span>Operation</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="Operation" data-parent="#accordionExample"> 
                <li><a routerLink="/">Debit</a></li>
                <li><a routerLink="/">Reciving</a></li>
                <li><a routerLink="/">History</a></li>
            </ul>
        </li> -->
        <!-- Commission -->
        <!-- <li class="menu">
            <a href="#commission" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                    <span>Commission</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="commission" data-parent="#accordionExample">
                <li><a routerLink="commission/aeps"> AEPS</a></li>
                <li><a routerLink="commission/dmt"> DMT</a></li>
                <li><a routerLink="commission/recharge"> Recharge</a></li>
                <li><a routerLink="commission/paymentgateway"> Payment Gateway</a></li>
                <li><a routerLink="commission/othercomm"> Other Commissions</a></li>
            </ul>
        </li> -->
    </ul>

</nav>