<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered   non-hover dataTable"   datatable [dtOptions]="dtOptions" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Min Limit</th>
                                <th scope="col">Max Limit</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of operatorBillList; let i = index">
                                <td>{{list.name}}</td>
                                <td>{{list.category}}</td>
                                <td>{{list.min_limit === (undefined || null)? 'N/A': list.min_limit}}</td>
                                <td>{{list.max_limit === (undefined || null)? 'N/A': list.max_limit}}</td>
                                <td>{{list.status === '1'? 'Active':'Inactive'}} </td>
                                <td> <button class="btn btn-outline-primary btn-sm"
                                        (click)="onEditSingleOprtBill(modalopen,list)"> <i
                                            class="fas fa-edit"></i>Edit</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <ng-template #modalopen let-modal>
        <div class="modal-header">
            <h6 class="modal-title" id="modal-basic-title">EDIT OPERATOR BILL</h6>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editOperatorBill" (submit)="onSaveEditSingleOprtBill()">
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" formControlName="operatorid">
                        <div class="form-group">
                            <label>Operator Name <span class="alert-error">*</span></label>
                            <input type="text" class="form-control"
                                [ngClass]="{'is-invalid': f.name.touched && f.name.invalid}" formControlName="name"
                                autocomplete="off" placeholder="Name">
                            <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                                <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Category <span class="alert-error">*</span></label>
                            <input type="text" class="form-control"
                                [ngClass]="{'is-invalid': f.category.touched && f.category.invalid}"
                                formControlName="category" autocomplete="off" placeholder="Account Number">
                            <div *ngIf="f.category.touched && f.category.invalid" class="alert-error">
                                <div *ngIf="f.category.errors.required"><small><b>Category is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>View Bill <span class="alert-error">*</span></label><br>
                            <label><input type="radio" value='0' formControlName="viewbill"> Not-Mandatory</label>
                            &nbsp;&nbsp;
                            <label><input type="radio" value='1' formControlName="viewbill"> Mandatory</label>
                            <div *ngIf="f.viewbill.touched && f.viewbill.invalid" class="alert-error">
                                <div *ngIf="f.viewbill.errors.required"><small><b>View Bill is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Operator Id <span class="alert-error">*</span></label>
                            <input type="text" class="form-control"
                                [ngClass]="{'is-invalid': f.op_id.touched && f.op_id.invalid}" autocomplete="off"
                                placeholder="op_id" formControlName="op_id">
                            <div *ngIf="f.op_id.touched && f.op_id.invalid" class="alert-error">
                                <div *ngIf="f.op_id.errors.required"><small><b>Operator Id is required.</b></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Specfic Step Operator Id <span class="alert-error">*</span></label>
                            <input type="text" [ngClass]="{'is-invalid': f.ss_id.touched && f.ss_id.invalid}"
                                class="form-control" placeholder="Display Name" formControlName="ss_id">
                            <div *ngIf="f.ss_id.touched && f.ss_id.invalid" class="alert-error">
                                <div *ngIf="f.ss_id.errors.required"><small><b>Specfic Step Operator Id is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Think Walnut Id <span class="alert-error">*</span></label>
                            <input type="text" [ngClass]="{'is-invalid': f.twd_id.touched && f.twd_id.invalid}"
                                class="form-control" placeholder="Display Name" formControlName="twd_id">
                            <div *ngIf="f.twd_id.touched && f.twd_id.invalid" class="alert-error">
                                <div *ngIf="f.twd_id.errors.required"><small><b>Think Walnut Id is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>CA Number Regex <span class="alert-error">*</span></label>
                            <input type="text" class="form-control"
                                [ngClass]="{'is-invalid': f.regex.touched && f.regex.invalid}" autocomplete="off"
                                placeholder="regex" formControlName="regex">
                            <div *ngIf="f.regex.touched && f.regex.invalid" class="alert-error">
                                <div *ngIf="f.regex.errors.required"><small><b>Regex is required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Display Name <span class="alert-error">*</span></label>
                            <input type="text"
                                [ngClass]="{'is-invalid': f.displayname.touched && f.displayname.invalid}"
                                class="form-control" placeholder="Display Name" formControlName="displayname">
                            <div *ngIf="f.displayname.touched && f.displayname.invalid" class="alert-error">
                                <div *ngIf="f.displayname.errors.required"><small><b>Display Name is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad1 Display Name</label>
                            <input type="text" class="form-control" placeholder="Display Name"
                                formControlName="ad1_d_name">
                            <div *ngIf="f.ad1_d_name.touched && f.ad1_d_name.invalid" class="alert-error">
                                <div *ngIf="f.ad1_d_name.errors.required"><small><b>Ad1 Display Name is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad1 Name</label>
                            <input type="text" class="form-control" placeholder="Name" formControlName="ad1_regex" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad1 Regex</label>
                            <input type="text" class="form-control" placeholder="Regex" formControlName="ad1_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad2 Display Name</label>
                            <input type="text" class="form-control" placeholder="Display Name"
                                formControlName="ad2_d_name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad2 Name</label>
                            <input type="text" class="form-control" placeholder="Name" formControlName="ad2_regex" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad2 Regex</label>
                            <input type="text" class="form-control" placeholder="Regex" formControlName="ad2_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad3 Display Name</label>
                            <input type="text" class="form-control" placeholder="Display Name"
                                formControlName="ad3_d_name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad3 Name</label>
                            <input type="text" class="form-control" placeholder="Name" formControlName="ad3_regex" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ad3 Regex</label>
                            <input type="text" class="form-control" placeholder="Regex" formControlName="ad3_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Minimum Limit </label>
                            <input type="text" class="form-control" formControlName="min_limit" autocomplete="off"
                                placeholder="Minimum Limit">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Maximum Limit</label>
                            <input type="text" class="form-control" formControlName="max_limit" autocomplete="off"
                                placeholder="Maximum Limit">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status <span class="alert-error">*</span></label><br>
                            <label><input type="radio" value='1' formControlName="status"> Active</label> &nbsp;&nbsp;
                            <label><input type="radio" value='0' formControlName="status"> Inactive</label>
                            <div *ngIf="f.status.touched && f.status.invalid" class="alert-error">
                                <div *ngIf="f.status.errors.required"><small><b>Status is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" [disabled]="!editOperatorBill.valid" value="Submit">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        </div>
    </ng-template>