.userAutoComData.ng-autocomplete {
    min-width: 200px !important;
    max-width: 600px !important;
    width    : auto !important;
}

.bankAutoCom .ng-autocomplete {
    width: auto !important;
}

.widget-content-area {
    min-height: 200px;
}

.bankAutoCom .ng-autocomplete .autocomplete-container {
    box-shadow: unset !important;
}

.bankAutoCom .autocomplete-container .input-container input {
    border       : 1px solid #bfc9d4 !important;
    border-radius: 6px !important;
    height       : 45px !important;
}

/* 
a.disabled {
    color         : gray;
    cursor        : not-allowed;
    pointer-events: none;
} */

.fas {
    font-size   : 17px;
    margin-right: 5px;
}

.fasGoBk {
    float : right !important;
    cursor: pointer;
}