<div class="container-fluid">
  <div class="row layout-top-spacing">
    <div id="basic" class="col-lg-12 layout-spacing">
      <div class="widget-content widget-content-area ">
        <div class="row mb-3">
          <div class="col-6 pt-3 mx-auto">
            <div class="ng-autocomplete userAutoComData">
              <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword" [debounceTime]="600"
                (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                [isLoading]="isLoadingResult" [minQueryLength]="5"
                placeholder="Search User. eg 'name', 'firm name', 'firm id'">
              </ng-autocomplete>

              <ng-template #userItemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #userNotFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>
        <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
          Tooltip on top
        </button> -->
        <!-- <a href="javascript:void(0);" class="btn btn-primary mb-3 rounded bs-tooltip" title="Tooltip using ANCHOR tag">
          Link
        </a> -->
        <div *ngIf="showUserDtl">
          <div class="table-responsive mb-4 mt-4">
            <table class="multi-table table table-bordered   non-hover dataTable" id="apvrLst" style="width:100%">
              <thead>
                <tr>
                  <th scope="col">Party Name</th>
                  <th scope="col">Balance</th>
                  <th scope="col">Credit</th>
                  <th scope="col">Receiving</th>
                  <th scope="col">Debit</th>
                  <th scope="col">History</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{userdt.name}} <br>{{userdt.username}} <br>{{userdt.firmname}}</td>
                  <td>{{userdt.balance}}</td>
                  <td>{{userdt.credit}}</td>
                  <td><a href="javascript:void(0);" (click)="putRecvFn()"><i class="fas fa-file-invoice"></i> Put
                      Receiving</a>
                  </td>
                  <td *ngIf="userdt.balance !== '0.00' && userdt.balance !== '0'">
                    <a href="javascript:void(0);" (click)="debitFundFn()"><i
                        class="fas fa-hand-holding-usd"></i>Debit</a>
                  </td>
                  <td *ngIf="userdt.balance === '0.00' || userdt.balance === '0'">
                    <a href="javascript:void(0);" class="rounded bs-tooltip" data-toggle="tooltip"
                      title="Tooltip using ANCHOR tag"><i class="fas fa-hand-holding-usd"></i>Debit</a>
                  </td>
                  <td><a href="javascript:void(0);" (click)="historyFn()"><i class="fas fa-history"></i>History</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div [ngSwitch]="showActionType">
            <div class="row" *ngSwitchCase="1">
              <div class=" col">
                <h5>Put Receiving<i class="fas fa-backspace fasGoBk rounded bs-tooltip" title="Close"
                    (click)="formInit()"></i></h5>
                <div class="row pt-2">
                  <div class="col-sm-12 col-md-8 mx-auto" [formGroup]="form_recv">
                    <div class="row mb-2">
                      <div class="col-md-6 mb-6 mx-auto mb-3 mb-md-0 bankAutoCom">
                        <div class="ng-autocomplete ">
                          <ng-autocomplete [data]="bankAutoComData" (selected)='setBankId($event)'
                            [searchKeyword]="bankKeyword" (inputCleared)="bankSearchCleared()"
                            [itemTemplate]="bankItemTemplate" [notFoundTemplate]="bankNotFoundTemplate"
                            placeholder="Select Bank" formControlName="bankname">
                          </ng-autocomplete>
                          <div *ngIf="form_recv.get('bankname')?.touched && form_recv.get('bankname')?.invalid"
                            class="alert-error">
                            <div *ngIf="form_recv.get('bankname')?.errors?.required"><small><b>Required</b></small>
                            </div>
                          </div>
                          <ng-template #bankItemTemplate let-item>
                            <a href="javascript:void(0)">
                              <span [innerHTML]="item.name"></span>,
                              <span [innerHTML]="item.branch"></span>
                            </a>
                          </ng-template>

                          <ng-template #bankNotFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-md-6 mb-6 mx-auto"><input type="number" formControlName="amount"
                          class="form-control" placeholder="Enter Amount"
                          [ngClass]="{ 'is-invalid':  form_recv.get('amount')?.touched && form_recv.get('amount')?.invalid }">
                        <div *ngIf="form_recv.get('amount')?.touched && form_recv.get('amount')?.invalid"
                          class="alert-error">
                          <div *ngIf="form_recv.get('amount')?.errors?.required"><small><b>Required</b></small></div>
                          <div *ngIf="form_recv.get('amount')?.errors?.min"><small><b>Enter valid Amount</b></small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-6 mx-auto mb-3 mb-md-0">
                        <!-- <label for="">Enter Charges</label> -->
                        <input type="number" class="form-control" formControlName="charges" placeholder="Enter Charges"
                          [ngClass]="{ 'is-invalid':  form_recv.get('charges')?.touched && form_recv.get('charges')?.invalid }">
                        <div *ngIf="form_recv.get('charges')?.touched && form_recv.get('charges')?.invalid"
                          class="alert-error">
                          <div *ngIf="form_recv.get('charges')?.errors?.required"><small><b>Required</b></small></div>
                          <div *ngIf="form_recv.get('charges')?.errors?.min"><small><b>Enter valid Charges</b></small>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-6 mb-6 mx-auto">
                        <!-- <label for="">Example textarea</label> -->
                        <textarea class="form-control" rows="2" formControlName="remark" placeholder="Remarks"
                          [ngClass]="{ 'is-invalid':  form_recv.get('remark')?.touched && form_recv.get('remark')?.invalid }"></textarea>
                        <div *ngIf="form_recv.get('remark')?.touched && form_recv.get('remark')?.invalid"
                          class="alert-error">
                          <div *ngIf="form_recv.get('remark')?.errors?.required"><small><b>Required</b></small></div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-3">
                      <button class="btn btn-success" type="button" (click)="recvSubmit()"
                        [disabled]="!form_recv.valid">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="2">
              <div class=" col">
                <h5>Debit Fund<i class="fas fa-backspace fasGoBk rounded bs-tooltip" title="Close"
                    (click)="formInit()"></i></h5>
                <div class="row">
                  <div class="col" [formGroup]="form_debiter">
                    <div class="row mb-2">
                      <div class="col-md-6 mb-6 mx-auto mb-3 mb-md-0">
                        <!-- <label for="">Enter Charges</label> -->
                        <input type="number" class="form-control" formControlName="amount" placeholder="Enter Amount"
                          [ngClass]="{ 'is-invalid':  form_debiter.get('amount')?.touched && form_debiter.get('amount')?.invalid }">
                        <div *ngIf="form_debiter.get('amount')?.touched && form_debiter.get('amount')?.invalid"
                          class="alert-error">
                          <div *ngIf="form_debiter.get('amount')?.errors?.required"><small><b>Required</b></small></div>
                          <div *ngIf="form_debiter.get('amount')?.errors?.min"><small><b>Enter valid Amount</b></small>
                          </div>
                          <div *ngIf="form_debiter.get('amount')?.errors?.enterValidAmount"><small><b>Amount Should be
                                less then current Balance</b></small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-6 mx-auto">
                        <label for=""> Decrease From Credit Anount</label>
                        <div class="n-chk">
                          <label class="new-control new-radio radio-success">
                            <input type="radio" class="new-control-input" formControlName="is_credit_decrease"
                              value="1">
                            <span class="new-control-indicator"></span>Yes
                          </label>

                          <label class="new-control new-radio radio-danger">
                            <input type="radio" class="new-control-input" formControlName="is_credit_decrease"
                              value="0">
                            <span class="new-control-indicator"></span>No
                          </label>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-6 mx-auto mb-3 mb-md-0">
                        <input type="number" class="form-control" formControlName="otp" placeholder="Enter OTP"
                          [ngClass]="{ 'is-invalid':  form_debiter.get('otp')?.touched && form_debiter.get('otp')?.invalid }">
                        <div *ngIf="form_debiter.get('otp')?.touched && form_debiter.get('otp')?.invalid"
                          class="alert-error">
                          <div *ngIf="form_debiter.get('otp')?.errors?.required"><small><b>Required</b></small></div>
                          <div *ngIf="form_debiter.get('otp')?.errors?.min"><small><b>Enter OTP</b></small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-6 mx-auto">
                        <textarea class="form-control" rows="2" formControlName="remark" placeholder="Remarks"
                          [ngClass]="{ 'is-invalid':  form_debiter.get('remark')?.touched && form_debiter.get('remark')?.invalid }"></textarea>
                        <div *ngIf="form_debiter.get('remark')?.touched && form_debiter.get('remark')?.invalid"
                          class="alert-error">
                          <div *ngIf="form_debiter.get('remark')?.errors?.required"><small><b>Required</b></small></div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-3">
                      <button class="btn btn-success" type="button" (click)="debitSubmit()"
                        [disabled]="!form_debiter.valid">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="3">
              <div class=" col">
                <h5>History <i class="fas fa-backspace fasGoBk rounded bs-tooltip" title="Close"
                    (click)="formInit()"></i></h5>
                <div class="row">
                  <div class="col-8 mx-auto">
                    <div class="row">
                      <div class="col-5 mx-auto">
                        <div class="form-group">
                          <label>From Date</label>
                          <input class="form-control" name="min" id="min" placeholder="mm/dd/yyyy" [maxDate]="maxDate"
                            #dp="bsDatepicker" bsDatepicker [(ngModel)]="min" autocomplete="off">
                        </div>
                      </div>
                      <div class="col-5 mx-auto">
                        <div class="form-group">
                          <label>To Date</label>
                          <input class="form-control" name="max" id="max" placeholder="yyyy-mm-dd" [maxDate]="maxDate"
                            #dp="bsDatepicker" bsDatepicker [(ngModel)]="max" autocomplete="off">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="text-center mt-3">
                          <button class="btn btn-success" type="button" (click)="hisSearch()">Search</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="historyDt">
                  <div class="col border-tab">
                    <ul class="nav nav-tabs mt-3" id="border-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="reqHis-tab" data-toggle="tab" href="#reqHis" role="tab"
                          aria-controls="reqHis" aria-selected="false">Request</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="credit-tab" data-toggle="tab" href="#credit" role="tab"
                          aria-controls="credit" aria-selected="false">Credit</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " id="debitHis-tab" data-toggle="tab" href="#debitHis" role="tab"
                          aria-controls="debitHis" aria-selected="true">Reject</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="receHis-tab" data-toggle="tab" href="#receHis" role="tab"
                          aria-controls="receHis" aria-selected="true">Receiving</a>
                      </li>
                    </ul>
                    <div class="tab-content mb-4" id="border-tabsContent">
                      <div class="tab-pane fade active show" id="reqHis" role="tabpanel" aria-labelledby="reqHis-tab">
                        <div class="table-responsive mb-4 mt-4">
                          <table class="multi-table table table-bordered   non-hover dataTable" style="width:100%">
                            <thead>
                              <tr>
                                <th scope="col">S. No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">User Type</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Deposited Date</th>
                                <th scope="col">Updated Date</th>
                                <th scope="col">Added Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Request Type</th>
                                <th scope="col">Reference Number</th>
                                <th scope="col">Request Remark</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Image</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="requestLst.length > 0">
                              <tr *ngFor="let item of requestLst; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{item.name | showNullResult}}</td>
                                <td>{{item.usertype | showNullResult}}</td>
                                <td>{{item.amount | showNullResult}}</td>
                                <td>{{item.credit | showNullResult}}</td>
                                <td>{{item.depositeddate | showNullResult}}</td>
                                <td>{{item.updateddate | showNullResult}}</td>
                                <td>{{item.addeddate | showNullResult}}</td>
                                <td>{{item.status | showNullResult}}</td>
                                <td>{{item.requesttype | showNullResult}}</td>
                                <td>{{item.referencenumber | showNullResult}}</td>
                                <td>{{item.requestremark | showNullResult}}</td>
                                <td>{{item.comment | showNullResult}}</td>
                                <td>{{item.image | showNullResult}}</td>
                              </tr>
                            </tbody>
                            <tbody *ngIf="requestLst.length == 0">
                              <tr>
                                <td colspan="14" class="no-data-available">No data!</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="credit" role="tabpanel" aria-labelledby="credit-tab">
                        <div class="table-responsive mb-4 mt-4">
                          <table class="multi-table table table-bordered   non-hover dataTable" style="width:100%">
                            <thead>
                              <tr>
                                <th scope="col">S. No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">User Type</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Deposited Date</th>
                                <th scope="col">Updated Date</th>
                                <th scope="col">Added Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Request Type</th>
                                <th scope="col">Reference Number</th>
                                <th scope="col">Request Remark</th>
                                <th scope="col">Comment</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="rejectedLst.length > 0">
                              <tr *ngFor="let item of rejectedLst; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{item.name | showNullResult}}</td>
                                <td>{{item.usertype | showNullResult}}</td>
                                <td>{{item.amount | showNullResult}}</td>
                                <td>{{item.credit | showNullResult}}</td>
                                <td>{{item.depositeddate | showNullResult}}</td>
                                <td>{{item.updateddate | showNullResult}}</td>
                                <td>{{item.addeddate | showNullResult}}</td>
                                <td>{{item.status | showNullResult}}</td>
                                <td>{{item.requesttype | showNullResult}}</td>
                                <td>{{item.referencenumber | showNullResult}}</td>
                                <td>{{item.requestremark | showNullResult}}</td>
                                <td>{{item.comment | showNullResult}}</td>
                              </tr>
                            </tbody>
                            <tbody *ngIf="rejectedLst.length == 0">
                              <tr>
                                <td colspan="13" class="no-data-available">No data!</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="tab-pane fade " id="debitHis" role="tabpanel" aria-labelledby="debitHis-tab">
                        <div class="table-responsive mb-4 mt-4">
                          <table class="multi-table table table-bordered   non-hover dataTable" style="width:100%">
                            <thead>
                              <tr>
                                <th scope="col">S. No.</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Opening Balance</th>
                                <th scope="col">Closing Balance</th>
                                <th scope="col">Opening Credit</th>
                                <th scope="col">Closing Credit</th>
                                <th scope="col">Narration</th>
                                <th scope="col">Remarks</th>
                                <th scope="col">Added Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Comm</th>

                              </tr>
                            </thead>
                            <tbody *ngIf="creditLst.length > 0">
                              <tr *ngFor="let item of creditLst; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{item.amount | showNullResult}}</td>
                                <td>{{item.aopening | showNullResult}}</td>
                                <td>{{item.aclosing | showNullResult}}</td>
                                <td>{{item.cd_opening | showNullResult}}</td>
                                <td>{{item.cd_closing | showNullResult}}</td>
                                <td>{{item.narration | showNullResult}}</td>
                                <td>{{item.remarks | showNullResult}}</td>
                                <td>{{item.dateadded | showNullResult}}</td>
                                <td>{{item.ttype | showNullResult}}</td>
                                <td>{{item.comm | showNullResult}}</td>

                              </tr>
                            </tbody>
                            <tbody *ngIf="creditLst.length == 0">
                              <tr>
                                <td colspan="11" class="no-data-available">No data!</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="receHis" role="tabpanel" aria-labelledby="receHis-tab">
                        <div class="table-responsive mb-4 mt-4">
                          <table class="multi-table table table-bordered   non-hover dataTable" style="width:100%">
                            <thead>
                              <tr>
                                <th scope="col">S. No.</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Opening Balance</th>
                                <th scope="col">Closing Balance</th>
                                <th scope="col">Opening Credit</th>
                                <th scope="col">Closing Credit</th>
                                <th scope="col">Narration</th>
                                <th scope="col">Remarks</th>
                                <th scope="col">Added Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Comm</th>

                              </tr>
                            </thead>
                            <tbody *ngIf="recievingLst.length > 0">
                              <tr *ngFor="let item of recievingLst; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{item.amount | showNullResult}}</td>
                                <td>{{item.aopening | showNullResult}}</td>
                                <td>{{item.aclosing | showNullResult}}</td>
                                <td>{{item.cd_opening | showNullResult}}</td>
                                <td>{{item.cd_closing | showNullResult}}</td>
                                <td>{{item.narration | showNullResult}}</td>
                                <td>{{item.remarks | showNullResult}}</td>
                                <td>{{item.dateadded | showNullResult}}</td>
                                <td>{{item.ttype | showNullResult}}</td>
                                <td>{{item.comm | showNullResult}}</td>

                              </tr>
                            </tbody>
                            <tbody *ngIf="recievingLst.length == 0">
                              <tr>
                                <td colspan="11" class="no-data-available">No data!</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchDefault>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>