<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <button (click)="goBakc()" class="btn btn-warning mb-2 mr-2 btn-sm">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                    <polygon points="19 20 9 12 19 4 19 20"></polygon>
                                    <line x1="5" y1="19" x2="5" y2="5"></line>
                                </svg> Back
                            </button>
                            <h4>Creditor Detail</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th scope="col">Added Date</th>
                                    <th scope="col">Requester</th>
                                    <th scope="col">Bank Name</th>
                                    <th scope="col">Request Type</th>
                                    <th scope="col">Reference No.</th>
                                    <th scope="col">Request Remarks</th>
                                    <th scope="col">Deposit Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Current Pending</th>
                                    <th scope="col">Current Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{detailData.request.addeddate}}</th>
                                    <td>{{detailData.request.userdetails}}</td>
                                    <td>{{detailData.request.name}}</td>
                                    <td>{{reqLst[detailData.request.requesttype]}}</td>
                                    <td>{{detailData.request.referencenumber}}</td>
                                    <td>{{detailData.request.requestremark | showNullResult}}</td>
                                    <td>{{detailData.request.depositeddate}}</td>
                                    <td>{{detailData.request.amount}}</td>
                                    <td>{{detailData.request.current_credit}}</td>
                                    <td>{{detailData.request.current_balance}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="avatar avatar-xl img__wrap" *ngIf="detailData.request.image">
                        <!-- <a href="{{ detailData.request.image}}" target="_blank" rel="noopener noreferrer">
                            <img alt="avatar" src="{{ detailData.request.image}}" class="rounded img__wrap" />

                            <svg class="img__description eye" viewBox="0 0 24 24" width="24" height="24"
                                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" class="css-i6dzq1">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg></a> -->
                        <a href="{{ detailData.request.image}}" target="_blank" class="viewImg">
                            <img alt="avatar" src="{{ detailData.request.image}}" class="rounded img__wrap" />
                            <svg class="img__description eye" viewBox="0 0 24 24" width="24" height="24"
                                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" class="css-i6dzq1">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Creditor Report</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Request Restriction</th>
                                    <th scope="col">Credit Limit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{detailData.request.requestlimit | showNullResult }}
                                    </td>
                                    <td>{{detailData.request.creditlimit | showNullResult:'Boolean'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="container mt-3">
                    <div class="white_bg">
                        <div style="
                        display: flex;
                        justify-content: space-between;
                    ">
                            <div>
                                <h5 class="">Verify Transaction</h5>
                            </div>
                            <div>
                                <p>Prev Charges: {{preCharges}} &nbsp;&nbsp;&nbsp; Prev Charges: {{preCashBack}}</p>
                            </div>
                        </div>
                        <div class="form_blk">
                            <form [formGroup]="updateDtlForm">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>OTP<span class="alert-error">*</span></label>
                                            <input type="text" class="form-control input-sm"
                                                [ngClass]="{'is-invalid': f.otp.touched && f.otp.invalid}"
                                                formControlName="otp" autocomplete="off" placeholder="OTP">
                                            <div *ngIf="f.otp.touched && f.otp.invalid" class="alert-error">
                                                <div *ngIf="f.otp.errors.required"><small><b>OTP is
                                                            required.</b></small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Charges <span class="alert-error">*</span></label>
                                                    <input type="text" class="form-control"
                                                        [ngClass]="{'is-invalid': f.charges.touched && f.charges.invalid}"
                                                        formControlName="charges" (keyup)="chargesReq = false"
                                                        autocomplete="off" placeholder="Charges"
                                                        [(ngModel)]="detailData.request.charges === undefined ? 0:detailData.request.charges">
                                                    <!-- <div *ngIf="f.charges.touched && f.charges.invalid" class="alert-error">
                                                        <div *ngIf="f.charges.errors.required"><small><b>Charges is
                                                                    required.</b></small></div>
                                                    </div> -->
                                                    <div *ngIf="chargesReq" class="alert-error"><small><b>Charges is
                                                                required.</b></small></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Cash Back <span class="alert-error">*</span></label>
                                                    <input type="text" class="form-control"
                                                        (keyup)="cashBackReq = false"
                                                        [ngClass]="{'is-invalid': f.cash_back.touched && f.cash_back.invalid}"
                                                        formControlName="cash_back" autocomplete="off"
                                                        placeholder="Cash Back"
                                                        [(ngModel)]="detailData.request.cash_back === undefined ? 0:detailData.request.cash_back">
                                                    <!-- <div *ngIf="f.cash_back.touched && f.cash_back.invalid" class="alert-error">
                                                <div *ngIf="f.cash_back.errors.required"><small><b>Cash Back is
                                                            required.</b></small></div>
                                            </div> -->
                                                    <div *ngIf="cashBackReq" class="alert-error"><small><b>Cash BAck is
                                                                required.</b></small></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>remarks <span class="alert-error">*</span></label>
                                            <textarea id="" class="form-control" formControlName="remarks"
                                                rows="3"></textarea>
                                            <div *ngIf="f.remarks.touched && f.remarks.invalid" class="alert-error">
                                                <div *ngIf="f.remarks.errors.required"><small><b>Cash Back is required.</b></small></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label><input type="checkbox" value="1" formControlName="exceptional"> Mark
                                                as Exceptional</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group" style="
                        display: flex;
                        justify-content: space-between;
                    ">
                                    <input type="submit" class="btn btn-warning" [disabled]="!updateDtlForm.valid"
                                        (click)="onSubmit('btnApprove')" value="Approve">
                                    <input type="submit" class="btn btn-danger" (click)="onSubmit('btnReject')"
                                        [disabled]="!updateDtlForm.valid" value="Reject">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <h3 class="text-center mt-3">Debitor Detail</h3>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Debitor Detail</th>
                                    <th scope="col">Current Balance</th>
                                    <th scope="col">Current Pending</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{detailData.debitor.username | showNullResult }}
                                    </td>
                                    <td>{{detailData.debitor.cd_balance | showNullResult:'Boolean'}}</td>
                                    <td>{{detailData.debitor.cd_pending | showNullResult:'Boolean'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>