/*  
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    transition: opacity .2s, visibility .2s;
  }
  .eye{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  } */

  a.viewImg {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
a.viewImg::after {
    content: '';
    position: absolute;
    display: none;
    background-color: rgba(29, 106, 154, 0.72);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a.viewImg:hover::after{
    display: block;
}
  a.viewImg svg {
      display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    color: #2de1bf;
    transform: scale(1);
    transition: transform 2s;
}
a.viewImg:hover svg{
    display: block;
    transform: scale(1.5);
}