<div class="container-fluid">
  <div class="white_bg">
   

    <ul class="nav nav-pills mb-3 mt-3 justify-content-center" id="justify-center-pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="justify-center-pills-home-tab" data-toggle="pill" routerLink="/settlement"
          role="tab" aria-controls="justify-center-pills-home" aria-selected="true">Settle Payment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="justify-center-pills-profile-tab" data-toggle="pill" routerLink="addbank" role="tab"
          aria-controls="justify-center-pills-profile" aria-selected="false">Add Bank</a>
      </li>
    </ul>

    <hr>
    <router-outlet></router-outlet>



  </div>