<div class="container">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <form [formGroup]="addtransfer" (submit)="OnaddTransfer()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>From Bank : <span class="alert-error">*</span></label>
                                <ng-select2 id="myselect" from width=100% formControlName="from_bank"
                                    [(ngModel)]="from_bank" placeholder='Please Select From Bank...'
                                    [data]="exampleData"> </ng-select2>
                                <!-- <label>From Bank :</label>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  f.from_bank.touched && f.from_bank.invalid }" formControlName="from_bank" autocomplete="off" placeholder="From Bank">
                             -->
                                <div *ngIf="f.from_bank.touched && f.from_bank.invalid" class="alert-error">
                                    <div *ngIf="f.from_bank.errors.required"><small><b>From Bank is
                                                required.</b></small></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>To Bank : <span class="alert-error">*</span></label>
                                <ng-select2 id="myselect" from width=100% formControlName="to_bank"
                                    placeholder='Please Select To Bank...' [data]="tobankList"> </ng-select2>
                                <!-- <input type="text" class="form-control" [ngClass]="{ 'is-invalid':  f.to_bank.touched && f.to_bank.invalid }" formControlName="to_bank" autocomplete="off" placeholder="To Bank">
                            -->
                                <div *ngIf="f.to_bank.touched && f.to_bank.invalid" class="alert-error">
                                    <div *ngIf="f.to_bank.errors.required"><small><b>To Bank is required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Enter Amount : <span class="alert-error">*</span></label>
                                <input type="text" (keyup)="onKey($event)" class="form-control"
                                    [ngClass]="{ 'is-invalid':  f.amount.touched && f.amount.invalid }"
                                    formControlName="amount" autocomplete="off" placeholder="Enter Amount">
                                <div *ngIf="f.amount.touched && f.amount.invalid" class="alert-error">
                                    <div *ngIf="f.amount.errors.required"><small><b>Amount is required.</b></small>
                                    </div>
                                    <div *ngIf="f.amount.errors.pattern"><small><b>only numbers are allowed.</b></small>
                                    </div>
                                </div>
                                <br>
                                <div class="alert alert-danger" role="alert" *ngIf="isshow">
                                    <span>{{ amount }} Only</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Remarks : <span class="alert-error">*</span></label>
                                <input type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid':  f.remarks.touched && f.remarks.invalid }"
                                    formControlName="remarks" autocomplete="off" placeholder="Remarks">
                                <div *ngIf="f.remarks.touched && f.remarks.invalid" class="alert-error">
                                    <div *ngIf="f.remarks.errors.required"><small><b>To Bank is required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!addtransfer.valid" value="Submit">
                    </div>


                </form>

                <!-- <label for="typeahead-prevent-manual-entry">Search for a state:</label>
                <input id="typeahead-prevent-manual-entry"  type="text" class="form-control"
                    [(ngModel)]="model"
                    [ngbTypeahead]="search"
                    [inputFormatter]="formatter"
                    [resultFormatter]="formatter"
                    [editable]='false' />
                <hr>
                <pre>Model: {{ model | json }}</pre>
                  -->
            </div>
        </div>
    </div>
</div>