<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area" *ngIf="!singleApproverAction">
                <div class="table-responsive mb-4 mt-4">
                    <table class="table table-responsive" id="apvrLst">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Added Date</th>
                                <th scope="col">Requester</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Refrence No.</th>
                                <th scope="col">Current Pending</th>
                                <th scope="col">Request Remarks</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Request Type</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of authrizorLst; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{list.addeddate}}</td>
                                <td>{{list.userdetails}}</td>
                                <td>{{list.name}}</td>
                                <td>{{list.referencenumber}}</td>
                                <td>{{list.current_balance}}</td>
                                <td>{{list.requestremark | showNullResult}}</td>
                                <td>{{list.amount}}</td>
                                <td>{{reqLst[list.requesttype]}}</td>
                                <td>
                                    <a href="javascript:void(0);" (click)="onSingleAuthAction(list)"
                                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-check-circle text-primary">
                                            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                            <polyline points="22 4 12 14.01 9 11.01"></polyline>
                                        </svg>
                                        Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-single-entry-viewer *ngIf="singleApproverAction" [detailData]="detailDataObj" [formType]="formTypeOf"
    (backtoAuthorizer)="clickFromChild()"></app-single-entry-viewer>