<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                    <form [formGroup]="addCompanyBank" (submit)="add_company_bank()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name : <span class="alert-error">*</span></label>
                                    <input type="text" class="form-control" formControlName="name" autocomplete="off"
                                        placeholder="Name">
                                    <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                                        <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Account Number : <span class="alert-error">*</span></label>
                                    <input type="text" class="form-control" formControlName="accountno"
                                        autocomplete="off" placeholder="Account Number">
                                    <div *ngIf="f.accountno.touched && f.accountno.invalid" class="alert-error">
                                        <div *ngIf="f.accountno.errors.required"><small><b>Account Number is
                                                    required.</b></small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Balance : <span class="alert-error">*</span></label>
                                    <input type="text" class="form-control" formControlName="balance" autocomplete="off"
                                        placeholder="Enter Amount">
                                    <div *ngIf="f.balance.touched && f.balance.invalid" class="alert-error">
                                        <div *ngIf="f.balance.errors.required"><small><b>Amount is required.</b></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Enter IFSC Code: <span class="alert-error">*</span></label>
                                    <input type="text" class="form-control" autocomplete="off"
                                        placeholder="Enter IFSC Code" formControlName="ifsc">
                                    <div *ngIf="f.ifsc.touched && f.ifsc.invalid" class="alert-error">
                                        <div *ngIf="f.ifsc.errors.required"><small><b>IFSC Code is required.</b></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Enter Branch: <span class="alert-error">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Branch Name"
                                        formControlName="branch">
                                    <div *ngIf="f.branch.touched && f.branch.invalid" class="alert-error">
                                        <div *ngIf="f.branch.errors.required"><small><b>Branch Name is
                                                    required.</b></small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Transfer Allowed: <span class="alert-error">*</span></label><br>
                                    <label><input type="radio" value='1' [(ngModel)]="transfer_allowed"
                                            formControlName="transfer_allowed"> Yes</label> &nbsp;&nbsp;
                                    <label><input type="radio" value='0' [(ngModel)]="transfer_allowed"
                                            formControlName="transfer_allowed"> No</label>
                                    <div *ngIf="f.transfer_allowed.touched && f.transfer_allowed.invalid"
                                        class="alert-error">
                                        <div *ngIf="f.transfer_allowed.errors.required"><small><b>Transfer Allowed is
                                                    required.</b></small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Slip: <span class="alert-error">*</span></label> <br>
                                    <label><input type="radio" value="1" [(ngModel)]="is_slip" name="is_slip"
                                            formControlName="is_slip"> Yes</label>&nbsp;&nbsp;
                                    <label><input type="radio" value="0" [(ngModel)]="is_slip" name="is_slip"
                                            formControlName="is_slip"> No</label>
                                    <div *ngIf="f.is_slip.touched && f.is_slip.invalid" class="alert-error">
                                        <div *ngIf="f.is_slip.errors.required"><small><b>slip is required.</b></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label> Status: <span class="alert-error">*</span></label><br>
                                    <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                            formControlName="activestatus" value="1"> Active </label>&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                            formControlName="activestatus" value="0"> Deactive</label>
                                    <div *ngIf="f.activestatus.touched && f.activestatus.invalid" class="alert-error">
                                        <div *ngIf="f.activestatus.errors.required"><small><b>Status is
                                                    required.</b></small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" [disabled]="!addCompanyBank.valid"
                                value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>