.table-responsive {
    display: table;
}

.mainSection {
    margin-top: 30px; 
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 2px 10px 18px #d6c3c3;
    /* max-width: 30%; */
}

.mainSection label {
    color: #212529c2;
}
.mainSection {
    align-self: flex-start !important;
}

/* @media (min-width: 991.98px) {
    .mainSection{
        max-width: 30%;
    }
} */
.usercheck{
    width: 85px;
}


.ng-autocomplete {
    min-width: 200px !important;
    max-width: 600px !important;
    width    : auto !important;
}