<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <label>Select User</label>
                        <div class="form-group">
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 " *ngIf="showData">
                    <div [formGroup]="formData">
                        <div formArrayName="mainGroup" class="row">
                            <div class="col-10 col-md-5 col-lg-5 col-xl-5 mainSection mx-auto"
                                *ngFor="let item of getMain.controls; index as i">
                                <h3>{{item.get('name')?.value}}</h3>
                                <div [formArrayName]="i">
                                    <div class="d-flex" style=" align-items: center; height: 35px;">
                                        <label class="m-0" for="is_Fix">Is Fixed</label> &nbsp;
                                        <input type="checkbox" name="is_Fix" formControlName="is_fixed" class="mx-3">
                                        <input type="number" formControlName="sameVal"
                                            *ngIf="item.get('is_fixed')?.value === false" class="form-control usercheck"
                                            placeholder="">
                                    </div>
                                    <div
                                        style="max-height: 350px;overflow-y: auto;overflow-x: hidden;padding: 10px 15px;">
                                        <div *ngFor="let form of getArr(item,i).controls; index as j;"
                                            formArrayName="arr" class="mb-2">
                                            <div [formGroupName]="j">
                                                <div class="row">
                                                    <div class="col-8"> <label class="font-weight-bold">{{j + 1}}.
                                                            {{form.get('name')?.value}}</label></div>
                                                    <div class="col-4"><input type="number"
                                                            [ngClass]="{'is-invalid': form.get('value')?.invalid}"
                                                            style=" max-width: 100px;" placeholder="Enter Value"
                                                            class="form-control" placeholder="" formControlName="value">
                                                        <div *ngIf="form.get('value')?.touched || form.get('value')?.invalid"
                                                            class="alert-error">
                                                            <div *ngIf="form.get('value')?.errors?.required">
                                                                <small><b>Required.</b></small>
                                                            </div>
                                                            <div *ngIf="form.get('value')?.errors?.min">
                                                                <small><b>Minimum add 0.</b></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-primary" [disabled]="!formData.valid"
                                (click)="onSubmit()">Submit</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>