<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <label>Select User</label>
                        <div class="form-group">
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div [formGroup]="mainForm" *ngIf="mainFar.length > 0">
                    <div formArrayName="formArr">
                        <!-- <h2>formArrayName="formArr" {{formArr.valid}}</h2> -->
                        <div *ngFor="let arr of mainFar; index as i"
                            class="mainSection mt-5 col-md-12 col-sm-12 mx-auto">
                            <h3>{{arr.get('groupName')?.value | uppercase}}</h3>
                            <div [formArrayName]="i">
                                <div *ngIf="getArr(arr,i).controls.length !== 0">
                                    <div class="px-5 mb-3">
                                        <div class="row">
                                            <div class="col-md-10 col-sm-12 mx-auto pennyBox">
                                                <span class="titl">Penny Drop</span>
                                                <input type="number" class="form-control usercheck"
                                                    placeholder="Enter Penny Amount" formControlName="groupPennyDrop">
                                                <div *ngIf="arr.get('groupPennyDrop')?.touched && arr.get('groupPennyDrop')?.invalid"
                                                    class="alert-error">
                                                    <div *ngIf="arr.get('groupPennyDrop')?.errors?.required">
                                                        <small><b>required.</b></small>
                                                    </div>
                                                    <div *ngIf="arr.get('groupPennyDrop')?.errors?.min">
                                                        <small><b>Minimum 1 Rs.</b></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngFor="let form of getArr(arr,i).controls; index as j; first as isFirst; last as isLast"
                                        formArrayName="groupSlotArr" class="mt-3 px-5">
                                        <div [formGroupName]="j">
                                            <div class="row">
                                                <div class="col-md-10 col-sm-12 mx-auto">
                                                    <h5>{{form.get('groupSlotName')?.value | uppercase}}</h5>

                                                    <div class="d-flex" style=" align-items: center;">
                                                        <label class="m-0" for="isFix{{j}}">Is Amount Fixed</label>
                                                        &nbsp;
                                                        <input type="checkbox" name="isFix{{j}}"
                                                            (change)="toggleAmountInput($event,form,j,form.get('groupSlotFixAmount'))"
                                                            formControlName="groupSlotFixAmountToggle" class="mx-2">
                                                        <input type="number" class="form-control usercheck"
                                                            placeholder="{{form.get('groupSlotFixAmountToggle')?.value === true?'Set Fixed Value':''}}"
                                                            (keyup)="setAmount($event,form,j)"
                                                            formControlName="groupSlotFixAmount">
                                                    </div>
                                                    <div *ngIf="form.get('groupSlotFixAmount')?.touched || form.get('groupSlotFixAmount')?.invalid"
                                                        class="alert-error">
                                                        <div *ngIf="form.get('groupSlotFixAmount').errors?.required">
                                                            <small><b>required.</b></small>
                                                        </div>
                                                        <div *ngIf="form.get('groupSlotFixAmount')?.errors?.min">
                                                            <small><b>Minimum 1 Rs.</b></small>
                                                        </div>
                                                    </div>

                                                    <table class="table mt-3">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No</th>
                                                                <th>Min Slab</th>
                                                                <th>Max Slab</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>100</td>
                                                                <td>1000</td>
                                                                <td>
                                                                    <input type="number" class="form-control"
                                                                        formControlName="slot1">
                                                                    <div *ngIf="form.get('slot1')?.touched || form.get('slot1')?.invalid"
                                                                        class="alert-error">
                                                                        <div *ngIf="form.get('slot1').errors?.required">
                                                                            <small><b>required.</b></small>
                                                                        </div>
                                                                        <div *ngIf="form.get('slot1')?.errors?.min">
                                                                            <small><b>Minimum 1 Rs.</b></small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>1001</td>
                                                                <td>2000</td>
                                                                <td>
                                                                    <input type="number" class="form-control"
                                                                        formControlName="slot2">
                                                                    <div *ngIf="form.get('slot2')?.touched || form.get('slot2')?.invalid"
                                                                        class="alert-error">
                                                                        <div *ngIf="form.get('slot2').errors?.required">
                                                                            <small><b>required.</b></small>
                                                                        </div>
                                                                        <div *ngIf="form.get('slot2')?.errors?.min">
                                                                            <small><b>Minimum 1 Rs.</b></small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>2001</td>
                                                                <td>3000</td>
                                                                <td>
                                                                    <input type="number" class="form-control"
                                                                        formControlName="slot3">
                                                                    <div *ngIf="form.get('slot3')?.touched || form.get('slot3')?.invalid"
                                                                        class="alert-error">
                                                                        <div *ngIf="form.get('slot3').errors?.required">
                                                                            <small><b>required.</b></small>
                                                                        </div>
                                                                        <div *ngIf="form.get('slot3')?.errors?.min">
                                                                            <small><b>Minimum 1 Rs.</b></small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>3001</td>
                                                                <td>4000</td>
                                                                <td>
                                                                    <input type="number" class="form-control"
                                                                        formControlName="slot4">
                                                                    <div *ngIf="form.get('slot4')?.touched || form.get('slot4')?.invalid"
                                                                        class="alert-error">
                                                                        <div *ngIf="form.get('slot4').errors?.required">
                                                                            <small><b>required.</b></small>
                                                                        </div>
                                                                        <div *ngIf="form.get('slot4')?.errors?.min">
                                                                            <small><b>Minimum 1 Rs.</b></small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>4001</td>
                                                                <td>5000</td>
                                                                <td>
                                                                    <input type="number" class="form-control"
                                                                        formControlName="slot5">
                                                                    <div *ngIf="form.get('slot5')?.touched || form.get('slot5')?.invalid"
                                                                        class="alert-error">
                                                                        <div *ngIf="form.get('slot5').errors?.required">
                                                                            <small><b>required.</b></small>
                                                                        </div>
                                                                        <div *ngIf="form.get('slot5')?.errors?.min">
                                                                            <small><b>Minimum 1 Rs.</b></small>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 mt-5 col-md-8 col-sm-12 mx-auto text-center">
                            <button type="button" [disabled]="!formArr.valid" class="btn btn-success"
                                (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>