.inputBox {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px black;
}


.inputBox.positive {
    /* background-color: yellow; */
    background-color: #d4edda;
    border-color: #c3e6cb;
 
}

.inputBox.negative {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.ng-autocomplete {
    min-width: 200px !important;
    max-width: 600px !important;
    width    : auto !important;
}
