<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <label>Select Staff</label>
                        <div class="form-group">
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showErrorMesg !== null" class="alert alert-danger" role="alert">
                    {{showErrorMesg}}
                </div>
                <div class="form_blk container" *ngIf="showData">

                    <form [formGroup]="dynamicForm">
                        <div class="row">
                            <div class="col-md-3 mb-2" *ngFor="let permission of updatedData; let i=index">
                                <div class="form-group inputBox"
                                    [ngClass]="dynamicForm.get(permission.name)?.value === '1'?'positive':'negative'">
                                    <label> {{permission.name | titlecase | replace : '_' : ' '}}</label><br>
                                    <label><input type="radio" formControlName="{{permission.name}}" value='1'>
                                        Yes</label>&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" formControlName="{{permission.name}}" value='0'>
                                        No</label>
                                </div>
                            </div>

                        </div>
                    </form>
                    <input *ngIf="isShow" type="button" value="submit" class="btn btn-danger" (click)="onSubmit()">
                </div>
            </div>
        </div>
    </div>
</div>