<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <div class="row" *ngIf="addedBankList.length !== 0">
                    <div class="col-md-12 mx-auto">
                        <div *ngIf="addedBankList.length === 0">

                        </div>

                        <table class="table  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Bank Name</th>
                                    <th scope="col">Name on Account</th>
                                    <th scope="col">Account Number</th>
                                    <th scope="col">IFSC Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="testRow" appTblRowRadioSelector
                                    *ngFor="let list of addedBankList; index as i">
                                    <th scope="row">
                                        <!-- <input type="checkbox" class="custom-control-input" [(ngModel)]="radioVal"  id="{{i}}"> -->

                                        <input type="radio" #tblSelect ngModel="tblSelect" [(ngModel)]="radioVal"
                                            name="tblSelect" [value]="list.id">
                                    </th>
                                    <td>{{list.bank | showNullResult}}</td>
                                    <td>{{list.payeename | showNullResult}}</td>
                                    <td>{{list.accountno | showNullResult}}</td>
                                    <td>{{list.ifsccode | showNullResult }}</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row mb-6">
                            <div class="col-md-3">
                                <label>Amount</label>
                                <input required type="number" #amount ngModel="amount" min="100" name="amount"
                                    class="form-control" autocomplete="off" />
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <button type="button" [disabled]="amount.value === '' || radioVal === ''"
                                (click)="onSubmit(amount.value, radioVal)" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div  class="text-center" *ngIf="addedBankList.length === 0">
                    <h6>No Data Found</h6>
                </div>
            </div>
        </div>
    </div>
</div>