.mainBox{
    width: 50vw;
    /* border: 1px solid #000; */
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 15px 50px 0 rgb(82 63 105 / 15%);
    box-shadow: 0 15px 10px 0.5 rgb(82 63 105 / 15%);
}
.mainBox input{
    height: 35px;
}
