<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing"> 
                <div class="widget-content widget-content-area">

                    <div class="mainBox mx-auto" [formGroup]="form">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Select Bank</label>
                                <!-- <select class="form-control" formControlName="bankid">
                        <option value="" selected="selected" disabled="disabled">-- select Type --</option>
                        <option *ngFor="let item of bankList" [ngValue]="item">{{item.bankname}}</option>
                    </select> --> <br>
                                <!-- (valueChanged)="tests($event)" -->
                                <ng-select2 formControlName="bankid" width="100%" placeholder='Please select Bank...'
                                    [data]="exampleData">
                                </ng-select2>
                                <div *ngIf="form.get('bankid')?.touched && form.get('bankid')?.invalid"
                                    class="alert-error">
                                    <div *ngIf="form.get('bankid')?.errors?.required"><small><b>Transaction Type is
                                                required.</b></small></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Name on Account</label>
                                <input type="text" class="form-control form-control-sm"
                                    placeholder="Enter Name as on Account" formControlName="benename" autocomplete="off"
                                    value="" />
                                <div *ngIf="form.get('benename')?.touched && form.get('benename')?.invalid"
                                    class="alert-error">
                                    <div *ngIf="form.get('benename')?.errors?.required"><small><b>Name is
                                                required.</b></small></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Account Number</label>
                                <input type="number" class="form-control form-control-sm"
                                    placeholder="Enter Account Number" formControlName="accno" autocomplete="off"
                                    value="" />
                                <div *ngIf="form.get('accno')?.touched && form.get('accno')?.invalid"
                                    class="alert-error">
                                    <div *ngIf="form.get('accno')?.errors?.required"><small><b>Account Number is
                                                required.</b></small></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="">Confirm Account Number</label>
                                <input type="number" class="form-control form-control-sm"
                                    placeholder="Enter Confirm Account Number" formControlName="confirmaccno"
                                    autocomplete="off" value="" />
                                <div *ngIf="form.get('confirmaccno')?.touched && form.get('confirmaccno')?.invalid"
                                    class="alert-error">
                                    <div *ngIf="form.get('confirmaccno')?.errors?.required"><small><b>Confirm Account
                                                Number is
                                                required.</b></small></div>
                                    <div *ngIf="form.get('confirmaccno')?.errors?.mustMatch"><small><b>Account Number
                                                should match.</b></small></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="">IFSC Code</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Enter IFSC Code"
                                    formControlName="ifsccode" autocomplete="off" value="" />
                                <div *ngIf="form.get('ifsccode')?.touched && form.get('ifsccode')?.invalid"
                                    class="alert-error">
                                    <div *ngIf="form.get('ifsccode')?.errors?.required"><small><b>IFSC Code is
                                                required.</b></small></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <!-- <button type="button" (click)="onSubmit()" class="btn btn-primary">Submit</button> -->
                            <button type="button" [disabled]="!form.valid" (click)="onSubmit()"
                                class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </div> 
        </div>
    </div>
</div>