<app-loader></app-loader>
<!-- <ngx-spinner></ngx-spinner> -->
<!-- <button class="btn btn-block btn-warning mb-3" (click)="load()">
    with Timeout 2 seconds
  </button> -->
<!-- <button  type="submit" (click)="showS()">Start Spinner</button> -->
<div class="myLoader" *ngIf="showLoadeer">
    <!-- <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
    <div class="spinner-grow text-danger align-self-center"></div>
</div>


<!-- With Login -->
<div *ngIf="!checkLogin">
    <router-outlet></router-outlet>
</div>


<!-- Without Login -->
<!-- <div *ngIf="checkLogin" > -->
<div *ngIf="checkLogin">

    <app-header></app-header>
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="search-overlay"></div>
        <app-sidebar></app-sidebar>
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">


            <router-outlet></router-outlet>


        </div>
        <!--  END CONTENT AREA  -->


    </div>
    <!-- END MAIN CONTAINER -->
</div>