<div class="sidebar-wrapper sidebar-theme">
    <!-- <app-admin-header [_permissionlist]="list"></app-admin-header>  -->
    <app-retailer-header *ngIf="details.usertype=='5'"></app-retailer-header>
    <app-admin-header   *ngIf="details.usertype=='1'"></app-admin-header>
    <app-super-admin *ngIf="details.usertype=='0'"></app-super-admin>
</div>