<!-- <h1>Paytm Wallet</h1> -->

<div class="row">
    <div class="col-md-6 mx-auto">
        <label>Select User</label>
        <div class="form-group">
            <div class="ng-autocomplete">
                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate" [debounceTime]="600" [minQueryLength]="5"
                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a href="javascript:void(0)">
                        <span [innerHTML]="item.name"></span> |
                        <span [innerHTML]="item.username"></span> |
                        <span [innerHTML]="item.firmname"></span>
                    </a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showData" class="row">
    <div class="col-md-6 mx-auto">
        <div [formGroup]="mainForm">
            <div class="row">
                <div class="col-12"> <label class="font-weight-bold">value</label>
                    <input type="number" [ngClass]="{'is-invalid': mainForm.get('value')?.invalid}"
                        placeholder="Enter Value" class="form-control" placeholder="" formControlName="value">
                    <div *ngIf="mainForm.get('value')?.touched || mainForm.get('value')?.invalid" class="alert-error">
                        <div *ngIf="mainForm.get('value')?.errors?.min">
                            <small><b>Minimum add 0.</b></small>
                        </div>
                    </div>
                    <div *ngIf="mainForm.get('value')?.errors?.required">
                        <small><b>required.</b></small>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-primary" [disabled]="!mainForm.valid"
                            (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>