<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row" *ngIf="userId === ''">
                    <div class="col-md-6 mx-auto">
                        <label>Select Users</label>
                        <div class="form-group">

                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_blk container" *ngIf="showData">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">From Account</th>
                                            <th scope="col">Va Number</th>
                                            <th scope="col">Ifsc</th>
                                            <th scope="col">Limit</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date Added</th>
                                            <th scope="col">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let v of va let i = index">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{v.type}}</td>
                                            <td>{{v.from_account}}</td>
                                            <td>{{v.va_number}}</td>
                                            <td>{{v.ifsc}}</td>
                                            <td>{{v.limit}}</td>
                                            <td>{{v.status}}</td>
                                            <td>{{v.dateadded}}</td>
                                            <td> <button class="btn btn-outline-primary btn-sm"
                                                    (click)="update_Va(modalopen,v)"> <i
                                                        class="fas fa-edit"></i>Edit</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #modalopen let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">EDIT Virtual Account DETAILS</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="updateVa" (submit)="OnUpdate_Va()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>From Account <span class="alert-error"></span></label>
                                <ng-select2 formControlName="from_account" [(ngModel)]="value" [options]="options"
                                    [data]="exampleDataMul">
                                </ng-select2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Status: <span class="alert-error">*</span></label><br>
                                <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                        formControlName="activestatus" value="1"> Active </label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                        formControlName="activestatus" value="0"> Deactive</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!updateVa.valid" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>