 /* .positive {
     background-color: #d4edda;
     border-color    : #c3e6cb;
 }

 .negative {
     background-color: #f8d7da;
     border-color    : #f5c6cb;
 }

 .def {
     background-color: #f9213261;
     border-color    : #f5c6cb;
 } */



 .note-container.note-grid .note-item .note-inner-content {
     min-height: 100px !important;
 }

 .new-control.new-radio>input:not(:checked)~span.new-control-indicator {
     border: 1px solid #666;
 }

 .note-container.note-grid .note-item {
     /* max-width: 48% !important; */
     width       : unset !important;
     min-width   : 180px !important;
     margin-right: 10px !important;
     max-width   : max-content !important;
 }


 @media (max-width: 2132px) {
     .note-container.note-grid .note-item {
         /* max-width: 32%; */
         width    : unset !important;
         min-width: 180px !important;
     }
 }
 @media (max-width: 480px) {
    .note-container.note-grid .note-item {
        width    : unset !important;
        max-width: unset !important;
        min-width: 100% !important;
    }
}