<div class="container-fluid">
  <div class="row layout-top-spacing">
    <div id="basic" class="col-lg-12 layout-spacing">
      <div class="widget-content widget-content-area">

        <div *ngFor="let itme of updatedData; let i=index" class="mb-3">
          <h3>{{itme.heading}}</h3>
          <div class="note-container note-grid mt-2">

            <div class="note-item all-notes note-work" *ngFor="let subItem of itme.items; let j=index;">
              <div class="note-inner-content">
                <div class="note-content">

                  <input type="radio" name="hiddenRd" (click)="handleChange(subItem.name,$event)" hidden
                    value="{{subItem.value}}" />

                  <p class="note-title" data-notetitle="Meeting with Kelly">{{subItem.name | replace : '_' :
                    ' '| replace : '-' : ' '| titlecase }}</p>

                  <div class="note-description-content">

                    <div class="mt-2" *ngIf="itme.heading !== 'PG' && itme.heading !== 'SETTLEMENT'">
                      <div class="n-chk" *ngIf="subItem.name !== 'SMS-GATEWAY'">
                        <label class="new-control new-radio radio-success">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '1') ? true : false" value="1">
                          <span class="new-control-indicator"></span>Yes
                        </label>

                        <label class="new-control new-radio radio-danger">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '0') ? true : false" value="0">
                          <span class="new-control-indicator"></span>No
                        </label>
                      </div>
                      <div class="n-chk" *ngIf="subItem.name === 'SMS-GATEWAY'">
                        <label class="new-control new-radio radio-success">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '0') ? true : false" value="0">
                          <span class="new-control-indicator"></span>DOVE SOFT
                        </label>

                        <label class="new-control new-radio radio-danger">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '1') ? true : false" value="1">
                          <span class="new-control-indicator"></span>SOLUTION INFINY
                        </label>

                        <label class="new-control new-radio radio-Info ">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '2') ? true : false" value="2">
                          <span class="new-control-indicator"></span>CIBS
                        </label>
                      </div>
                    </div>

                    <div class="mt-2" *ngIf="itme.heading == 'PG'">
                      <div class="n-chk">
                        <label class="new-control new-radio radio-success">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '0') ? true : false" value="0">
                          <span class="new-control-indicator"></span>paytm
                        </label>

                        <label class="new-control new-radio radio-danger">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '1') ? true : false" value="1">
                          <span class="new-control-indicator"></span>Cashfree
                        </label>

                        <label class="new-control new-radio radio-Info ">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '2') ? true : false" value="2">
                          <span class="new-control-indicator"></span>Razor
                        </label>
                      </div>
                    </div>

                    <div class="mt-2" *ngIf="itme.heading == 'SETTLEMENT'">
                      <div class="n-chk">
                        <label class="new-control new-radio radio-success">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '1') ? true : false" value="1">
                          <span class="new-control-indicator"></span>{{subItem.name == 'settlement-network'?
                          'Razorpay':'Yes'}}
                        </label>

                        <label class="new-control new-radio radio-danger">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '0') ? true : false" value="0">
                          <span class="new-control-indicator"></span> {{subItem.name == 'settlement-network'?
                          'Cashfree':'No'}}
                        </label>

                        <label *ngIf="subItem.name == 'settlement-network'" class="new-control new-radio radio-Info ">
                          <input type="radio" class="new-control-input" appRadioControl="true" name="{{subItem.name}}"
                            [checked]="(subItem.value === '2') ? true : false" value="2">
                          <span class="new-control-indicator"></span>Paytm
                        </label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>