<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered   non-hover dataTable" id="CompanyList"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Account No</th>
                                <th scope="col">IFSC Code</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of CompanyBankList; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{list.name}}</td>
                                <td>{{list.accno}}</td>
                                <td>{{list.ifsc}}</td>
                                <td>{{list.branch}}</td>
                                <td>{{list.balance | currency:"INR" }}</td>
                                <td> <button class="btn btn-outline-primary btn-sm"
                                        (click)="editcompanybank(modalopen,list)"> <i
                                            class="fas fa-edit"></i>Edit</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalopen let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Edit Company Bank Details</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editCompanyBank" (submit)="edit_company_bank()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name :</label>
                        <input type="text" class="form-control" formControlName="name" autocomplete="off"
                            placeholder="Name">
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                            <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Account Number :</label>
                        <input type="text" class="form-control" formControlName="accountno" autocomplete="off"
                            placeholder="Account Number">
                        <div *ngIf="f.accountno.touched && f.accountno.invalid" class="alert-error">
                            <div *ngIf="f.accountno.errors.required"><small><b>Account Number is
                                        required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Balance :</label>
                        <input type="text" class="form-control" formControlName="balance" autocomplete="off"
                            placeholder="Enter Amount">
                        <div *ngIf="f.balance.touched && f.balance.invalid" class="alert-error">
                            <div *ngIf="f.balance.errors.required"><small><b>Amount is required.</b></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter IFSC Code:</label>
                        <input type="text" class="form-control" autocomplete="off" placeholder="Enter IFSC Code"
                            formControlName="ifsc">
                        <div *ngIf="f.ifsc.touched && f.ifsc.invalid" class="alert-error">
                            <div *ngIf="f.ifsc.errors.required"><small><b>IFSC Code is required.</b></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter Branch:</label>
                        <input type="text" class="form-control" placeholder="Enter Branch Name"
                            formControlName="branch">
                        <div *ngIf="f.branch.touched && f.branch.invalid" class="alert-error">
                            <div *ngIf="f.branch.errors.required"><small><b>Branch name is required.</b></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Transfer Allowed:</label><br>
                        <label><input type="radio" value="1" [(ngModel)]="transfer_allowed" name="transfer_allowed"
                                formControlName="transfer_allowed"> Yes</label> &nbsp;&nbsp;
                        <label><input type="radio" value="0" [(ngModel)]="transfer_allowed" name="transfer_allowed"
                                formControlName="transfer_allowed"> No</label>
                        <div *ngIf="f.transfer_allowed.touched && f.transfer_allowed.invalid" class="alert-error">
                            <div *ngIf="f.transfer_allowed.errors.required"><small><b>Transfer Allowed is
                                        required.</b></small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Slip:</label><br>
                        <label><input type="radio" value="1" [(ngModel)]="is_slip" name="is_slip"
                                formControlName="is_slip"> Yes</label>&nbsp;&nbsp;
                        <label><input type="radio" value="0" [(ngModel)]="is_slip" name="is_slip"
                                formControlName="is_slip"> No</label>
                        <div *ngIf="f.is_slip.touched && f.is_slip.invalid" class="alert-error">
                            <div *ngIf="f.is_slip.errors.required"><small><b>slip is required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Status: <span class="alert-error">*</span></label><br>
                        <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                formControlName="activestatus" value="1"> Active </label>&nbsp;&nbsp;&nbsp;
                        <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                formControlName="activestatus" value="0"> Deactive</label>
                        <div *ngIf="f.activestatus.touched && f.activestatus.invalid" class="alert-error">
                            <div *ngIf="f.activestatus.errors.required"><small><b>Status is required.</b></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" [disabled]="!editCompanyBank.valid" value="Submit">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>