<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row mb-5"  *ngIf="usertype == 0">
                    <div class="col-md-6 mx-auto">
                        <label>Select Users</label>
                        <div class="form-group">

                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="getdata">
                    <div class="col">
                        <div class="row" *ngIf="usertype == 0">
                            <div class="col" *ngIf="usertype == 0">
                                <h1 class="h4 mb-4">Authorize {{getdata.is_authorize? 'Key Not Available': 'Key'}}</h1>
                                <div class="authView" *ngIf="getdata.is_authorize != true">
                                    {{getdata.data.authorisedkey}}
                                </div>
                                <div *ngIf="getdata.is_authorize == true">
                                    <input type="button" (click)='authrizeFn()'
                                        value="Click Here To Generate Authrised Key" class="btn btn-danger">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h1 class="h4 mb-3">Callback {{!getdata.is_callback? 'URL':'URL Not Available'}}
                                </h1>
                                <div [formGroup]="form">
                                    <div class="row mb-4">
                                        <div class="col-12 col-md-9">
                                            <!-- <label for="">Callback URL <span class="alert-error">*</span></label> -->
                                            <input type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': form.get('cburl')?.touched && form.get('cburl')?.invalid }"
                                                formControlName="cburl" autocomplete="off"
                                                placeholder="Enter Callback URL">
                                            <div *ngIf="form.get('cburl')?.touched && form.get('cburl')?.invalid"
                                                class="alert-error">
                                                <div *ngIf="form.get('cburl')?.errors?.required">
                                                    <small><b>required.</b></small>
                                                </div>
                                                <div *ngIf="form.get('cburl')?.errors?.validUrl">
                                                    <small><b>Enter Valid URL.</b></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3  pt-3 pt-md-1">
                                            <input type="submit" class="btn btn-danger" (click)="callBackFn()"
                                                [disabled]="!form.valid"
                                                value="{{!getdata.is_callback? 'Update URL':'Submit'}}">
                                        </div>
                                    </div>
                                    <!-- <input type="text"> -->
                                    <!-- <input type="button" value="Click Update URL" class="btn btn-danger"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>