<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area ">
                <form [formGroup]="form" (ngSubmit)="OnCallAllReq()" class="col-10 mx-auto">
                    <div class="form-row">
                        <div class="col-xs-12 col-12 col-md-4 form-group mx-auto">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mx-auto ">
                            <div class="ng-autocomplete">
                                <label for="">Creditor</label>
                                <!-- <input type="text" class="form-control" autocomplete="off" placeholder="Creditor"
                                    formControlName="creditor"> -->
                                <ng-autocomplete [data]="userAutoComDataCrd" [searchKeyword]="userKeywordCrd"
                                    [debounceTime]="600" (selected)='selectEventCrd($event)'
                                    (inputCleared)="searchClearedCrd()" (inputChanged)='getServerResponseCrd($event)'
                                    [itemTemplate]="crdItemTemplate" [notFoundTemplate]="crdNotFoundTemplate"
                                    [minQueryLength]="5" formControlName="creditor"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #crdItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #crdNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>

                        </div>
                        <div class="col-md-4 mx-auto">

                            <!-- <input type="text" class="form-control" placeholder="Bank Name" formControlName="bankid"> -->
                            <div class="ng-autocomplete">
                                <label for="">Bank ID</label>
                                <!-- <input type="text" class="form-control" autocomplete="off" placeholder="Creditor"
                                    formControlName="creditor"> -->
                                <ng-autocomplete [data]="userAutoComDataBid" [searchKeyword]="userKeywordBid"
                                    [debounceTime]="600" (selected)='selectEventBid($event)'
                                    (inputCleared)="searchClearedBid()" (inputChanged)='getServerResponseBid($event)'
                                    [itemTemplate]="bidItemTemplate" [notFoundTemplate]="bidNotFoundTemplate"
                                    [minQueryLength]="5" formControlName="bankid" placeholder="Search Bank Name">
                                </ng-autocomplete>

                                <ng-template #bidItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #bidNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-2">

                        <div class="col-md-4  mx-auto">
                            <div class="form-group">
                                <label for="validationDefault04">Request Type</label>
                                <select class="form-control" formControlName="type">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option *ngFor="let item of requestTypeLst; let i = index" [value]="item.value">
                                        {{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4  mx-auto">
                            <div class="form-group px-2">
                                <label>Status:</label><br>
                                <label><input type="radio" value="0" formControlName="status">
                                    Rejected</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" value="1" formControlName="status">
                                    Approved</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" value="2" formControlName="status"> Pending</label>
                            </div>
                        </div>

                        <div class="col-md-4  mx-auto">
                            <div class="form-group px-2">
                                <label>Exceptional:</label><br>
                                <label><input type="radio" value="1" formControlName="is_exceptional">
                                    Yes</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" value="0" formControlName="is_exceptional">
                                    No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <div id="basic" class="col-lg-12 layout-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered   non-hover dataTable" datatable
                        [dtOptions]="dtOptions" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Partner Name</th>
                                <th scope="col">Partner User Name</th>
                                <th scope="col">ASM Name</th>
                                <th scope="col">ASM User Name</th>
                                <th scope="col">Bank Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Charges</th>
                                <th scope="col">Cash Bank</th>
                                <th scope="col">Deposited Date</th>
                                <th scope="col">Added Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Request type</th>
                                <th scope="col">Excp Approve</th>
                                <th scope="col">Reference Number</th>
                                <th scope="col">Requester Remarks</th>
                                <th scope="col">Image</th>
                                <th scope="col">Partner Comment</th>
                                <th scope="col">ASM Commment</th>
                                <th scope="col">Creditor Name</th>
                                <th scope="col">Creditor</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allRequestLst?.length != 0">
                            <tr *ngFor="let list of allRequestLst; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{list.pname}}</td>
                                <td>{{list.puname}}</td>
                                <td>{{list.aname}}</td>
                                <td>{{list.auname}}</td>
                                <td>{{list.bankname}}</td>
                                <td>{{list.amount}}</td>
                                <td>{{list.credit}}</td>
                                <td>{{list.charges}}</td>
                                <td>{{list.cash_back}}</td>
                                <td>{{list.depositeddate}}</td>
                                <td>{{list.addeddate}}</td>
                                <td>{{list.status}}</td>
                                <td>{{requestTypeLst[list.requesttype].name}}</td>
                                <td>{{list.is_excp_approve}}</td>
                                <td>{{list.referencenumber}}</td>
                                <td>{{list.requestremark | showNullResult}}</td>
                                <td>{{ list.image}}
                                    <!-- <a href="{{ list.image}}" target="_blank" class="viewImg" >
                                            <img alt="avatar" src="{{ist.image}}" style="width: 90px;" class="rounded img__wrap" />
                                            <svg class="img__description eye" viewBox="0 0 24 24" width="24" height="24"
                                                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round" class="css-i6dzq1">
                                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                <circle cx="12" cy="12" r="3"></circle>
                                            </svg>
                                        </a> -->
                                </td>
                                <td>{{list.comment | showNullResult}}</td>
                                <td>{{list.acomment}}</td>
                                <td>{{list.creditor}}</td>
                                <td>{{list.creditorname}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="allRequestLst?.length == 0">
                            <tr>
                                <td colspan="14" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>