<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing"> 
                <div class="widget-content widget-content-area">
                    <form [formGroup]="addStaff" (submit)="add_staff()">
                        <div class="row">
                            <div class="col-md-6 col-12 mx-auto">
                                <div class="form-group">
                                    <label>Name : <span class="alert-error">*</span></label>
                                    <input type="text" [ngClass]="{ 'is-invalid':  f.name.touched && f.name.invalid }" class="form-control" formControlName="name" autocomplete="off" placeholder="Name">
                                    <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                                        <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
                                        <div *ngIf="f.name.errors.pattern"><small><b>Only alphabets allowed.</b></small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 mx-auto">
                                <div class="form-group">
                                    <label>Enter Email: <span class="alert-error">*</span></label>
                                    <input type="text" [ngClass]="{ 'is-invalid':  f.email.touched && f.email.invalid }" class="form-control" autocomplete="off" placeholder="Enter Email" formControlName="email">
                                    <div *ngIf="f.email.touched && f.email.invalid" class="alert-error">
                                        <div *ngIf="f.email.errors.required"><small><b>Email is required.</b></small></div>
                                        <div *ngIf="f.email.errors.pattern"><small><b> Please input a valid email.</b></small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12 mx-auto">
                                <div class="form-group">
                                    <label>Enter Phone: <span class="alert-error">*</span></label>
                                    <input type="text" [ngClass]="{ 'is-invalid':  f.phoneNo.touched && f.phoneNo.invalid }" class="form-control" autocomplete="off" placeholder="Enter Phone" formControlName="phoneNo">
                                    <div *ngIf="f.phoneNo.touched && f.phoneNo.invalid" class="alert-error">
                                        <div *ngIf="f.phoneNo.errors.required"><small><b>Phone Number is required.</b></small></div>
                                        <div *ngIf="f.phoneNo.errors.pattern"><small><b> Please input 10 digit phone Number Only Digits are allowed!.</b></small></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12 mx-auto">
                                <div class="form-group">
                                    <label> Status: <span class="alert-error">*</span></label><br>
                                    <label><input type="radio" [(ngModel)]="activestatus" name="activestatus" formControlName="activestatus" value="1" > Active </label>&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" [(ngModel)]="activestatus" name="activestatus" formControlName="activestatus" value="0" > Deactive</label>
                                    <div *ngIf="f.activestatus.touched && f.activestatus.invalid" class="alert-error">
                                        <div *ngIf="f.activestatus.errors.required"><small><b>Status is required.</b></small></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="submit" class="mt-4 btn btn-primary" [disabled]="!addStaff.valid" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 