<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <form [formGroup]="form" (ngSubmit)="OnCallApesSettlement()">
                    <div class="row"> 
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='txnid'>TXNID</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='acno'> ACCNO</label>&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                    <option value="0">REFUNDED</option>
                                    <option value="1">SUCCESS</option>
                                    <option value="2">IN PROCESS</option>
                                    <option value="3">Processed</option>
                                    <option value="4">HITTED</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="usertype==0">
                            <div class="form-group">
                                <label>Transfer From</label>
                                <select class="form-control" name="frombank" formControlName="frombank">
                                    <option value="" selected="selected" disabled="disabled">-- select one --
                                    </option>
                                    <option value="CASHF">Cashfree</option>
                                    <option value="RAZOR">Razorpay</option>
                                    <option value="PAYTM">Paytm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class=" form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit"> &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
            style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>TXNId</th>
                            <th>UserName</th>
                            <th>BankName</th>
                            <th>AccNo</th>
                            <th>Amount</th>
                            <th>Remarks</th>
                            <th>BeneName</th>
                            <th>Charges</th>
                            <th>Date</th>
                            <th>From</th>
                            <th>IFSC</th>
                            <th>RefundInfo</th>
                            <th>Status</th>
                            <th>UTR</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="aepssettlementStmt?.length != 0">
                        <tr *ngFor="let aepssettlementlist of aepssettlementStmt">
                            <td>{{ aepssettlementlist.txnid }}</td>
                            <td>{{ aepssettlementlist.username }}</td>
                            <td>{{ aepssettlementlist.bankname }}</td>
                            <td>{{ aepssettlementlist.acno }}</td>
                            <td>{{ aepssettlementlist.amount }}</td>
                            <td>{{ aepssettlementlist.bankremarks | showNullResult}}</td>
                            <td>{{ aepssettlementlist.benename }}</td>
                            <td>{{ aepssettlementlist.charges }}</td>
                            <td>{{ aepssettlementlist.dateadded }}</td>
                            <td>{{ aepssettlementlist.frombank }}</td>
                            <td>{{ aepssettlementlist.ifsccode }}</td>
                            <td>{{ aepssettlementlist.refunded }}</td>
                            <td>{{ aepssettlementlist.status }}</td>
                            <td>{{ aepssettlementlist.utr | showNullResult}}</td>

                        </tr>
                    </tbody>
                    <tbody *ngIf="aepssettlementStmt?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>