<div class="container-fluid">
	<div class="row layout-top-spacing">
		<div id="basic" class="col-lg-12 layout-spacing">
			<div class="widget-content widget-content-area">
				<form [formGroup]="addOperatorBill" (submit)="onAddOperatorBill()">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Operator Name <span class="alert-error">*</span></label>
								<input type="text" class="form-control"
									[ngClass]="{'is-invalid': f.name.touched && f.name.invalid}" formControlName="name"
									autocomplete="off" placeholder="Name">
								<div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
									<div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Category <span class="alert-error">*</span></label>
								<input type="text" class="form-control"
									[ngClass]="{'is-invalid': f.category.touched && f.category.invalid}"
									formControlName="category" autocomplete="off" placeholder="Account Number">
								<div *ngIf="f.category.touched && f.category.invalid" class="alert-error">
									<div *ngIf="f.category.errors.required"><small><b>Category is
												required.</b></small></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>View Bill <span class="alert-error">*</span></label><br>
								<label><input type="radio" value='0' formControlName="viewbill"> Not-Mandatory</label>
								&nbsp;&nbsp;
								<label><input type="radio" value='1' formControlName="viewbill"> Mandatory</label>
								<div *ngIf="f.viewbill.touched && f.viewbill.invalid" class="alert-error">
									<div *ngIf="f.viewbill.errors.required"><small><b>View Bill is
												required.</b></small></div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Operator Id <span class="alert-error">*</span></label>
								<input type="text" class="form-control"
									[ngClass]="{'is-invalid': f.op_id.touched && f.op_id.invalid}" autocomplete="off"
									placeholder="op_id" formControlName="op_id">
								<div *ngIf="f.op_id.touched && f.op_id.invalid" class="alert-error">
									<div *ngIf="f.op_id.errors.required"><small><b>Operator Id is required.</b></small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Specfic Step Operator Id <span class="alert-error">*</span></label>
								<input type="text" [ngClass]="{'is-invalid': f.ss_id.touched && f.ss_id.invalid}"
									class="form-control" placeholder="Display Name" formControlName="ss_id">
								<div *ngIf="f.ss_id.touched && f.ss_id.invalid" class="alert-error">
									<div *ngIf="f.ss_id.errors.required"><small><b>Specfic Step Operator Id is
												required.</b></small></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Think Walnut Id <span class="alert-error">*</span></label>
								<input type="text" [ngClass]="{'is-invalid': f.twd_id.touched && f.twd_id.invalid}"
									class="form-control" placeholder="Display Name" formControlName="twd_id">
								<div *ngIf="f.twd_id.touched && f.twd_id.invalid" class="alert-error">
									<div *ngIf="f.twd_id.errors.required"><small><b>Think Walnut Id is
												required.</b></small></div>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>CA Number Regex <span class="alert-error">*</span></label>
								<input type="text" class="form-control"
									[ngClass]="{'is-invalid': f.regex.touched && f.regex.invalid}" autocomplete="off"
									placeholder="regex" formControlName="regex">
								<div *ngIf="f.regex.touched && f.regex.invalid" class="alert-error">
									<div *ngIf="f.regex.errors.required"><small><b>Regex is required.</b></small></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Display Name <span class="alert-error">*</span></label>
								<input type="text"
									[ngClass]="{'is-invalid': f.displayname.touched && f.displayname.invalid}"
									class="form-control" placeholder="Display Name" formControlName="displayname">
								<div *ngIf="f.displayname.touched && f.displayname.invalid" class="alert-error">
									<div *ngIf="f.displayname.errors.required"><small><b>Display Name is
												required.</b></small></div>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad1 Display Name</label>
								<input type="text" class="form-control" placeholder="Display Name"
									formControlName="ad1_d_name">
								<div *ngIf="f.ad1_d_name.touched && f.ad1_d_name.invalid" class="alert-error">
									<div *ngIf="f.ad1_d_name.errors.required"><small><b>Ad1 Display Name is
												required.</b></small></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad1 Name</label>
								<input type="text" class="form-control" placeholder="Name"
									formControlName="ad1_regex" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad1 Regex</label>
								<input type="text" class="form-control" placeholder="Regex" formControlName="ad1_name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad2 Display Name</label>
								<input type="text" class="form-control" placeholder="Display Name"
									formControlName="ad2_d_name">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad2 Name</label>
								<input type="text" class="form-control" placeholder="Name"
									formControlName="ad2_regex" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad2 Regex</label>
								<input type="text" class="form-control" placeholder="Regex" formControlName="ad2_name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad3 Display Name</label>
								<input type="text" class="form-control" placeholder="Display Name"
									formControlName="ad3_d_name">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad3 Name</label>
								<input type="text" class="form-control" placeholder="Name"
									formControlName="ad3_regex" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Ad3 Regex</label>
								<input type="text" class="form-control" placeholder="Regex" formControlName="ad3_name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Minimum Limit </label>
								<input type="text" class="form-control" formControlName="min_limit" autocomplete="off"
									placeholder="Minimum Limit">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Maximum Limit</label>
								<input type="text" class="form-control" formControlName="max_limit" autocomplete="off"
									placeholder="Maximum Limit">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Status <span class="alert-error">*</span></label><br>
								<label><input type="radio" value='0' formControlName="status"> Active</label>
								&nbsp;&nbsp;
								<label><input type="radio" value='1' formControlName="status"> Inactive</label>
								<div *ngIf="f.status.touched && f.status.invalid" class="alert-error">
									<div *ngIf="f.status.errors.required"><small><b>Status is
												required.</b></small></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-danger" [disabled]="!addOperatorBill.valid" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>