<div class="container-fluid">
  <div class="white_bg">

    <ul class="nav nav-pills mb-3 mt-3 justify-content-center" id="justify-center-pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="justify-center-pills-home-tab" data-toggle="pill" routerLink="/funding"
          role="tab" aria-controls="justify-center-pills-home" aria-selected="true">Online
          Transfer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="justify-center-pills-profile-tab" data-toggle="pill" routerLink="excepReq" role="tab"
          aria-controls="justify-center-pills-profile" aria-selected="false">Exceptional Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="justify-center-pills-contact-tab" data-toggle="pill" routerLink="fundrequest/get"
          role="tab" aria-controls="justify-center-pills-contact" aria-selected="false">All Fund Request</a>
      </li>
    </ul>
    <hr>
    <router-outlet></router-outlet>

  </div>
</div>