<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="mainBox mx-auto" [formGroup]="form">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="">Amount</label>
                            <input type="number" (keyup)="onKey($event)" class="form-control form-control-sm"
                                placeholder="Enter Amount" formControlName="amount" autocomplete="off" value="" />
                            <div *ngIf="form.get('amount')?.touched && form.get('amount')?.invalid" class="alert-error">
                                <div *ngIf="form.get('amount')?.errors?.required"><small><b>Amount is
                                            required.</b></small></div>
                            </div>
                            <div *ngIf="f.amount.errors?.amountInvalid && f.amount.dirty" class="alert-error">
                                <small><b>Amount
                                        must be greater than 1000</b></small>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" role="alert" *ngIf="isshow">
                                <span>{{ amount }} Only</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="">Remarks</label>
                            <textarea name="remark" formControlName="transactionid" rows="5"></textarea>
                            <div *ngIf="form.get('transactionid')?.touched && form.get('transactionid')?.invalid"
                                class="alert-error">
                                <div *ngIf="form.get('transactionid')?.errors?.required"><small><b>Remarks is
                                            required.</b></small></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="">Upload image</label>
                            <input type="file" #fileUploader (change)="onFileSelect($event)">
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <button type="button" [disabled]="!form.valid" (click)="onSubmit()"
                            class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>