<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered   non-hover dataTable"   datatable [dtOptions]="dtOptions"
                        style="width:100%"> 
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" style="min-width: 120px;">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col" style="min-width: 93px;" *ngIf="usertype==0">C-Balance</th>
                            <th scope="col" style="min-width: 93px;" *ngIf="usertype==0">D-Balance</th>
                            <th scope="col">Email</th>
                            <th scope="col">Firmname</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Pan No</th>
                            <th scope="col">GST No</th>
                            <th scope="col">Add Date</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of apiPartnerList; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{list.name}}</td>
                            <td>{{list.username}}</td>
                            <td *ngIf="usertype==0">{{list.credit_balance | currency:"₹"  | showNullResult}}</td>
                            <td *ngIf="usertype==0">{{list.debit_balance | currency:"₹" | showNullResult}}</td>
                            <td>{{list.email}}</td>
                            <td>{{list.firmname}}</td>
                            <td>{{list.phone}}</td>
                            <td>{{list.pannumber}}</td>
                            <td>{{list.gstnumber}}</td>
                            <td>{{list.addeddate}}</td>
                            <td> <button class="btn btn-outline-primary btn-sm" (click)="editapi_Model(modalopen,list)"> <i
                                        class="fas fa-edit"></i>Edit</button>
                            </td>
                        </tr>

                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalopen let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">EDIT API PARTNER Details</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editApiAccount" (submit)="OnupdateApiAccount()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name : <span class="alert-error">*</span></label>
                        <input type="text" class="form-control"
                            [ngClass]="{ 'is-invalid':  f.name.touched && f.name.invalid }" formControlName="name"
                            autocomplete="off" placeholder="Name">
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert-error">
                            <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter Firmname: <span class="alert-error">*</span></label>
                        <input type="text" [ngClass]="{ 'is-invalid':  f.firmname.touched && f.firmname.invalid }"
                            class="form-control" placeholder="Enter Firmname" formControlName="firmname">
                        <div *ngIf="f.firmname.touched && f.firmname.invalid" class="alert-error">
                            <div *ngIf="f.firmname.errors.required"><small><b>Firmname is required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter Email: <span class="alert-error">*</span></label>
                        <input type="text" [ngClass]="{ 'is-invalid':  f.email.touched && f.email.invalid }"
                            class="form-control" autocomplete="off" placeholder="Enter Email" formControlName="email">
                        <div *ngIf="f.email.touched && f.email.invalid" class="alert-error">
                            <div *ngIf="f.email.errors.required"><small><b>Email is required.</b></small></div>
                            <div *ngIf="f.email.errors.pattern"><small><b> Please input a valid email.</b></small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter Phone: <span class="alert-error">*</span></label>
                        <input maxlength="10" type="text"
                            [ngClass]="{ 'is-invalid':  f.phoneNo.touched && f.phoneNo.invalid }" class="form-control"
                            autocomplete="off" placeholder="Enter Phone" formControlName="phoneNo">
                        <div *ngIf="f.phoneNo.touched && f.phoneNo.invalid" class="alert-error">
                            <div *ngIf="f.phoneNo.errors.required"><small><b>Phone Number is required.</b></small></div>
                            <div *ngIf="f.phoneNo.errors.pattern && !f.phoneNo.errors?.minLength"><small><b> Please
                                        input Vaild phone Number!.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Status: <span class="alert-error">*</span></label><br>
                        <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                formControlName="activestatus" value="1"> Active </label>&nbsp;&nbsp;&nbsp;
                        <label><input type="radio" [(ngModel)]="activestatus" name="activestatus"
                                formControlName="activestatus" value="0"> Deactive</label>
                        <div *ngIf="f.activestatus.touched && f.activestatus.invalid" class="alert-error">
                            <div *ngIf="f.activestatus.errors.required"><small><b>Status is required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Date Of Incorporation : <span class="alert-error">*</span></label>
                        <input class="form-control" formControlName="dob" placeholder="yyyy-mm-dd" [minDate]="minDate"
                            [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker>
                        <div *ngIf="f.dob.touched && f.dob.invalid" class="alert-error">
                            <div *ngIf="f.dob.errors.required"><small><b>Date Of Incorporation is required.</b></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter Pincode: <span class="alert-error">*</span></label>
                        <input (keyup)="getpincode($event)" maxlength="6" type="text"
                            [ngClass]="{ 'is-invalid':  f.pincode.touched && f.pincode.invalid }" class="form-control"
                            autocomplete="off" placeholder="Enter Pincode" formControlName="pincode">
                        <div *ngIf="f.pincode.touched && f.pincode.invalid" class="alert-error">
                            <div *ngIf="f.pincode.errors.required"><small><b>Pincode is required.</b></small></div>
                            <div *ngIf="f.pincode.errors.pattern"><small><b> Please input a valid Pincode.</b></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter State: <span class="alert-error">*</span></label>
                        <input type="text" class="form-control"
                            [ngClass]="{ 'is-invalid':  f.state.touched && f.state.invalid }" autocomplete="off"
                            [(ngModel)]="state" name="state" placeholder="Enter State" formControlName="state">
                        <div *ngIf="f.state.touched && f.state.invalid" class="alert-error">
                            <div *ngIf="f.state.errors.required"><small><b>Address is required.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Address : <span class="alert-error">*</span></label>
                        <textarea name="address" formControlName="address" cols="30" rows="5"
                            [ngClass]="{ 'is-invalid':  f.address.touched && f.address.invalid }"></textarea>
                        <div *ngIf="f.address.touched && f.address.invalid" class="alert-error">
                            <div *ngIf="f.address.errors.required"><small><b>Address is required.</b></small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter Pan Number: <span class="alert-error">*</span></label>
                        <input maxlength="10" type="text"
                            [ngClass]="{ 'is-invalid':  f.pannumber.touched && f.pannumber.invalid }"
                            class="form-control" autocomplete="off" placeholder="Enter Pan Number"
                            formControlName="pannumber">
                        <div *ngIf="f.pannumber.touched && f.pannumber.invalid" class="alert-error">
                            <div *ngIf="f.pannumber.errors.required"><small><b>Pan Number is required.</b></small></div>
                            <div *ngIf="f.pannumber.errors.pattern && !f.pannumber.errors?.minLength"><small><b> Please
                                        input a valid Pan Number.</b></small></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Enter GST Number: <span class="alert-error">*</span></label>
                        <input maxlength="15" type="text"
                            [ngClass]="{ 'is-invalid':  f.gstnumber.touched && f.gstnumber.invalid }"
                            class="form-control" placeholder="Enter Gst Number" formControlName="gstnumber">
                        <div *ngIf="f.gstnumber.touched && f.gstnumber.invalid" class="alert-error">
                            <div *ngIf="f.gstnumber.errors.required"><small><b>GST Number is required.</b></small></div>
                            <div *ngIf="f.gstnumber.errors.pattern && !f.gstnumber.errors?.minLength"><small><b> Please
                                        input a valid GST Number.</b></small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <label for="validationDefault05">Enter Remarks</label>
                    <textarea cols="50" rows="7" formControlName="remarks"></textarea>
                    <div *ngIf="f.remarks.touched && f.remarks.invalid" class="alert-error">
                        <div *ngIf="f.remarks.errors.required"><small><b>Remarks is required.</b></small></div>
                    </div>
                </div>
                <div class="col-md-2 mb-4"></div>
                <div class="col-md-6 mb-4 remarks" [innerHTML]="remark"></div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" [disabled]="!editApiAccount.valid" value="Submit">
            </div>
        </form>
    </div> 
</ng-template>
 
 