<nav id="sidebar">
    <app-common-sidebar></app-common-sidebar>
    <ul class="list-unstyled menu-categories" id="accordionExample">
        <li class="menu">
            <a routerLink="/" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </div>
            </a>
        </li>

        <li class="menu">
            <a href="#credential" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-user-lock"></i>
                    <span>Credential</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu list-unstyled" id="credential" data-parent="#accordionExample">
                <li><a routerLink="/getcredential">Get Credentials</a></li>
                <li><a routerLink="/getpreference">Get Preference</a></li>
                <!-- <li><a routerLink="/gencredential">Generate Credential</a></li> -->
            </ul>
        </li>

        <li class="menu" *ngIf="details.allowfundrequest =='1'">
            <a routerLink="/funding" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-rupee-sign"></i>
                    <span>Fund Request</span>
                </div>
            </a>
        </li>
        <li class="menu">
            <a routerLink="/wallettransfer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-exchange-alt"></i>
                    <!-- <i class="fas fa-wallet"></i> -->
                    <span>Wallet Transfer</span>
                </div>
            </a>
        </li>
        <li class="menu">
            <a routerLink="/settlement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-university"></i>
                    <span>Settlement</span>
                </div>
            </a>
        </li>
        <!-- Statement  -->
        <li class="menu">
            <a href="#Statement" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Statement</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="collapse submenu   list-unstyled" id="Statement" data-parent="#accordionExample">
                <li><a routerLink="/credit-ledger"> Credit Ledger</a></li>
                <li><a routerLink="/debit-ledger"> Debit Ledger</a></li>
                <li class="sub-sub-submenu-list">
                    <a href="#aeps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span>AEPS</span>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </a>
                    <ul class="collapse submenu   list-unstyled" id="aeps">
                        <li *ngIf="details.dmt =='1'"><a  routerLink="/Aadhaar-Pay">Aadhaar Pay</a></li>
                        <li><a routerLink="/Aeps-cash-withdrawal">Cash Withdrawal</a></li>
                        <li><a routerLink="/aepsministatement">Mini Statement</a></li>
                        <li><a routerLink="/Aeps-balance-enquiry">Balance Enquiry</a></li> 
                        <li *ngIf="details.settlement =='1'"><a routerLink="/Aeps-settlement">Settlement</a></li>
                        <li><a routerLink="/merchant-onboard-Statement">Merchant Onboard</a></li>
                        <li *ngIf="details.cash_deposit =='1'"><a routerLink="/Cash-Deposit-Statement"> Cash Deposit</a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="details.dmt =='1'"><a routerLink="/dmt-Statement">DMT</a></li>
                <li *ngIf="details.recharge =='1'"><a routerLink="/recharge-Statement">Recharge</a></li>
                <li *ngIf="details.bill =='1'"><a routerLink="/Bill-Payment-Statement">Bill Payment</a></li>
                <li *ngIf="details.pg =='1'"><a routerLink="/pg-transaction">PG Transaction</a></li>
                <li *ngIf="details.wallet =='1'"><a routerLink="/Wallet-Upload">Wallet</a></li>
            </ul>
        </li>


    </ul>

</nav>