<div class="card-body px-md-5 py-5">
    <div class="mb-5">
        <h5 class="h3">Forgot Password</h5>
    </div>

    <!--login form-->
    <form class="login-signup-form" [formGroup]="forgotpassword" (submit)="Forgot_password()">
        <div class="form-group">
            <label class="pb-1">Enter User Name</label>
            <div class="input-group input-group-merge">
                <div class="input-icon">
                    <span class="ti-user color-primary"></span>
                </div>
                <input type="text" class="form-control" formControlName="username"
                    placeholder="Enter Registered Username"
                    [ngClass]="{ 'is-invalid':  f.username.touched && f.username.invalid }">
            </div>
            <div *ngIf="f.username.touched && f.username.invalid" class="alert-error">
                <div *ngIf="f.username.errors.required"><small><b>Username is
                            required.</b></small></div>
            </div>
        </div>
        <div class="form-group">
            <label class="pb-1">Enter Pan Card</label>
            <div class="input-group input-group-merge">
                <div class="input-icon">
                    <span class="ti-credit-card color-primary"></span>
                </div>
                <input type="text" class="form-control" formControlName="panNumber"
                    placeholder="Enter Registered Pancard No"
                    [ngClass]="{ 'is-invalid':  f.panNumber.touched && f.panNumber.invalid }">
            </div>
            <div *ngIf="f.panNumber.touched && f.panNumber.invalid" class="alert-error">
                <div *ngIf="f.panNumber.errors.required"><small><b>Pan Number is
                            required.</b></small></div>
            </div>
        </div>
        <!-- Submit -->
        <button class="btn btn-primary btn-block" [disabled]="!forgotpassword.valid">
            Get OTP
        </button>

    </form>
    <div class="card-footer bg-transparent border-top"><small>Remember your password?</small>
        <a routerLink="/login" class="small"> Log In</a>
    </div>
</div>