<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <form [formGroup]="fundrequest">
                    <div class="row ">
                        <div class="col-md-3 ml-auto">
                            <label>Select Start Date</label>
                            <input type="text" formControlName="fromDt"
                                [ngClass]="{ 'is-invalid':  f.fromDt.touched && f.fromDt.invalid }"
                                placeholder="yyyy-mm-dd" class="form-control form-control-sm" [minDate]="minDate"
                                [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="fromDt" />

                            <div *ngIf="f.fromDt.touched && f.fromDt.invalid" class="alert-error">
                                <div *ngIf="f.fromDt.errors.required"><small><b>Form Date is required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="">Select End Date</label>
                            <input type="text" formControlName="toDt"
                                [ngClass]="{ 'is-invalid':  f.toDt.touched && f.toDt.invalid }" required
                                placeholder="yyyy-mm-dd" bsDatepicker [minDate]="minDate" [maxDate]="maxDate"
                                #dp="bsDatepicker" bsDatepicker [(bsValue)]="toDt" class="form-control form-control-sm"
                                autocomplete="off" />
                            <div *ngIf="f.toDt.touched && f.toDt.invalid" class="alert-error">
                                <div *ngIf="f.toDt.errors.required"><small><b>To Date is required.</b></small></div>
                            </div>
                        </div>
                        <div class="col-md-2  mr-auto align-bottom" style="padding-top: 23px;">
                            <button class="btn btn-info" [disabled]="fromDt === null || toDt === null"
                                (click)="getFundrequestList(); showError = false">Find</button>
                            <!-- <button class="btn btn-info" (click)="showError = true">Find</button> -->
                        </div>
                    </div>
                </form>
                <div class="row mt-5">
                    <div class="col-10 mx-auto">
                        <p *ngIf="fundrequestList.length === 0 && showError">No Record Found</p>
                        <table class="table table-responsive" *ngIf="fundrequestList.length !== 0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Transaction Id</th>
                                    <th scope="col">Request Type</th>
                                    <th scope="col">Bank Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Deposited Date</th>
                                    <th scope="col">Added Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Remarks Remarks</th>
                                    <th scope="col">Authorizer Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of fundrequestList; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{list.txnid | showNullResult}}</td>
                                    <td>{{getRequest(list.requesttype) | showNullResult}}</td>
                                    <td>{{list.bankname | showNullResult}}</td>
                                    <td>{{list.amount | showNullResult}}</td>
                                    <td>{{list.depositeddate | showNullResult | date }}</td>
                                    <td>{{list.addeddate | showNullResult | date }}</td>
                                    <td>{{getStatus(list.status) | showNullResult}}</td>
                                    <td>{{list.comment | showNullResult}}</td>
                                    <td>{{list.acomment | showNullResult}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>