<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <form [formGroup]="form" (ngSubmit)="filterById()">
                    <div class="row">
                        
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='id'> SNo</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='serialnumber'> Ref
                                    No</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='settled_id'>
                                    SettledId</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='utr'> Bank RRN</label>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-2" [ngClass]="{'col-md-2':usertype == 0,'col-md-4':usertype != 0}">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --
                                    </option>
                                    <option value="3">Failed</option>
                                    <option value="1">Success</option>
                                    <option value="2">Initiated</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="usertype == 0">
                            <div class="form-group">
                                <label>From Bank</label>
                                <select class="form-control" name="transfertype" formControlName="transfertype">
                                    <option value="" selected="selected" disabled="disabled">-- select one --
                                    </option>
                                    <option value="MS">ICICI</option>
                                    <option value="FMS">FINO</option>
                                    <option value="IMS">INDUSIND</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class=" form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit"> &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
                style="float: right;">Export</button>
                <div class="table-responsive mb-4 mt-4">
                    <table class="multi-table table table-bordered   non-hover dataTable" datatable
                        [dtOptions]="dtOptions" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">SNo</th>
                                <th scope="col">Refid</th>
                                <th scope="col">Username</th>
                                <th scope="col">ackno</th>
                                <th scope="col">Status</th>
                                <th scope="col" style="	min-width: 90px;">Settled Id</th>
                                <th scope="col">TransferType</th>
                                <th scope="col">UTR</th>
                                <th scope="col">fpTransactionId</th>
                                <th scope="col" style="	min-width: 90px;">is setteled</th>
                                <th scope="col" style="	min-width: 90px;">is query</th>
                                <th scope="col">ErrorCode</th>
                                <th scope="col">ErrorMsg</th>
                                <th scope="col">date</th>
                                <th scope="col">Action</th>
                            </tr>
                            <!-- <tr> 
                                <th>Ref. No.</th>
                                <th>USERNAME</th>
                                <th>ackno</th>
                                <th>Status</th>
                                <th>utr</th>
                                <th>transfertype</th>
                                <th>errorcode</th>
                                <th>errormsg</th>
                                <th>fp TransactionId</th>
                                <th>addeddate</th>
                                <th>is query</th>
                                <th>is settled</th>
                                <th>settled id</th>
                                <th>View Detail</th>

                            </tr> -->
                        </thead>
                        <tbody *ngIf="aeps_mini_stmt?.length != 0">
                            <tr *ngFor="let mini_stmt of aeps_mini_stmt">
                                <td>{{ mini_stmt.id }}</td>
                                <td>{{ mini_stmt.serialnumber }}</td>
                                <td>{{ mini_stmt.username }}</td>
                                <td>{{ mini_stmt.ackno}}</td>
                                <td>{{ mini_stmt.status }}</td>
                                <td>{{ mini_stmt.settled_id | showNullResult}}</td>
                                <td>{{ mini_stmt.transfertype}}</td>
                                <td>{{ mini_stmt.utr | showNullResult }}</td>
                                <td>{{ mini_stmt.fpTransactionId | showNullResult}}</td>
                                <td>{{ mini_stmt.is_settled }}</td>
                                <td>{{ mini_stmt.is_query}}</td>
                                <td>{{ mini_stmt.errorcode | showNullResult}}</td>
                                <td>{{ mini_stmt.errormsg | showNullResult}}</td>
                                <td>{{ mini_stmt.addeddate}} </td>
                                <td> <button class="btn btn-outline-primary btn-sm"
                                        (click)="viewdetail_Model(modalopen,mini_stmt)"> <i class="fas fa-edit"></i>
                                        Detail</button> </td>

                            </tr>
                        </tbody>
                        <tbody *ngIf="aeps_mini_stmt?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-template #modalopen let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">AEPS MINI STATEMENT DETAILS</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Accessmode : </label><span class="lbvalue"> {{accessmode}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Commission : </label><span class="lbvalue"> {{commission}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Bankiiin : </label><span class="lbvalue"> {{bankiiin}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Access Mode : </label><span class="lbvalue"> {{accessmode}}</span>
                </div>
            </div>
            <div class="col-md-4" *ngIf="usertype == 0">
                <div class="form-group">
                    <label class="labletxnd">IP Address : </label><span class="lbvalue"> {{ipaddress}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">TDS : </label><span class="lbvalue"> {{tds}}</span>
                </div>
            </div>
            <div class="col-md-4" *ngIf="usertype == 0">
                <div class="form-group">
                    <label class="labletxnd">Mobile No. : </label><span class="lbvalue"> {{mobile}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Latitude : </label><span class="lbvalue"> {{lat}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Longitude : </label><span class="lbvalue"> {{longt}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Aadhar Last No. : </label><span class="lbvalue"> {{last_aadhar}}</span>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="usertype == 0">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="labletxnd">Device IMEI : </label><span class="lbvalue"> {{deviceimei}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Devic EMI. : </label><span class="lbvalue"> {{devicemi}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="labletxnd">Remarks : </label><span class="lbvalue"> {{remarks}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="labletxnd">Date Added : </label><span class="lbvalue"> {{adddate}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>