<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">

                <form [formGroup]="form" (ngSubmit)="merchantonboardStatement()">
                    <div class="row">
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='merchantcode'>
                                    Merchant Code</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='txnid'>
                                    Txnid</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='mobilenumber'> Mobile
                                    Number</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='pannumber'> Pan
                                    Number</label>&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --
                                    </option>
                                    <option value="2">Failed</option>
                                    <option value="1">Success</option>
                                    <option value="0">Pending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class=" form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit">
                        &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
                style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th *ngIf="usertype==0">Id</th>
                            <th>Trans id.</th>
                            <th>username</th>
                            <th>name</th>
                            <th>email</th>
                            <th>fathername</th>
                            <th>city</th>
                            <th *ngIf="usertype==0">devicecount</th>
                            <th>gender</th>
                            <th>merchantcode</th>
                            <th>mobile</th>
                            <th>pannumber</th>
                            <!-- <th>onboard fino</th> -->
                            <th>Bank 1</th>
                            <!-- <th>onboard indus</th> -->
                            <!-- <th >otp verified</th> -->
                            <!-- <th>stages</th> -->
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="merchantOnboardStmt?.length != 0">
                        <tr *ngFor="let merchantlist of merchantOnboardStmt">
                            <td *ngIf="usertype==0">{{ merchantlist.id }}</td>
                            <td>{{ merchantlist.txnid }}</td>
                            <td>{{ merchantlist.username }}</td>
                            <td>{{ merchantlist.name | showNullResult}}</td>
                            <td>{{ merchantlist.email }}</td>
                            <td>{{ merchantlist.fathername | showNullResult}}</td>
                            <td>{{ merchantlist.city | showNullResult}}</td>
                            <td *ngIf="usertype==0">{{ merchantlist.devicecount }}</td>
                            <td>{{ merchantlist.gender | showNullResult }}</td>
                            <td>{{ merchantlist.merchantcode }}</td>
                            <td>{{ merchantlist.mobile }}</td>
                            <td>{{ merchantlist.pannumber | showNullResult}}</td>
                            <!-- <td>{{ merchantlist.onboard_fino }}</td> -->
                            <td *ngIf="merchantlist.onboard_icici == 1"><button
                                    class="btn btn-success btn-sm">Activated</button></td>
                            <td *ngIf="merchantlist.onboard_icici == 0"><button
                                    class="btn btn-secondary btn-sm">Pending</button></td>
                            <!-- <td>{{ merchantlist.onboard_icici }}</td> -->
                            <!-- <td>{{ merchantlist.onboard_indus }}</td> -->
                            <!-- <td *ngIf="usertype==0"><button class="btn btn-success btn-sm" *ngIf="merchantlist.otp_verified == 1">Verified</button></td>
                                <td *ngIf="usertype==0" style="min-width: 85px;"><button class="btn btn-danger btn-sm"  *ngIf="merchantlist.otp_verified == 0">Not Verified</button></td> -->
                            <!-- <td>{{ merchantlist.stages }}</td> -->
                            <td *ngIf="merchantlist.status == 1"><button
                                    class="btn btn-success btn-sm">complete</button></td>
                            <td *ngIf="merchantlist.status == 0"><button
                                    class="btn btn-secondary btn-sm">Pending</button></td>
                            <td *ngIf="merchantlist.status == 2"><button class="btn btn-danger btn-sm">Rejected</button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="merchantOnboardStmt?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>