/* You can add global styles to this file, and also import other style files */

.alert-error {
  color: #f91e2f !important;
}

.remarks {
  max-height   : 180px;
  overflow-y   : scroll;
  border       : 1px solid;
  border-radius: 5px;
}

.btn {
  padding: 0.25rem 0.6rem !important;
}

.table {
  vertical-align: middle !important;
  color         : #515365 !important;
  font-size     : 13px !important;
  letter-spacing: 1px !important;
}

.table th {
  border-top: 0 !important;
}

.table td {
  padding: 0.3rem !important;
}

.first,
.last {
  display: none !important;
}

.dataTables_wrapper .dataTables_length select {
  padding           : 8px 17px 8px 14px !important;
  -moz-appearance   : none !important;
  -webkit-appearance: none !important;
  appearance        : none !important;
  background        : #fff !important;
  border            : none !important;
  margin-top        : 5px !important;
  -webkit-box-shadow: 2px 5px 17px 0 rgb(31 45 61 / 10%) !important;
  box-shadow        : 2px 5px 17px 0 rgb(31 45 61 / 10%) !important;
  border-radius     : 6px !important;
  border            : 1px solid #e0e6ed !important;
  padding           : 8px 30px 8px 14px !important;
  background        : #fff url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23d3d3d3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") 50px 9px no-repeat !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  width             : 150px !important;
  margin-left       : 0.5em !important;
  display           : inline-block !important;
  background        : #fff !important;
  border            : none !important;
  margin-top        : 5px !important;
  -webkit-box-shadow: 2px 5px 17px 0 rgb(31 45 61 / 10%) !important;
  box-shadow        : 2px 5px 17px 0 rgb(31 45 61 / 10%) !important;
  border-radius     : 6px !important;
  border            : 1px solid #e0e6ed !important;
  padding           : 8px 30px 8px 14px !important;
  color             : #3b3f5c !important;
  font-size         : 15px !important;
}

.dataTables_wrapper .dataTables_length {
  float: left !important;
}

.widget-content-area {
  -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow   : 0 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  box-shadow        : 0 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}

.no-content:before,
.no-content:after {
  display: none !important;
}

.new-control.new-checkbox .new-control-indicator {
  top          : 0;
  height       : 22px;
  width        : 22px;
  border-radius: 50%;
}

.table>thead {
  border-top   : 1px solid #e0e6ed;
  border-bottom: 1px solid #e0e6ed;
}

table.dataTable {
  border-collapse: separate;
  border-spacing : 0 5px;
  margin-top     : 8px !important;
  margin-bottom  : 50px !important;
  border-collapse: collapse !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after {
  opacity: 1;
  color  : #d3d3d3;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after {
  opacity: 1;
  color  : #d3d3d3;
}

table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1;
  color  : #d3d3d3;
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after {
  opacity: 1;
  color  : #d3d3d3;
}

table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 1;
  color  : #d3d3d3;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  color: #0e1726;
}

.table>tbody:before {
  line-height: 1em;
  content    : "_";
  color      : white;
  display    : block;
}

.table>tbody tr {
  border-radius     : 4px;
  -webkit-transition: all 0.1s ease;
  transition        : all 0.1s ease;
  border-bottom     : 1px solid #e0e6ed;
}

.table>thead>tr>th {
  color         : #1b55e2;
  font-weight   : 700;
  font-size     : 13px;
  border        : none;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.table>tbody>tr>td {
  border        : none;
  color         : #888ea8;
  font-size     : 13px;
  letter-spacing: 1px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}

.table>tfoot>tr>th {
  border: none;
}

.table-hover:not(.table-dark) tbody tr:hover {
  background-color : transparent !important;
  -webkit-transform: translateY(-1px) scale(1.01);
  transform        : translateY(-1px) scale(1.01);
}

.table-hover.non-hover:not(.table-dark) tbody tr:hover {
  -webkit-transform: none;
  transform        : none;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top  : 0.85em;
  white-space  : normal;
  color        : #1b55e2;
  font-weight  : 600;
  border       : 1px solid #e0e6ed;
  display      : inline-block;
  padding      : 10px 16px;
  border-radius: 6px;
  font-size    : 13px;
}

div.dataTables_wrapper div.dataTables_filter label {
  position: relative;
}

div.dataTables_wrapper div.dataTables_filter svg {
  position: absolute;
  top     : 15px;
  right   : 14px;
  width   : 20px;
  color   : #d3d3d3;
}

.dataTables_wrapper .form-control {
  background        : #fff;
  border            : none;
  margin-top        : 5px;
  -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  box-shadow        : 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  border-radius     : 6px;
  border            : 1px solid #e0e6ed;
  padding           : 8px 30px 8px 14px;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 150px;
}

.dataTables_wrapper .dataTables_length select.form-control {
  padding           : 8px 17px 8px 14px;
  -moz-appearance   : none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance        : none;
  background        : #fff url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23d3d3d3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") 50px 9px no-repeat;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin     : 0;
  white-space: nowrap;
  text-align : right;
  display    : inline-block;
}

.page-link {
  margin-right : 5px;
  border-radius: 50%;
  padding      : 8px 12px;
  background   : rgba(0, 23, 55, 0.08);
  border       : none;
  color        : #888ea8;
}

.page-link:focus {
  box-shadow: none;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 3px 0;
}

.page-item.disabled .page-link {
  background: #f1f2f3;
}

.page-item.disabled .page-link svg {
  color: #acb0c3;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 50%;
  padding      : 5px 9px;
}

.page-item:first-child .page-link svg,
.page-item:last-child .page-link svg {
  width: 17px;
}

.page-item.active .page-link {
  background-color: #1b55e2;
}

#alter_pagination_next a,
#alter_pagination_previous a {
  border-radius: 50%;
  padding      : 5px 9px;
}

#alter_pagination_next a svg,
#alter_pagination_previous a svg {
  width: 17px;
}

.table-cancel {
  color         : #888ea8;
  margin-right  : 6px;
  vertical-align: middle;
  fill          : rgba(0, 23, 55, 0.08);
  cursor        : pointer;
}

.table-hover:not(.table-dark) tbody tr:hover .table-cancel {
  color: #e7515a;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  .dataTables_wrapper .dataTables_length select.form-control {
    background: transparent;
    padding   : 8px 10px 8px 14px;
  }
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_info {
    margin-bottom: 40px;
  }
}

.widget-one {
  background: #ffffff !important;
}

.dataTables_empty {
  display: none;
}

.theme-green .bs-datepicker-head {
  background-color: #f91e2f !important;
}

@media (min-width: 1200px) {
  .table-responsive {
    overflow-x: auto !important;
  }
}

.logo-mobile {
  display: none;
}

.walletmobile {
  display: none !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* Styles */
  .navbar-logo {
    display: none;
  }

  .logo-mobile {
    display: block;
    height : 34px !important;
  }

  .header-container .navbar-nav.theme-brand {
    width: 91px !important;
  }

  .walletdesktop {
    display: none !important;
  }

  .walletmobile {
    display: block !important;
  }

  .mobile-slider {
    display: none;
  }

  .navbar-brand {
    margin-left: 6rem;
  }
}



.dataTables_paginate {
  margin-left: 10% !important;
}

.dataTables_paginate .paginate_button {
  border-radius   : 50%;
  padding         : 5px 9px;
  color           : #6c757d;
  background-color: #f1f2f3;
  border-color    : #dee2e6;
  cursor          : pointer !important;
}

.dataTables_paginate .paginate_button>svg {
  width : 18px;
  height: 18px;
}

.dataTables_paginate>span {
  margin: 0 10px;
}

.dataTables_paginate>span .paginate_button {
  margin: 0 3px;
}

.dataTables_paginate .paginate_button:hover {
  color: #0056b3;
}

.dataTables_paginate .paginate_button.current {
  background-color: #1b55e2;
  color           : #fff;
}

.card-body:hover {
  box-shadow        : 0px 0px 5px 0px rgba(133, 119, 119, 0.75) !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(133, 119, 119, 0.75) !important;
  -moz-box-shadow   : 0px 0px 5px 0px rgba(133, 119, 119, 0.75) !important;
}

.card-body {
  box-shadow        : 0px 0px 5px 0px rgba(181, 181, 181, 0.75) !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(181, 181, 181, 0.75) !important;
  -moz-box-shadow   : 0px 0px 5px 0px rgba(181, 181, 181, 0.75) !important;
}

.ng-autocomplete {
  min-width: 200px !important;
  max-width: 600px !important;
  width    : auto !important;
}

.sidebar-closed #sidebar ul.menu-categories li.menu>.dropdown-toggle {
  padding: 11px 4px !important;
}

.sidebar-closed #sidebar:hover ul.menu-categories li.menu>.dropdown-toggle {
  padding: 11px 7px !important;
}

#sidebar ul.menu-categories li.menu ul.submenu>li a::before {
  content: unset !important;
}

li.menu a[data-toggle="collapse"]>div {
  display    : flex;
  align-items: center;
}

li.menu a[aria-expanded="true"] i {
  color: #fff;
}

li.menu a i {
  font-size   : 17px;
  margin-right: 10px;
  color       : #9fa3b8;
  width       : 30px;
  text-align  : center;
}

.submenu.show .sub-sub-submenu-list>a.dropdown-toggle {
  background-color: #fff !important;
  /* color        : red !important; */
}

.list-group-item {
  padding: 0.20rem 1.25rem !important;
}

.bs-datepicker-body table td span.disabled {
  color: #d83d4970 !important;
}

.sidebar-closed #sidebar ul.menu-categories li.menu>.dropdown-toggle i {
  font-size: 21px !important;
  margin   : 0 !important;
}

.sidebar-closed #sidebar:hover ul.menu-categories li.menu>.dropdown-toggle i {
  font-size   : 17px !important;
  margin-right: 10px !important;
}

.sidebar-closed #sidebar ul.menu-categories li.menu>.dropdown-toggle i+span {
  display: none !important;
}

.sidebar-closed #sidebar:hover ul.menu-categories li.menu>.dropdown-toggle i+span {
  display: unset !important;
}

.btn-success {
  background-color: #28a745 !important;
}

.text-c {
  text-align: center;
}