<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <form [formGroup]="form" (ngSubmit)="OnCallApesCashWithdrawal()">
                    <div class="row">
                        <!-- <div class="" [ngClass]="{'col-md-4':usertype == 0,'col-md-6':usertype != 0}">
                            <div class="form-group">
                                <label>From Date</label>
                                <input class="form-control"
                                    [ngClass]="{ 'is-invalid': f.minDt.touched && f.minDt.invalid }" name="min" id="min"
                                    formControlName="minDt" placeholder="mm/dd/yyyy" [maxDate]="maxDate"
                                    #dp="bsDatepicker" bsDatepicker [(ngModel)]="min" autocomplete="off">
                                <div *ngIf="f.minDt.touched && f.minDt.invalid" class="alert-error">
                                    <div *ngIf="f.minDt.errors?.required"><small><b>From Date is
                                                required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="" [ngClass]="{'col-md-4':usertype == 0,'col-md-6':usertype != 0}">
                            <div class="form-group">
                                <label>To Date</label>
                                <input class="form-control" name="max"
                                    [ngClass]="{ 'is-invalid': f.maxDt.touched && f.maxDt.invalid }" id="max"
                                    formControlName="maxDt" placeholder="mm/dd/yyyy" [maxDate]="maxDate"
                                    #dp="bsDatepicker" bsDatepicker [(ngModel)]="max" autocomplete="off">
                                <div *ngIf="f.maxDt.touched && f.maxDt.invalid" class="alert-error">
                                    <div *ngIf="f.maxDt.errors?.required"><small><b>To Date is
                                                required.</b></small>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="" [ngClass]="{'col-md-6':usertype == 0,'col-md-4':usertype != 0}">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg" #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                            <div *ngIf="f.selectdate.touched && f.selectdate.invalid" class="alert-error">
                                <div *ngIf="f.selectdate.errors?.required"><small><b>Required.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="usertype==0">
                            <label>Search By User</label><br>
                            <div class="ng-autocomplete userAutoComData">
                                <ng-autocomplete [data]="userAutoComData" [searchKeyword]="userKeyword"
                                    [debounceTime]="600" (selected)='selectEvent($event)'
                                    (inputCleared)="searchCleared()" (inputChanged)='getServerResponse($event)'
                                    [itemTemplate]="userItemTemplate" [notFoundTemplate]="userNotFoundTemplate"
                                    [minQueryLength]="5" placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #userItemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #userNotFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="morefilter">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search By</label><br>
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='id'> SNo</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='serialnumber'> Ref
                                    No</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='settled_id'>
                                    SettledId</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="radio" name="searchbyradio" formControlName="searchbyradio"
                                        (click)="radiocheck($event)" value='utr'> Bank RRN</label>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label><br>
                                <input type="text" class="form-control" name="searchvalue" formControlName="searchvalue"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-2" [ngClass]="{'col-md-2':usertype == 0,'col-md-4':usertype != 0}">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" formControlName="status">
                                    <option value="" selected="selected" disabled="disabled">-- select one --
                                    </option>
                                    <option value="3">Failed</option>
                                    <option value="1">Success</option>
                                    <option value="2">Initiated</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" (click)="morefilter = !morefilter"> {{!morefilter? 'More
                                Filter':'Show Less'}}</a>
                        </div>
                    </div><br>
                    <div class=" form-group">
                        <input type="submit" class="btn btn-danger" [disabled]="!form.valid" value="Submit"> &nbsp;&nbsp;
                        <input type="reset" class="btn btn-warning" (click)="searchCleared()" value="Reset">
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" [ngStyle]="{'display':viewtable?'inline':'none'}">
    <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
            <button *ngIf="!IsDownloadDisabled" (click)="download($event)" class="btn btn-danger mb-2 mr-2"
            style="float: right;">Export</button>
            <div class="table-responsive mb-4 mt-4">
                <table class="multi-table table table-bordered   non-hover dataTable" datatable [dtOptions]="dtOptions"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>SNo</th>
                            <th>RefNo</th>
                            <th>UserName</th>
                            <th>txnid</th>
                            <th>amount</th>
                            <th>status</th>
                            <th>Date</th>
                            <th>refunded</th>
                            <th>refundtxnid</th>
                            <th>daterefunded</th>
                            <th>processby</th>
                            <th>remarks</th>
                            <th>utr</th>
                            <th>otp</th>
                            <th>errorcode</th>
                            <th>errormsg</th>
                            <th>FP TransactionId</th>
                            <th>cdPkId</th>
                            <th>step1</th>
                            <th>step1code</th>
                            <th>step2</th>
                            <th>step2code</th>
                            <th>step3</th>
                            <th>step3code</th>
                            <th>step4</th>
                            <th>step4code</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="cashdepositst?.length != 0">
                        <tr *ngFor="let cashdepositstlist of cashdepositst">
                            <td>{{ cashdepositstlist.id }}</td>
                            <td>{{ cashdepositstlist.serialnumber }}</td>
                            <td>{{ cashdepositstlist.username }}</td>
                            <td>{{ cashdepositstlist.txnid }}</td>
                            <td>{{ cashdepositstlist.amount }}</td>
                            <td>{{ cashdepositstlist.status }}</td>
                            <td>{{ cashdepositstlist.dateadded }}</td>
                            <td>{{ cashdepositstlist.refunded }}</td>
                            <td>{{ cashdepositstlist.refundtxnid | showNullResult }}</td>
                            <td>{{ cashdepositstlist.daterefunded | showNullResult }}</td>
                            <td>{{ cashdepositstlist.processby | showNullResult }}</td>
                            <td>{{ cashdepositstlist.remarks }}</td>
                            <td>{{ cashdepositstlist.utr }}</td>
                            <td>{{ cashdepositstlist.otp }}</td>
                            <td>{{ cashdepositstlist.errorcode }}</td>
                            <td>{{ cashdepositstlist.errormsg }}</td>
                            <td>{{ cashdepositstlist.fpTransactionId }}</td>
                            <td>{{ cashdepositstlist.cdPkId }}</td>
                            <td>{{ cashdepositstlist.step_1 }}</td>
                            <td>{{ cashdepositstlist.step1_code }}</td>
                            <td>{{ cashdepositstlist.step_2 }}</td>
                            <td>{{ cashdepositstlist.step2_code }}</td>
                            <td>{{ cashdepositstlist.step_3 }}</td>
                            <td>{{ cashdepositstlist.step3_code }}</td>
                            <td>{{ cashdepositstlist.step_4 }}</td>
                            <td>{{ cashdepositstlist.step4_code }}</td>
                            <td><a href="javascript:void(0);" class="btn btn-outline-primary btn-sm"
                                    (click)="getCashDepositDetails(modalopen, cashdepositstlist.id)"> View
                                    Details</a></td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="cashdepositst?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<ng-template #modalopen let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Cash Deposite Details</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Id : </label><span class="lbvalue"> {{_cashdepositrefid}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Commission : </label><span class="lbvalue"> {{_commission}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Profit : </label><span class="lbvalue"> {{_profit}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">ACK No. : </label><span class="lbvalue"> {{_ackno}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Latitude : </label><span class="lbvalue"> {{_lat}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Longitude : </label><span class="lbvalue"> {{_longt}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Mobile No. : </label><span class="lbvalue"> {{_mobile}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Account No. : </label><span class="lbvalue"> {{_accountno}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">IP Address : </label><span class="lbvalue"> {{_ipaddress}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">TDS : </label><span class="lbvalue"> {{_tds}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Bank iiin : </label><span class="lbvalue"> {{_bankiiin}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">Date Added : </label><span class="lbvalue"> {{adddate}}</span>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="form-group">
                    <label class="labletxnd">IP Address : </label><span class="lbvalue"> {{ipaddress}}</span>
                </div>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>