<ng-template #modalopen let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title"> {{comHeading | uppercase}}</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div [ngSwitch]="viewType">
            <div *ngSwitchCase="1">
                {{parkCom}}
            </div>
            <div *ngSwitchCase="2">
                <table>
                    <thead>
                        <tr>
                            <th>Slab</th>
                            <th>Commission(Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100 To Rs.1000</td>
                            <td>{{dmtSlabCom.slot1}}</td>
                        </tr>
                        <tr>
                            <td>1001 To Rs.2000</td>
                            <td>{{dmtSlabCom.slot2}}</td>
                        </tr>
                        <tr>
                            <td>2001 To Rs.3000</td>
                            <td>{{dmtSlabCom.slot3}}</td>
                        </tr>
                        <tr>
                            <td>3001 To Rs.4000</td>
                            <td>{{dmtSlabCom.slot4}}</td>
                        </tr>
                        <tr>
                            <td>4001 To Rs.5000</td>
                            <td>{{dmtSlabCom.slot5}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngSwitchCase="3">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-3 mx-auto" *ngFor="let com of bill_sms_bCom;">
                        <h4>{{com.d_key}}</h4>
                        {{viewComOrVal}} <span *ngIf="viewComOrVal == ''">{{com.comm}}</span> <span
                            *ngIf="viewComOrVal != ''">{{com.comm.value}}</span>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="4">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-3 mx-auto" *ngFor="let com of rechCom;">
                        <h4>{{com.d_key}}</h4>
                        <div *ngIf="com.comm.is_fixed == '1'">
                            <ol>
                                <li *ngFor="let comkey of com.comm.data | keyvalue;">{{getOprName(comkey.key)}} is
                                    {{comkey.value}}</li>
                            </ol>
                        </div>
                        <div *ngIf="com.comm.is_fixed == '0'">
                            Value : <span>{{com.comm.data.value}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="5">
                5
            </div>
            <div *ngSwitchDefault>
                de
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>
<div class="">
    <div class="widget-content widget-content-area vertical-line-pill">

        <div class="row mb-4 mt-3">
            <div class="col-sm-3 col-12">
                <div class="nav flex-column nav-pills mb-sm-0 mb-3 text-center mx-auto" id="v-line-pills-tab"
                    role="tablist" aria-orientation="vertical">
                    <a *ngFor="let arr of formCon.controls; index as i; as isFirst; last as isLast"
                        class="nav-link mb-3 text-center " [ngClass]="{'active': i === 0}"
                        id="{{arr.get('heading')?.value}}-tab" data-toggle="pill" href="#{{arr.get('heading')?.value}}"
                        role="tab">{{ arr.get('heading')?.value | uppercase}}</a>

                </div>
            </div>

            <div class="col-sm-9 col-12">
                <div class="tab-content" id="v-line-pills-tabContent">
                    <div *ngFor="let arr of formCon.controls; index as i; as isFirst; last as isLast"
                        class="tab-pane fade " [ngClass]="{'active show':i === 0}" id="{{arr.get('heading')?.value}}"
                        role="tabpanel">
                        <!-- <h4 class="mb-4">{{i}} We move your world!</h4> -->
                        <div *ngFor="let innerArDt of getArr(arr,i).controls; index as j ">
                            {{innerArDt.get('title')?.value | uppercase}}

                            <div class="note-container note-grid mt-2">
                                <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                    <div *ngFor="let form of getFormArr(innerArDt,j).controls; index as k "
                                        class="note-item all-notes note-work">
                                        <div class="note-inner-content">
                                            <div class="note-content">
                                                <p class="note-title" data-notetitle="Meeting with Kelly">
                                                    {{form.get('d_key')?.value}}</p>
                                                <!-- <p class="meta-time">11/01/2019</p> -->
                                                <div class="note-description-content">
                                                    <div [formGroup]="form" class="mt-2">
                                                        <div class="n-chk">
                                                            <label class="new-control new-radio radio-danger">
                                                                <input type="radio" class="new-control-input"
                                                                    formControlName="key_current_value"
                                                                    value="{{form.get('optValue0')?.value}}"
                                                                    (click)="sub(form)">
                                                                <span
                                                                    class="new-control-indicator"></span>{{form.get('optName0')?.value}}
                                                            </label>

                                                            <label class="new-control new-radio radio-success">
                                                                <input type="radio" class="new-control-input"
                                                                    formControlName="key_current_value"
                                                                    value="{{form.get('optValue1')?.value}}"
                                                                    (click)="sub(form)">
                                                                <span
                                                                    class="new-control-indicator"></span>{{form.get('optName1')?.value}}
                                                            </label>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="note-footer">
                                                <div class="tags-selector btn-group">
                                                    <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                        <span class="btnShowCom"
                                                            (click)="showComm(modalopen,i,j,k)">View
                                                            Info</span>
                                                    </div>
                                                    <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                        <span class="btnShowCom" (click)="showComm(modalopen,i,j)">View
                                                            Info</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                    <div *ngFor="let form of getFormArr(innerArDt,j).controls; index as k "
                                        [formGroup]="form">

                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName0')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        {{form.get('optName0')?.value}}</p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">

                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue0')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '0'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName1')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        {{form.get('optName1')?.value}}</p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">

                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue1')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '1'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName2')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        <!-- {{checkType(form.get('optName2')?.value)}} -->
                                                        {{form.get('optName2')?.value}}
                                                    </p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">
                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue2')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '2'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName3')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        <!-- {{checkType(form.get('optName3')?.value)}} -->
                                                        {{form.get('optName3')?.value}}
                                                    </p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">
                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue3')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '3'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName4')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        <!-- {{checkType(form.get('optName4')?.value)}} -->
                                                        {{form.get('optName4')?.value}}
                                                    </p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">
                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue4')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '4'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName5')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        <!-- {{checkType(form.get('optName5')?.value)}} -->
                                                        {{form.get('optName5')?.value}}
                                                    </p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">
                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue5')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '5'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName6')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        <!-- {{checkType(form.get('optName6')?.value)}} -->
                                                        {{form.get('optName6')?.value}}
                                                    </p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">
                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue6')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '6'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="note-item all-notes"
                                            *ngIf="checkType(form.get('optName7')?.value) == 'string'"
                                            [ngClass]="arr.get('heading')?.value == 'recharge'?'note-fav': arr.get('heading')?.value == 'bill'?'note-social':arr.get('heading')?.value == 'sms'?'note-personal':''">
                                            <div class="note-inner-content">
                                                <div class="note-content">
                                                    <p class="note-title" data-notetitle="Meeting with Kelly">
                                                        <!-- {{checkType(form.get('optName7')?.value)}} -->
                                                        {{form.get('optName7')?.value}}
                                                    </p>
                                                    <div class="note-description-content">
                                                        <div class="mt-2">
                                                            <div class="n-chk">
                                                                <label class="new-control new-radio radio-success">
                                                                    <input type="radio" class="new-control-input"
                                                                        formControlName="key_current_value"
                                                                        value="{{form.get('optValue7')?.value}}"
                                                                        (click)="sub(form)">
                                                                    <span
                                                                        class="new-control-indicator"></span>{{form.get('key_current_value')?.value
                                                                    === '7'? 'Active': 'Deactive'}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="note-footer">
                                                    <div class="tags-selector btn-group">
                                                        <div *ngIf="arr.get('heading')?.value === 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j,k)">View
                                                                Info</span>
                                                        </div>
                                                        <div *ngIf="arr.get('heading')?.value !== 'dmt'">
                                                            <span class="btnShowCom"
                                                                (click)="showComm(modalopen,i,j)">View
                                                                Info</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="getArr(arr,i).controls.length === 0">
                            <h4 class="noRecHTag">No Data Found</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>