/* .positive { 
  background-color: #d4edda;
  border-color : #c3e6cb;
  }
  
  .negative { 
  background-color: #f8d7da;
  border-color : #f5c6cb;
  }
  
  .def { 
  background-color: #f9213261;
  border-color : #f5c6cb;
  } */

.btnShowCom {
  cursor: pointer;
}

.card {
  border: 0px !important;
}

.card .card-body {
  border-radius: 15px;
}

.myWid {
  width: max-content;
}

.myWid>.card {
  width: inherit;
}




.note-container.note-grid .note-item .note-inner-content .note-title {
  color: #3b3f5c !important;
}



.note-container.note-grid .note-item .note-inner-content {
  min-height: unset !important;
}

/* .new-control.new-radio .new-control-indicator {
  border: 1px solid red;
} */

/* .new-control.new-radio.radio-success > input:checked ~ span.new-control-indicator{ */

.note-container label.new-control {
  color: #111;
}

.new-control.new-radio>input:not(:checked)~span.new-control-indicator {
  border: 1px solid #666;
}

.modal-body table {
  display: table;
  margin : auto;
}

.modal-body table thead tr th:last-child,
.modal-body table tbody tr td:last-child {
  padding-left: 30px;
}

.noRecHTag {
  color      : #f91e2f !important;
  font-weight: 600 !important;
}