<div class="container-fluid">
  <div class="white_bg">
      <div class="center">
          <h1>Recepits</h1>
      </div>
      <div class="form_blk">
        <div class="row">
          <div class="mx-auto col-sm-12 col-md-6">
            
            <!-- <table class="table table-responsive" *ngIf="recepitDetails !== null"> -->
            <table class="table table-responsive" >
              <tbody>
                <tr *ngFor="let item of recepitDetails | keyvalue">
                  <td>{{item.key}}</td>
                  <td>{{item.value}}</td>
                </tr>
              </tbody>
            </table>
            <!-- <h1>No Receipt Found !!!</h1> -->
          </div>
        </div>
      </div>

  </div>
</div>

