<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <div class="row" *ngIf="userDataId === ''">
                    <div class="col-md-6 mx-auto">
                        <label>Select Users</label>
                        <div class="form-group">

                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="userDtLst" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    [debounceTime]="600" [minQueryLength]="5"
                                    placeholder="Search User. eg 'name', 'firm name', 'firm id'">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a href="javascript:void(0)">
                                        <span [innerHTML]="item.name"></span> |
                                        <span [innerHTML]="item.username"></span> |
                                        <span [innerHTML]="item.firmname"></span>
                                    </a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="showErrorMesg !== null" class="alert alert-danger" role="alert">
                    {{showErrorMesg}}
                </div>
                <div class="form_blk container" *ngIf="showData">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <tbody>
                                    <tr *ngFor="let item of updatedData"
                                        [ngStyle]="{'display':item.name === 'userid' || item.name === 'version'? 'none':'' }">
                                        <th scope="row">{{item.name | titlecase | replace : '_' : ' '}}
                                        </th>
                                        <td>{{item.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>