<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <form [formGroup]="addFunding" (submit)="OnAddFunding()">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Amount <span class="alert-error">*</span></label>
                            <input type="text" (keyup)="onKey($event)" min="0" max="10000000" class="form-control"
                                [ngClass]="{ 'is-invalid':  f.amount.touched && f.amount.invalid }"
                                formControlName="amount" autocomplete="off" placeholder="Enter Amount">
                            <div *ngIf="f.amount.touched && f.amount.invalid" class="alert-error">
                                <div *ngIf="f.amount.errors.required"><small><b>Amount is required.</b></small>
                                </div>
                                <div *ngIf="f.amount.errors.pattern"><small><b>only numbers are allowed.</b></small>
                                </div>
                                <div *ngIf="f.amount.errors.max"><small><b>Maximum transferable amount is 1 crore
                                            .</b></small></div>
                            </div>
                            <br>
                            <div class="alert alert-danger" role="alert" *ngIf="isshow">
                                <span>{{ amount}} Only</span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>OTP<span class="alert-error">*</span></label>
                                <input type="text" [ngClass]="{ 'is-invalid':  f.otp.touched && f.otp.invalid }"
                                    class="form-control" formControlName="otp" autocomplete="off"
                                    placeholder="Enter Otp">
                                <div *ngIf="f.otp.touched && f.otp.invalid" class="alert-error">
                                    <div *ngIf="f.otp.errors.required"><small><b>OTP is required.</b></small></div>
                                    <div *ngIf="f.otp.errors.pattern"><small><b>only numbers are
                                                allowed.</b></small></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-danger" [disabled]="!addFunding.valid" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>