<div class="p5">
    <div class="white_bg">
        <h1>Bill Payment</h1>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <label>Select Catogory</label>
                <div class="form-group">
                    <select (change)="getCatData(cat.value)" #cat class="form-control">
                        <option value="" selected="selected" disabled="disabled">-- select one --</option>
                        <!-- <option value="Gas">Gas</option> -->
                        <option value="Electricity">Electricity</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="cat.value !== ''">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <label>Select {{objData.category}} Operator</label>
                    <div class="form-group">
                        <select class="form-control js-example-basic-single" (change)="oprDtl(opr.value)" #opr [(ngModel)]="oprNg">
                            <option value="" selected="selected" disabled="disabled">-- select one --</option>
                            <option value="{{i}}" *ngFor="let data of filterData; index as i">{{data.name}}</option>
                            <!-- <option value="{{i}}" *ngFor="let data of filterData; index as i">{{data.name}}</option> -->
                        </select>
                    </div>
                </div>

            </div>
            <div *ngIf="viewFetchBillDtl === false">
                <div *ngIf="opr.value !== ''">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <label for="">{{objData.displayname}}</label>
                            <input type="text" class="form-control" autocomplete="off" value="" #disValue
                                placeholder="{{objData.displayname}}" [(ngModel)]="disValueNg">

                        </div>
                    </div>
                    <div class="mt-3 text-center" *ngIf="objData.viewbill !== null">
                        <button *ngIf="objData.viewbill !== '1'" class="btn btn-primary" type="button"
                            (click)="payBill(opr.value, disValue.value)">Pay Bill</button>

                        <button *ngIf="objData.viewbill !== '0'" class="btn btn-success" type="button"
                            (click)="viewBill(opr.value, disValue.value)">View Bill</button>
                    </div>
                </div>
            </div>
            <div class="mt-3 row" *ngIf="viewFetchBillDtl !== false">
                <div class="col-sm-12 col-md-6 mx-auto">
                    <h3 class="text-center">Biller Details</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>name:</b></td>
                                <td>{{viewBillDtl.name}}</td>
                            </tr>
                            <tr>
                                <td> <b>Due Date:</b></td>
                                <td>{{viewBillDtl.duedate}}</td>
                            </tr>
                            <tr>
                                <td><b>Amount:</b></td>
                                <td>{{viewBillDtl.amount}}</td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="2"> <button class="btn btn-primary" type="button"
                                        (click)="payBills(opr.value, disValueNg)">Pay
                                        Bill</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>