<div class="container-fluid">
    <div class="row layout-top-spacing">
        <div id="basic" class="col-lg-12 layout-spacing">
            <div class="widget-content widget-content-area">
                <!-- <h1>Fund Request</h1> -->
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link   active" data-toggle="tab" role="tab" aria-controls="nav-home"
                            aria-selected="true" routerLinkActive="active-link"
                            [routerLinkActiveOptions]="{exact: true}" routerLink="/commission/othercomm">Paytm
                            Wallet</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-profile"
                            aria-selected="false" routerLinkActive="active-link"
                            routerLink="mobikcomm">MobiKwik Wallet</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-contact"
                            aria-selected="false" routerLinkActive="active-link"
                            routerLink="billpaycomm">BBPS</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-contact"
                            aria-selected="false" routerLinkActive="active-link"
                            routerLink="aadhaar">Aadhar Pay</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-contact"
                            aria-selected="false" routerLinkActive="active-link"
                            routerLink="cashdeposit">Cash Depsoit</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-contact"
                            aria-selected="false" routerLinkActive="active-link"
                            routerLink="ministatement">Mini Statement</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-contact"
                            aria-selected="false" routerLinkActive="active-link"
                            routerLink="settlement">Settlement</a>
                    </div>
                </nav>

                <hr>
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>