<div class="layout-px-spacing">
    <div class="row layout-spacing">
        <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

            <div class="user-profile education layout-spacing">
                <div class="widget-content widget-content-area">
                    <!-- <h3 class="">Information</h3> -->
                    <div class="text-center user-info">
                        <img src="https://gamma-server.paysprint.in/assets/img/favicon.png" alt="avatar">
                        <p class="">{{userData?.name }} </p>
                    </div>
                    <div class="user-info-list">

                        <div class="">
                            <ul class="contacts-block list-unstyled">
                                <li class="contacts-block__item">
                                    <i class="fas fa-university"></i> <span>{{ userData?.firmname }}</span>
                                </li>
                                <li class="contacts-block__item">
                                    <i class="fas fa-user"></i> <span>{{ userData?.username }}</span>
                                </li>
                                <li class="contacts-block__item">
                                    <i class="fas fa-envelope-open-text"></i><span><a
                                            href="{{'mailto:'+userData?.email}}">
                                            {{userData?.email }}</a></span>
                                </li>
                                <li class="contacts-block__item">
                                    <i class="fas fa-mobile-alt"></i> <span>{{ userData?.phone }} {{ userData?.altmobile
                                        ? ' / '+userData?.altmobile:'' }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="education layout-spacing" *ngIf="details.usertype =='5'">
                <div class="widget-content widget-content-area">
                    <h3 class="">Location</h3>
                    <div class="timeline-alter">
                        <div class="item-timeline">
                            <div class="t-meta-date">
                                <p class="">Address</p>
                            </div>
                            <div class="t-dot">
                            </div>
                            <div class="t-text">
                                <p>{{userData?.address}}</p>
                            </div>
                        </div>
                        <div class="item-timeline">
                            <div class="t-meta-date">
                                <p class="">State</p>
                            </div>
                            <div class="t-dot">
                            </div>
                            <div class="t-text">
                                <p>{{userData?.state}}</p>
                            </div>
                        </div>
                        <div class="item-timeline">
                            <div class="t-meta-date">
                                <p class="">Pincode</p>
                            </div>
                            <div class="t-dot">
                            </div>
                            <div class="t-text">
                                <p>{{userData?.pincode}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education layout-spacing" *ngIf="details.usertype =='5'">
                <div class="widget-content widget-content-area">
                    <h3 class="">PAN GST Details</h3>
                    <div class="timeline-alter">
                        <div class="item-timeline">
                            <div class="t-meta-date">
                                <p class="">GST NUMBER</p>
                            </div>
                            <div class="t-dot">
                            </div>
                            <div class="t-text">
                                <p>{{userData?.gstnumber }}</p>
                            </div>
                        </div>
                        <div class="item-timeline">
                            <div class="t-meta-date">
                                <p class="">PAN NUMBER</p>
                            </div>
                            <div class="t-dot">
                            </div>
                            <div class="t-text">
                                <p>{{userData?.pannumber }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
            <div class="bio layout-spacing " *ngIf="userdetails =='5'">
                <div class="widget-content widget-content-area">
                    <h3 class="">Virtual Account Details
                        <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                            title="<em>Get instant E-value through Virtual Account transfer through below steps:</em><br>STEP 1: Log into your bank’s net banking solution<br>STEP 2: Add your virtual account number as a recipient."></i>
                    </h3>
                    <div class="bio-skill-box">
                        <div class="row">
                            <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5" *ngFor="let va of vaaccount">
                                <div class="d-flex b-skills" [ngClass]="{'blur': va.status == 0}">
                                    <div class="">
                                        <h5 class="text-center">{{va.type}} BANK LIMITED</h5>
                                        <div class="text-center user-info">
                                            <img class="virtualimg" src="../../../assets/bank_logo/{{va.type}}.png">
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Beneficiary Name: PaySprint Pvt. Ltd.</li>
                                            <li class="list-group-item">Account No : {{ va.va_number}}</li>
                                            <li class="list-group-item">IFSC Code : {{ va.ifsc }}</li>
                                            <li class="list-group-item">Account Type: Current</li>
                                            <li class="list-group-item">Mode: Intra Bank, RTGS, NEFT & IMPS </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small><b class="badge-classic">Note:</b> Please modify the Bank name/IFSC code as per virtual
                            account details. </small>
                    </div>
                </div>
            </div>
            <div class="skills layout-spacing ">
                <div class="widget-content widget-content-area">
                    <h3 class="">Company Bank Details</h3>
                    <div class="table-responsive">
                        <table class="table mb-4">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Bank Name</th>
                                    <th>Account No</th>
                                    <th>IFSC Code</th>
                                    <th>Branch</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of CompanyDetails; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{list.name}}</td>
                                    <td>{{list.accno}}</td>
                                    <td>{{list.ifsc}}</td>
                                    <td>{{list.branch}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>